.audit {
  border-top: 1px solid $white;
  margin-top: 20px;
  padding-top: 10px;
  position: relative;

  &-button {
    width: 50%;

    .button {
      width: 85%;

      @include media ($tablet) {
        width: 90%;
      }
    }

    &--send {
      @include media($mobile) {
        width: 100%;
      }

      .button {
        width: 100%;

        @include media($desktop-only) {
          width: 70%;
        }
      }
    }
  }

  .form-textarea {
    width: 100%;
  }

  .icon {
    background-size: 30px;
    display: inline-block;
    height: 30px;
    position: relative;
    top: 7px;
    width: 30px;
  }

  &-header {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  .button {
    @extend %medium;
    font-size: 18px;
  }

  &--white {
    border-color: $mid-grey;

    .button-border {
      color: $grey;

      &:hover {
        border-color: $aqua;
        color: $aqua;
      }

      &:active,
      &:focus {
        color: $white;
      }

      &:disabled {
        background-color: $lighter-grey;
        color: $grey;

        &:hover {
          border-color: $white;
        }
      }
    }
  }
}
