.autocomplete {

  .form-dropdown {
    border-right: 0;

    @include media($desktop-only) {
      border-right: 1px solid $secondary-text-colour;
    }
  }

  .form-control {
    width: 100%;

    @include media($desktop-only) {
      width: 95%;
    }
  }

  .button {
    margin-top: 0;
    padding: 15px 20px;
    width: 100%;

    @include media($desktop-only) {
      margin-top: 45px;
    }
  }

  &-section {
    @include span-columns(12 of 12);

    @include media($desktop-only) {
      @include span-columns(5 of 14);
    }

    &--button {
      @include span-columns(12 of 12);
      order: 2;

      @include media($desktop-only) {
        @include span-columns(4 of 14);
        margin-right: 0;
      }
    }
  }

  @include media($mobile) {
    border-top: 1px solid $lighter-grey;
    margin-top: 25px;
    padding: 25px 0 0;
  }

  &-tags {
    order: 1;
  }

  .form-hint {
    @extend %regular;
    color: $grey;
  }

  &-form-group {
    display: inline-flex;
    flex-flow: column;
    width: 100%;

    @include media($desktop-only) {
      display: block;
    }
  }

  .form-dropdown-results {
    width: 100%;

    @include media($desktop-only) {
      width: 95%;
    }
  }

  &-status {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &-aside {
    @include prefix((border-radius: 3px), webkit moz);
    border: 1px solid $mid-grey;
    position: relative;

    .clear-all {
      position: absolute;
      right: 10px;
      top: 25px;

      @include media($mobile) {
        left: 0;
        margin: auto;
        right: 0;
        text-align: center;
        width: max-content;
        width: -webkit-max-content;
      }

    }

    @include media($desktop-only) {
      @include span-columns(3 of 12);
    }

    @include media($tablet) {
      @include span-columns(4 of 12);
    }

    .autocomplete-tags {
      order: 0;
    }

    .form-dropdown-tags {
      width: 100%;
    }
  }
}
