.breadcrumbs {
  padding-bottom: 30px;
  padding-top: 20px;

  @include media (mobile) {
    padding-bottom: 20px;
  }

  li {
    @extend %light;
    @extend %font-xxsmall;
    background-image: url('/static/images/separator-2x.png');
    background-size: 6px 11px;
    font-family: $brand-font-family;

    a {
      border-bottom: 1px solid;
      color: $grey;
      text-decoration: none;
    }

    &:last-child {

      a {
        border-bottom: 0;
        text-decoration: none;
      }
    }
  }
}
