@each $name, $bg-color, $visited, $hover, $color, $color-hover, $bg-image, $outline in $button {
  .button {
    @include prefix((border-radius: 3px), webkit moz);
    box-shadow: none;
    font-family: $brand-font-family;
    font-weight: 900;

    &-#{$name} {
      background-color: $bg-color;
      @if $bg-image != null {
        background-image: url($bg-image);
      }
      color: $color;
      outline: $outline;

      &:link,
      &:visited {
        background-color: $visited;
        color: $color-hover;
      }

      &:hover {
        background-color: $hover;
        color: $color-hover;
      }

      &:focus,
      &:active {
        background-color: $aqua;
      }
    }
  }
}

.button {
  &-large {
    @extend %font-regular;
    padding: 15px 30px;
  }

  &-medium {
    @extend %font-regular;
    padding: 13px 38px;
  }

  &-close {
    background-color: transparent;
    font-weight: 300;
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    &:before {
      @extend %font-regular;
      color: $flag-red;
      content: 'X';
      font-size: 24px;
      left: -35px;
      top: -5px;
    }
  }

  &-start {
    background-image: none;
  }

  @include media ($mobile) {
    font-size: 18px;
    padding: 14px;
    text-align: center;
  }

  &-border {
    border: 2px solid;
    padding: {
      bottom: 10px;
      top: 10px;
    };

    &:hover {
      border-color: $white;
    }

    &:disabled {
      background-color: $white;
      border-color: $white;
      color: $aqua;

      &:hover {
        background-color: $white;
      }
    }

    &:focus {
      color: $white;
    }
  }

  &-border-blue {
    border: 2px solid;
    padding: {
      bottom: 10px;
      top: 10px;
    };

    &:hover {
      border-color: $aqua;
    }

    &:focus {
      color: $white;
    }
  }

  &-block {
    display: block;
  }

  &-full {
    width: 100%;
  }
}

.js-enabled {
  .button-submit {
    display: none;
  }
}
