.carousel {
  background-color: $white;
  overflow: hidden;

  &-panel {
    height: 330px;
    padding: 80px 0 95px;

    @include media($mobile) {
      height: 380px;
    }
  }

  p {
    margin: auto;
    width: 400px;

    @include media($mobile) {
      padding: 0 10px;
      width: 100%;
    }
  }

  .slick-arrow {
    @extend %remove-text;
    @include prefix((box-shadow: 1px -1px 0 1px $white inset), webkit moz);
    background-color: transparent;
    border: solid transparent;
    bottom: 0;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 40px;
    z-index: 2;

    @include media($mobile) {
      bottom: 85px;
      top: inherit;
    }
  }

  .slick-prev {
    left: 20px;
  }

  .slick-next {
    right: 20px;
    transform: rotate(225deg);
  }

  .slick-dots {
    padding: 10px 0 20px;

    li {
      display: inline-block;
      margin: 0 10px;
    }

    button {
      @extend %remove-text;
      background-color: $grey;
      border: 0;
      border-radius: 10px;
      height: 12px;
      padding: 0;
      width: 12px;
    }
  }

  .slick-active {
    button {
      background-color: $aqua;
    }
  }
}
