.form-dropdown {
  position: relative;

  @include media(mobile) {
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  &-header {
    margin-bottom: 5px;
  }

  &-results {
    background-color: $light-stone;
    border-left: 1px solid $stone;
    border-right: 1px solid $stone;
    max-height: 137px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 4;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
      border: 0;
    }
  }

  &-list {
    border-bottom: 1px solid $stone;
    display: block;

    &.active {
      background-color: $aqua;

      a {
        color: $white;
      }
    }
  }

  &-option {
    color: $grey;
    display: block;
    padding: 5px 10px;
    text-decoration: none;

    &:visited {
      color: $grey;
    }

    &:hover,
    &.active {
      outline: 2px solid $aqua;
    }
  }

  &-tags {

    li {
      background-color: $stone;
      border-radius: 10px;
      color: $graphite;
      display: inline-block;
      font-size: 14px;
      margin: 10px 3px 0 0;
      padding: 7px;

      @include media(mobile) {
        font-size: 13px;
        margin-top: 6px;
      }
    }

    &--close {
      background-color: $mid-blue;
      border: 0;
      border-radius: 10px;
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-size: 15px;
      height: 20px;
      line-height: 20px;
      margin-left: 5px;
      padding: 0;
      text-align: center;
      text-decoration: none;
      width: 20px;

      &:visited {
        color: $white;
      }
    }
  }

}
