.filters {

  &-form {
    display: none;
    position: relative;

    .button-close {
      position: absolute;
      right: 40px;
      top: 20px;
    }
  }

  .form-control {
    border: 1px solid $secondary-text-colour;
    height: 40px;
    width: 100%;
  }

  li {
    padding: 0;

    &:last-child {

      a {
        border: 0;
      }
    }
  }

  &-tab {
    margin: 0 10px;

    @include breakpoint(tablet) {
      margin: 0;
    }

    @include media(mobile) {
      display: none;
    }

    i {
      background-position: bottom center;
      background-size: contain;
      display: block;
      height: 30px;
      margin: 0 auto 5px;
      width: 30px;
    }
  }

  &-tab--item {
    border-right: 1px solid $white;
    display: block;
    padding: 15px 0;
    text-align: center;

    &:link {
      color: $great-primary;
      position: relative;
      text-decoration: none;

      &:after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $great-primary;
        content: '';
        height: 0;
        margin-left: 5px;
        position: absolute;
        top: 55px;
        width: 0;
      }
    }

    &.active,
    &:hover,
    &:focus  {
      background-color: $great-primary;
      color: $white;
      outline: 0;

      .icon-products {
        background-image: url('#{$image-path}icons/product-white.svg');
      }

      .icon-fees {
        background-image: url('#{$image-path}icons/fees-white.svg');
      }

      .icon-on-boarding {
        background-image: url('#{$image-path}icons/onboarding-white.svg');
      }

      .icon-countries {
        background-image: url('#{$image-path}icons/region-white.svg');
      }

      .icon-translation {
        background-image: url('#{$image-path}icons/translation-white.svg');
      }

      .icon-logistics {
        background-image: url('#{$image-path}icons/logistics-white.svg');
      }

    }

  }

  &-section {
    background-color: $great-primary;
    color: $white;
    margin: 0 10px;
    padding: 50px 30px 25px;

    @include breakpoint(tablet) {
      margin: 0;
    }

  }


  &-options {
    display: none;

    &--border {
      border-right: 1px solid $light-grey;
      margin-right: 30px;
    }

    &.show {
      display: block;
    }
  }

  &-options--list {
    display: block;
    padding: 0;

    &:last-child {

      a {
        border: 0;
      }
    }

    li {
      padding-bottom: 10px;
      width: 100%;
    }
  }

  #results-form {
    .icon {
      bottom: 15px;
      left: 20px;
      position: absolute;
    }
  }

  &-results {
    background-color: $light-stone;
    border-left: 1px solid $stone;
    border-right: 1px solid $stone;
    position: absolute;
    width: 100%;
    z-index: 4;
  }

}
