.filters {

  &-header {
    display: block;
  }

  &-form {
    display: none;
    position: relative;

    .button-close {
      position: absolute;
      right: 40px;
      top: 20px;
    }
  }

  .block-label {
    background: $grey-4;
  }

  .form-control {
    border: 1px solid $secondary-text-colour;
    height: 40px;
    width: 100%;
  }

  h4 {
    text-transform: capitalize;
  }

  .dropdown {
    margin-top: 21px;
  }

  &-result {
    color: $white;
    text-align: center;
  }

  li {
    display: block;
    padding: 0;


    &:last-child {

      a {
        border: 0;
      }
    }

  }

  .button-result {
    background-color: $white;
    box-shadow: none;
    color: $link-colour;
    font-weight: 900;
    padding: 15px 70px;
  }


  @media (min-width: 641px) {
    &-container {
      height: 165px;
      position: relative;
    }
  }

  &-tab {
    margin: 0 10px;

    @include breakpoint(tablet) {
      margin: 0;
    }

    @include media(mobile) {
      display: none;
    }

    i {
      background-position: bottom center;
      background-size: contain;
      display: block;
      height: 30px;
      margin: 0 auto 5px;
      width: 30px;
    }
  }

  &-tab--item {
    border-right: 1px solid $white;
    display: block;
    padding: 15px 0;
    text-align: center;

    &:link {
      color: $great-primary;
      position: relative;
      text-decoration: none;

      &:after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $great-primary;
        content: '';
        height: 0;
        margin-left: 5px;
        position: absolute;
        top: 55px;
        width: 0;
      }
    }

    &.active,
    &:hover,
    &:focus  {
      background-color: $great-primary;
      color: $white;
      outline: 0;

      .icon-products {
        background-image: url('#{$image-path}icons/product-white.svg');
      }

      .icon-fees {
        background-image: url('#{$image-path}icons/fees-white.svg');
      }

      .icon-on-boarding {
        background-image: url('#{$image-path}icons/onboarding-white.svg');
      }

      .icon-countries {
        background-image: url('#{$image-path}icons/region-white.svg');
      }

    }

  }

  &-section {
    background-color: $great-primary;
    color: $white;
    margin: 0 10px;
    padding: 30px;

    @include breakpoint(tablet) {
      margin: 0;
    }

  }

  .block-label--top {
    background: none;
    border: 0;
    margin-bottom: 0;
    padding: 17px 0 0 30px;

    input {
      left: 0;
    }

  }


  &-options {
    display: none;

    ul {
      @include prefix((flex-wrap: 'wrap'), webkit);
      display: flex;
      float: left;
      margin-bottom: 30px;
      width: 100%;

      li {
        float: left;
        padding-bottom: 10px;
        width: 33%;
      }
    }

    &.show {
      display: block;
    }

    p {
      margin-bottom: .4em;
      margin-top: 1.4em;
    }
  }

  #results-form {
    .icon {
      bottom: 15px;
      left: 20px;
      position: absolute;
    }
  }

}
