.filters {

  &-header,
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .block-label {
    background: $grey-4;
  }

  .form-control {
    border: 1px solid $secondary-text-colour;
    height: 40px;
    width: 100%;
  }

  h4 {
    text-transform: capitalize;
  }

  .dropdown {
    margin-top: 21px;
  }

  &-result {
    color: $white;
    text-align: center;
  }

  li {
    display: block;
    padding: 0;


    &:last-child {

      a {
        border: 0;
      }
    }

  }

  &-button-group {
    text-align: right;

    .button {
      padding: 10px 30px;
    }
  }

  .button-result {
    background-color: $white;
    box-shadow: none;
    color: $link-colour;
    font-weight: 900;
    padding: 15px 70px;
  }


  @media (min-width: 641px) {
    &-container {
      height: 165px;
      position: relative;
    }
  }

  .icon {
    bottom: 15px;
    left: 20px;
    position: absolute;
  }

  &-tab--item {
    border-right: 1px solid $white;
    display: block;
    padding: 30px 0;
    text-align: center;

    &:link {
      color: $black;
      text-decoration: none;
    }

    &.active,
    &:hover,
    &:focus  {
      background-color: $secondary-text-colour;
      color: $white;
      outline: 0;
    }
  }

  &-section {
    background-color: $secondary-text-colour;
    color: $white;
    padding: 10px 10px 30px;
  }

  .block-label--top {
    background: none;
    border: 0;
    margin-bottom: 0;
    padding: 17px 0 0 30px;

    input {
      left: 0;
    }

  }


  &-options {
    display: none;

    ul {
      @include prefix((flex-wrap: 'wrap'), webkit);
      display: flex;
      float: left;
      margin-bottom: 30px;
      width: 100%;

      li {
        float: left;
        padding-bottom: 10px;
        width: 33%;
      }
    }

    &.show {
      display: block;
    }

    p {
      margin-bottom: .4em;
      margin-top: 1.4em;
    }
  }

}
