#footer {
  background-color: $great-primary;
  border-top: 0;
  padding-bottom: 50px;

  .footer-wrapper {
    background-color: $great-primary;

    .grid-row {
      @include media (mobile) {
        display: flex;
        flex-flow: column;

        .logo {
          order: 3;
        }

        .links {
          order: 2;

          .footer-section {

            @include media (mobile) {
              column-count: 2;
            }
          }
        }

        .subscribe   {
          order: 1;

          .footer-section {
            border: 0;
          }
        }

      }
    }

  }

  .footer-links {

    margin-bottom: 6px;

    a {
      border-bottom: 1px solid $light-grey;
      border-bottom-color: $lighter-grey-opacity;
      color: $white;
      margin-left: 50px;
      padding-bottom: 2px;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        border-bottom: 1px dashed $white;
      }

      @include media (mobile) {
        margin-left: 0;
      }
    }
  }

  .footer {

    &-img {
      width: 250px;

      &--top {
        margin-bottom: 5px;
      }

      &--bottom {
        margin-top: 10px;
      }

      &--eig {
        width: 170px;
      }
    }

    &-section {
      @include media (mobile) {
        border-top: 1px solid $light-grey;
        border-top-color: $lighter-grey-opacity;
        padding: 30px 0;
      }


    }

  }

  h3 {
    color: $white;
    font-size: 24px;
  }

  .form-label {
    color: $white;
  }

  .form-control {
    border: 0;
    margin: 10px 0 20px;
    width: 100%;
  }

}

