.navigation {

  a {
    display: block;
  }

  &-main {
    @extend %anchor-white;

    &-section {
      position: relative;
    }

    li {
      &:after {
        top: 7px;
      }
    }

    a {
      font-size: $small;
    }

    &-link {
      padding: 8px 11px 7px;

      &:focus {
        @include navigation-focus;
      }

      &:hover,
      &--active {

        &:after {
          border-top: 3px solid $great-secondary;
          content: '';
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    &-menu {
      overflow-x: hidden;
      padding-right: 70px;
      white-space: nowrap;

      @include media($mobile) {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-toggle {
    display: none;
    padding: 28px 0 25px;

    &-item {
      padding: 13px 25px 0;
      position: relative;

      &:first-child {
        padding-top: 0;

        @include media($mobile) {
          padding-top: 13px;
        }
      }

      a {
        @extend %transparent-border;
        display: inline;

        &.last {
          border: 0;
        }

        &.navigation-toggle-active,
        &:hover {
          border: {
            bottom-width: 1px;
            style: dashed;
          }
          padding-bottom: 5px;

          @include media($mobile) {
            border-style: solid;
            display: block;
            padding-bottom: 10px;

            &:after {
              border: {
                bottom: 10px solid transparent;
                left: 15px solid $great-secondary;
                top: 10px solid transparent;
              }
              content: '';
              height: 0;
              left: 0;
              position: absolute;
              top: 15px;
              width: 0;
            }
          }
        }

        @include media($mobile) {
          border: {
            bottom-width: 1px;
            style: solid;
          }
          display: block;
          padding-bottom: 10px;

          &.navigation-toggle-active,
          &:hover {

            &.last {
              border: 0;
            }
          }
        }
      }

      &-last {
        border: 0;
      }
    }

    &-services {

      @include media($mobile) {
        background-color: $light-blue;
        font-weight: 500;
      }
    }

    &--open {
      display: block;
    }

    .outer-container {

      @include media($mobile) {
        margin: 0;
        width: 100%;
      }
    }

    @include media($mobile) {
      padding: 0;

      .col-3 {
        @include span-columns(12 of 12);
      }
    }

    &-middle {
      @extend %transparent-color;
      border: {
        left: 1px;
        style: solid;
      }
      padding-left: 15px;

      @include media($mobile) {
        border: 0;
        padding: 0;
      }
    }
  }

  &-main-button {
    background-color: $light-blue;
    border-left: 2px solid $black;
    border-radius: 0;
    font-size: 15px;
    font-weight: 300;
    padding: 8px 10px 5px;
    position: absolute;
    right: 0;
    top: 0;

    &:focus {
      @include navigation-focus;
    }

    .icon {
      height: 12px;
      line-height: 15px;
      margin-right: 2px;
      top: 1px;
      width: 25px;
    }

    &:hover,
    &--open {
      background-color: $dark-navy;
      border-top: 3px solid $great-secondary;
      bottom: 0;
      display: block;
      padding-top: 5px;

      @include media($mobile) {
        border: {
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    @include media($mobile) {
      background: transparent;
      border: 1px solid;
      border-color: $border-color-fallback;
      border-color: $border-color;
      top: -50px;
    }
  }

  &-strip {
    padding: 8px 0 3px;

    a {
      font-size: $xsmall;
      padding: 0 5px 0 2px;
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
    }
  }

  &-logo {
    @include logo-in-link;
    padding: 17px 0 11px;

    @include media($mobile) {
      width: 70%;
    }
  }
}
