#global-header {
  background-color: $great-primary;
  padding-bottom: 9px;
  padding-top: 15px;

  .header-main-logo {
    width: $logo-width;

    @include media (mobile) {
      width: 70%;
    }
  }

  &--right {
    @include breakpoint (tablet) {
      padding: 0;
      width: 100%;
    }
  }

  .header-hm-logo {
    @include media (mobile) {
      display: none;
    }
  }

  .header-nav {
    padding-top: 20px;
    text-align: right;

    @include breakpoint (tablet) {
      display: none;
      padding: 10px 0;
      text-align: left;
    }

    &--top {
      display: none;

      @include breakpoint (tablet) {
        display: block;
      }
    }

    &.open {
      @include breakpoint (tablet) {
        display: block;
      }
    }

    &-link {
      @extend %medium;
      display: inline-block;
      list-style-type: none;
      padding-left: 22px;

      @include breakpoint(tablet) {
        border-bottom: 1px solid $light-grey;
        border-bottom-color: $lighter-grey-opacity;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px 0;
        position: relative;

        @include breakpoint(tablet) {
          width: 93%;
        }

        @include media (mobile) {
          width: 85%;
        }

        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }

      }

      a {
        color: $white;
        padding-bottom: 4px;
        text-decoration: none;


        &:hover,
        &.active {
          border-bottom: 4px solid $flag-red;

          @include breakpoint(tablet) {
            border-bottom: 0;

            &:before {
              border: 6px solid $flag-red;
              content: '';
              height: 10px;
              left: -20px;
              position: absolute;
            }
          }
        }

        &:hover {
          border-color: $lighter-grey;

          @include breakpoint(tablet) {
            &:before {
              border-color: $lighter-grey;
            }
          }
        }

        @include breakpoint(tablet) {
          border-bottom: 0;
        }

      }

      &:last-child {
        margin-left: 0;
        @include breakpoint(tablet) {
          margin-left: 20px;
        }
      }
    }

    &-toggle {
      color: $white;
      display: none;
      font-weight: bold;
      position: absolute;
      right: 10px;
      text-decoration: none;
      text-transform: uppercase;
      top: 35px;

      .icon-menu {
        height: 20px;
        line-height: 31px;
        margin-left: 10px;
        position: relative;
        top: 4px;
        width: 25px;
      }

      &--open {
        color: $white;
      }

      &:focus {
        color: $white;
        outline: 0;
      }

      @include breakpoint(tablet) {
        display: block;
      }
    }
  }
}
