.nav-intro {
  h3,
  ul,
  li {
    display: inline-block;
  }

  a {
    @extend %regular;
    border-bottom: 1px solid $light-grey;
    border-bottom-color: $lighter-grey-opacity;
    color: $white;
    padding-bottom: 2px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dashed $white;
    }
  }

  @include breakpoint (tablet) {
    display: none;
  }
}
