.read-time {
  @extend %font-xxxsmall;
  border-top: 3px solid $stone;
  display: table;
  padding-top: 5px;

  dt {
    color: $mid-grey;
    display: inline;
    margin-right: 5px;
  }

  dd {
    display: inline;
  }
}
