// Create vendor prefixes
@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{'-' + $vendor + '-' + $prop}: #{$value};
      }
    }
    #{$prop}: #{$value};
  }
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin radio-checked {

  &:after {
    @include prefix((border-radius: 50%), webkit moz);
    border: 10px solid $mid-blue;
    content: '';
    filter: alpha(opacity=0);
    height: 0;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 7px;
    width: 0;
    zoom: 1;
  }
}

@mixin checkbox-checked {

  &:after {
    @include prefix((transform: rotate(-45deg)), webkit moz ms o);
    background: transparent;
    border: solid;
    border-color: $mid-blue;
    border-width: 0 0 5px 5px;
    content: '';
    filter: alpha(opacity=0);
    height: 5px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 7px;
    width: 14px;
    zoom: 0;
  }
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// Set font dimensions
@mixin font($font-size, $letter-spacing, $line-height: '') {
  font-size: $font-size;
  letter-spacing: $letter-spacing;

  @if $line-height != '' {
    line-height: $line-height;
  }
}

@mixin gradient {
  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+1,0+100
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=');
  background: -moz-linear-gradient(left, $gradient-start 0%, $gradient-start 1%, $gradient-end 100%); // FF3.6-15
  background: -webkit-linear-gradient(left, $gradient-start 0%, $gradient-start 1%, $gradient-end 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(to right, $gradient-start 0%, $gradient-start 1%, $gradient-end 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); // IE6-8
}
