// Based on https://github.com/csswizardry/inuit.css/blob/master/generic/_helper.scss

// Text alignment
.text--left     { text-align: left; }
.text--center   { text-align: center; }
.text--right    { text-align: right; }


// Add/remove margins
.push           { margin: $base-spacing-unit; }
.push--top      { margin-top: $base-spacing-unit; }
.push--right    { margin-right: $base-spacing-unit; }
.push--bottom   { margin-bottom: $base-spacing-unit; }
.push--left     { margin-left:  $base-spacing-unit; }

.push--ends     {
  margin-bottom: $base-spacing-unit;
  margin-top: $base-spacing-unit;
}

.push--sides    {
  margin-left:  $base-spacing-unit;
  margin-right: $base-spacing-unit;
}

.push-half          { margin: $half-spacing-unit; }
.push-half--top     { margin-top: $half-spacing-unit; }
.push-half--right   { margin-right: $half-spacing-unit; }
.push-half--bottom  { margin-bottom: $half-spacing-unit; }
.push-half--left    { margin-left:  $half-spacing-unit; }

.push-half--ends    {
  margin-bottom: $half-spacing-unit;
  margin-top: $half-spacing-unit;
}

.push-half--sides   {
  margin-left:  $half-spacing-unit;
  margin-right: $half-spacing-unit;
}

.flush          { margin: 0; }
.flush--top     { margin-top: 0; }
.flush--right   { margin-right: 0; }
.flush--bottom  { margin-bottom: 0; }
.flush--left    { margin-left:  0; }

.flush--ends    {
  margin-bottom: 0;
  margin-top: 0;
}

.flush--sides   {
  margin-left:  0;
  margin-right: 0;
}


// Add/remove paddings
.soft           { padding: $base-spacing-unit; }
.soft--top      { padding-top: $base-spacing-unit; }
.soft--right    { padding-right: $base-spacing-unit; }
.soft--bottom   { padding-bottom: $base-spacing-unit; }
.soft--left     { padding-left:  $base-spacing-unit; }

.soft--ends     {
  padding-bottom: $base-spacing-unit;
  padding-top: $base-spacing-unit;
}

.soft--sides    {
  padding-left:  $base-spacing-unit;
  padding-right: $base-spacing-unit;
}

.soft-half           { padding: $half-spacing-unit; }
.soft-half--top      { padding-top: $half-spacing-unit; }
.soft-half--right    { padding-right: $half-spacing-unit; }
.soft-half--bottom   { padding-bottom: $half-spacing-unit; }
.soft-half--left     { padding-left:  $half-spacing-unit; }

.soft-half--ends     {
  padding-bottom: $half-spacing-unit;
  padding-top: $half-spacing-unit;
}

.soft-half--sides    {
  padding-left:  $half-spacing-unit;
  padding-right: $half-spacing-unit;
}

.hard           { padding: 0; }
.hard--top      { padding-top: 0; }
.hard--right    { padding-right: 0; }
.hard--bottom   { padding-bottom: 0; }
.hard--left     { padding-left:  0; }

.hard--ends     {
  padding-bottom: 0;
  padding-top: 0;
}

.hard--sides    {
  padding-left:  0;
  padding-right: 0;
}



// Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
.cf {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.image {
  &-full {
    width: 100%;
  }
}

.hide {
  display: none;

  &-mobile {
    @include media($mobile) {
      display: none;
    }
  }
}

.show {
  display: block;
}

.float--right   { float: right; }
.float--left    { float: left; }
.float--none    { float: none; }

.loader {
  background-color: $transparent-background;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  &:after {
    @include prefix((animation: spin 1s linear infinite), webkit);
    border: 5px solid $body-background-color;
    border-radius: 50%;
    border-top: 5px solid $mid-blue;
    content: '';
    display: block;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
  }

}

.desktop-only {
  display: none;

  @include media ($tablet) {
    display: block;
  }
}

.overflow {
  &--hidden {
    overflow: hidden;
  }
}

.min-height {
  min-height: 550px;

  @include media ($mobile) {
    min-height: 0;
  }
}

.border {
  border: 1px solid $lighter-grey;

  &-top {
    border-top: 1px solid $lighter-grey;
  }
}

.text-shadow {
  text-shadow: 0 2px 2px $transparent-background;

  @include media ($mobile) {
    text-shadow: none;
  }
}

.section-clickable {
  position: relative;

  a {
    @extend %whole-section-clickable;
  }
}
