// Create vendor prefixes
@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{'-' + $vendor + '-' + $prop}: #{$value};
      }
    }
    #{$prop}: #{$value};
  }
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

// Define breakpoint for mobile and tablet
@mixin breakpoint ($device) {

  @if ($device == tablet) {
    @media (max-width: $tablet) {
      @content;
    }
  } @else {
    @media (max-width: $mobile) {
      @content;
    }
  }
}

@mixin radio-checked {

  &:after {
    @include prefix((border-radius: 50%), webkit moz);
    border: 10px solid;
    content: '';
    filter: alpha(opacity=0);
    height: 0;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 0;
    zoom: 1;
  }
}

@mixin checkbox-checked {

  &:after {
    @include prefix((transform: rotate(-45deg)), webkit moz ms o);
    background: transparent;
    border: solid;
    border-width: 0 0 5px 5px;
    content: '';
    filter: alpha(opacity=0);
    height: 5px;
    left: 5px;
    opacity: 1;
    position: absolute;
    top: 7px;
    width: 14px;
    zoom: 1;
  }
}
