# .coveragerc to control coverage.py
[run]
source = app
branch = True
omit = */admin.py,api/wsgi.py,manage.py,*/migrations/*,*/tests/*,.venv/*,conftest.py,*/settings/*

[report]
ignore_errors = True

[html]
directory = coverage_html_report
