language: python
python:
- "3.5"
before_install:
- nvm install 5.0.0
install:
- npm install
- npm rebuild node-sass
- pip install -r requirements_for_test.txt
script:
- npm run build 
- ./scripts/run_tests.sh
