contextlib2==0.5.4
dj-database-url==0.4.1
Django==1.9.12
django-ckeditor==5.0.3
django-grappelli==2.8.3
django-ip-restriction==0.9.0
django-reversion==2.0.8
gunicorn==19.6.0
Pillow==3.3.2
psycopg2==2.6.2
raven==5.31.0
whitenoise==3.2.1
Whoosh==2.7.4
