appdirs==1.4.3
boto3==1.7.31
contextlib2==0.5.4
dj-database-url==0.4.1
Django>=2.2.22
django-admin-ip-restrictor==1.0.0
django-appconf==1.0.1
django-ckeditor==5.6.1
django-environ==0.4.5
django-grappelli==2.10.4
django-image-cropping==1.0.4
django-reversion==2.0.8
django-storages==1.5.2
django-thumber==2.0.0
django_extensions==2.1.6
docutils==0.13.1
docker-py==1.2.1
easy-thumbnails==2.5
gunicorn==19.6.0
jmespath==0.9.1
packaging==16.8
Pillow>=8.1.1
psycopg2==2.7.3.2
pyparsing==2.2.0
python-dateutil==2.8.1
raven>=6.4.0
urllib3>=1.26.5<2.0.0
requests>=2.25.0
s3transfer==0.1.10
six==1.12.0
whitenoise==3.2.1
Whoosh==2.7.4
directory_components==37.2.0
directory-sso-api-client==6.3.0
django-staff-sso-client==0.4.0
directory-cms-client==11.0.0
sigauth>=4.0.0,<5.0.0
markdown2==2.4.0
beautifulsoup4==4.6.0
djangorestframework>=3.11.2
uk-postcode-utils==1.0
