appdirs==1.4.3
boto3==1.7.31
contextlib2==0.5.4
dj-database-url==0.4.1
Django==1.9.13
django-appconf==1.0.1
django-ckeditor==5.0.3
django-environ==0.4.5
django-grappelli==2.8.3
django-image-cropping==1.0.4
django-reversion==2.0.8
django-storages==1.5.2
django-thumber==1.0.0
docutils==0.13.1
docker-py==1.2.1
easy-thumbnails==2.3
gunicorn==19.6.0
jmespath==0.9.1
packaging==16.8
Pillow>=3.3.2
psycopg2==2.6.2
pyparsing==2.2.0
python-dateutil==2.6.0
raven==5.31.0
requests>=2.6.1
s3transfer==0.1.10
six==1.10.0
whitenoise==3.2.1
Whoosh==2.7.4
django-admin-ip-restrictor==0.1.0
directory-components==2.8.1
export-elements==0.13.0
directory-constants==6.8.0
directory-sso-api-client==2.5.1
directory-validators==5.0.0
sigauth==2.1.2
markdown2==2.3.5
beautifulsoup4==4.6.0
