.detail-section {

  &-header {
    border-color: $great-primary;
    border-top: 1px solid;
    color: $great-primary;
    margin-top: 65px;
    padding-bottom: 30px;
    position: relative;

    &--first {
      @include media ($desktop-only) {
        margin-top: 0;
      }
    }

    @include media ($mobile) {
      border: 0;
      margin-top: 50px;
    }

  }

  &--top {
    @include media ($mobile) {
      padding-top: 70px;
    }
  }

  &--back {
    @include media ($mobile) {
      left: 15px;
      position: absolute;
      top: 0;
    }
  }

  &--terms {
    @include span-columns(12 of 12);
    border: 1px dashed $mid-grey;
    clear: both;
    padding: 20px 20px 10px;
    position: relative;

    @include media ($tablet) {
      margin-right: 0;
      margin-top: 30px;
    }

    @include media ($mobile) {
      margin-top: 20px;
    }

    &--header {
      padding-left: 40px;
    }

    &--arrow {

      background: $great-secondary;
      display: block;
      height: 26px;
      left: -10px;
      position: absolute;
      width: 34px;


      &:after {
        border: {
          bottom: 13px solid transparent;
          left: 16px solid $great-secondary;
          top: 13px solid transparent;
        }
        content: '';
        height: 0;
        position: absolute;
        right: -16px;
        width: 0;
      }

      @include media($mobile) {
        top: 15px;
      }

    }

    &--divider {
      margin-top: -10px;
    }

    &--info {
      @include media($tablet) {
        @include span-columns(6 of 12);
        padding-right: 30px;
      }
    }

    &--button {
      @include media($tablet) {
        @include span-columns(6 of 12);
      }
    }

    @include media ($desktop-only) {
      @include span-columns(4 of 12);
      clear: none;
    }

    &--right {
      @include media ($desktop-only) {
        bottom: 300px;
        position: absolute;
        right: 0;
      }

      @include media($tablet) {
        padding-bottom: 10px;

        .separator {
          @include span-columns(2 of 12);
          padding-top: 15px;
        }

        .button-section {
          @include span-columns(5 of 12);
        }

        .detail-section--terms--button,
        .detail-section--terms--info {
          @include span-columns(12 of 12);
        }
      }
    }

  }

  h3 {
    @extend %medium;
    background: $bright-grey;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 0 10px 0 0;
    position: absolute;
    top: -15px;

    &.header-icon {
      padding-left: 70px;
      @include media ($mobile) {
        font-size: 19px;
        padding-left: 42px;
        padding-right: 5px;
      }
    }
  }

  &.detail-section--format {
    dt,
    dd {
      @extend %font-regular;
    }
  }

  dt,
  &-title {
    font-size: 19px;
    padding: 20px 0 10px;

    @include media ($mobile) {
      font-size: 15px;
      font-weight: 500;
    }

    &.subtitle {
      @extend %font-xxsmall;
      @extend %medium;
      padding-top: 10px;
    }

    &.hard--top {
      padding-top: 0;
    }

    &.hard--bottom {
      padding-bottom: 0;
    }
  }

  dd {
    line-height: 23px;

    p {
      margin-bottom: 0;
    }
  }

  @include media ($mobile) {
    border-top: 1px solid $mid-grey;
    margin-top: 40px;
  }

}

.detail-container {
  @include media ($desktop-only) {
    @include span-columns(8 of 12);
    padding-right: 20px;

  }
}

.detail-sub-section {
  position: relative;
}
