.hero-section {
    h1 {
      @include heading-hero-mob;
      margin-bottom: 10px;
    }
  
    .search-section p {
      width: 100%;
      font-size: $font-size-s;
    }
    
    .breadcrumbs-section {
      padding: $spacing-3-m 0;
    }
  
    @media screen and (min-width: 768px) {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      padding: 0 0 $spacing-3 0;
  
        h1 {
            @include heading-hero;
            margin-bottom: $spacing-4;
        }
    
        .search-section p {
            width: $cols-8;
            font-size: $font-size-m;
        }
    
        .number {
            @include heading-m;
        }
        .breadcrumbs-section {
            background-color: transparent;
            color: $white;
            padding: $spacing-3 0;
        }
        .search-section {
            background-color: transparent;
            color: $white;
        }
    }
}


.description.case-study-intro {
    @include body-s;
}

.exporter-stories {
    h3.heading-large {
            margin-bottom: 15px;
    }

}

.random-markets, .how-can-we-help-you-online, .exporter-stories, .how-can-we-help-you {
    .card-grid {
        margin-top: 60px;
    }

    .card {
        margin-bottom: 0px;
        .card-image {
            background-size: auto;
            background-position: center; 
        }
        .card-inner {
            padding-bottom: 30px;
        }
    }

    h3.heading-large {
        font-size: $font-size-l;
        font-weight: bold;
        margin-bottom: 0.5em;
        font-family: $brand-font-alternative;
    }
}

.how-can-we-help-you,
.how-can-we-help-you-online {
    .card {
        .card-inner {
            padding: 15px 0 30px;
        }
        .card-image {
            height: 60px;
        }
    }
}

.random-markets {
    .card {
        .card-inner {
            padding-top: 30px;
        }
    }
}
  