@import '../reskin-styles/colors/colors.scss';
.hero-section {
    h1 {
      @include heading-hero-mob;
      margin-bottom: 10px;
    }

    .search-section p {
      width: 100%;
      font-size: $font-size-s;
    }

    .search-form {
        margin-top: 10px;
    }

    .breadcrumbs-section {
      padding: $spacing-3-m 0;
    }

    @media screen and (min-width: 769px) {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      padding: 0;

        h1 {
            @include heading-hero;
            margin-bottom: $spacing-4;
        }

        .search-section p {
            width: $cols-8;
            font-size: $font-size-m;
        }

        .search-form {
            margin-top: 0;
        }

        .number {
            @include heading-m;
        }
        .breadcrumbs-section {
            background-color: transparent;
            color: $white;
            padding: $spacing-3 0;
            a, a:visited {
                color: $white;
            }
        }
        .search-section {
            background-color: transparent;
            color: $white;
        }
    }
}

.description.case-study-intro {
    @include body-s;
}

.exporter-stories {
    h3.heading-large {
        margin-bottom: 15px;
    }
}

.random-markets, .how-can-we-help-you-online, .exporter-stories, .how-can-we-help-you {

    .card {
        margin-bottom: 10px;
        .card-image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 200px;
        }
        .card-inner{
            p{
                padding-left:0;
                padding-right: 0;
            }
        }
    }

    h2.heading-large {
        line-height: 1.3em;
        font-size: 36px;
                              @media only screen and (max-width: $mobile-size) {
 font-size: 28px;
 &.page-title{
    font-size: 36px;
 }
}
    }
    h2 + p {
        margin-top: 20px
    }

    h3.heading-large {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 0.5em;
        font-family: $brand-font-alternative;
        @media only screen and (max-width: $mobile-size) {
 font-size: 24px;
}
    }


    .subheading {
        font-size: 16px;
    }
}

.how-can-we-help-you-online {
    border-top: 2px solid $color-grey-background;
    .help-benefit {
        .inner {
            margin-bottom: 0;
            padding: 0 0 30px;
        }
    }
}
.how-can-we-help-you {

    .margin-top-60-l{
      @media only screen and (max-width: $mobile-size) {
        margin-top: 30px;
    }
}
    .card {
        .card-inner {
            padding: 15px 0 30px;
        }
        .card-image {
            height: 60px;
        }
    }
}

.random-markets {
    background-color: $color-grey-background ;
    .card .card-image {
        background-size: auto;
    }
}

.mobile-footer {
    .button {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    .random-markets, .how-can-we-help-you-online, .exporter-stories, .how-can-we-help-you {
        margin-bottom: 0;
        .card {
            margin-bottom: 0;
        }
        .flex-grid {
            margin-top: 60px;
        }

        h2.heading-large {
            margin-bottom: 0;
 
        }

        h3{
            margin:0
        }

        h3.heading-large {
            font-size: 28px;

            
        }

        h3 + p{
            margin-top:20px
        }

        .column-third-l:last-child {
            .card-inner {
                padding-bottom: 30px;
            }
        }
    }

    .exporter-stories, .random-markets {

        .column-third-l:last-child {
            .card-inner {
               padding-bottom: 30px;
            }
        }

    }

    .mobile-footer {
        display: none;
    }

}
