@import '../reskin-styles/fonts/main.scss';
@import '../reskin-styles/colors/colors.scss';
.market-detail {

    .aside-content {

        .deal-section  {
            width: 100%;
            margin: 0;
         p{
            padding:0
         }
        }
        .button {
            width: 100%;
            text-align: center;
        }

    }

    section {

        p:last-child {
            margin-bottom: 0;
        }
    }

    .market-detail-content section {
        border-top: 2px solid $color-grey-background;
    }

    .grid-row section:last-child {
        border-bottom: 2px solid $color-grey-background;
    }

    .aside-content .deal-section,
    .market-details {
        clear: both;
    }

    dd, dt {
        padding: 5px 0;
        border-bottom: 1px solid $color-grey-background;

        span {
            float: right;
        }
    }

    .market-details,
    .stats-details {
        dt {
            font-family: $brand-font-alternative;
        }
    }

    .stats-details{
        float: right;
    }

    .dl-tabular dd,
    .dl-tabular dt {
        float: left;
        width: $cols-6;
    }

    .market-item-inner {
        display: block;
        border: none;
        padding: 40px 0 0;
    }

    .market-detail-logo {
        width: 110px;
        margin: 0 20px 30px 0;
        float: left;
        text-align: center;
    }

     .market-detail-img {
        max-width: 100px;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid $light-grey;
     }

     .market-detail-body {
        width: calc(100% - 130px);
        float: left;
     }

     .market-detail-heading {
        font-size: 24px;
        margin-top: 20px;
        float: left;
        font-family: $brand-font-alternative;
     }

     .market-detail-description {
         clear: both;
     }


    .market-item-stats {
        p {
            margin-bottom: 15px;
        }
     }

     .market-detail-description,
     .market-item-stats {
         dt {
            font-weight: bold;
            float: left;
            margin-right: 10px;
            border-bottom: none;
         }

         dd {
             border-bottom: none;
         }
     }

    .stat {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    .deal-section {
          padding-top: 20px;
        .icon {
            float: left;
            height: 24px;
            width: 24px;
            background-size: 24px 20px;
            margin-top: 8px;
        }

        p {
            padding: 10px 0 10px 35px;
            margin-bottom: 0;
            border-left: 5px solid $color-gov-link;
        }

    }

    .aside-content {

        p {
            border-left: none;
        }

        img {
            min-width: 70px;
            max-width: 100px;
            padding: 5px;
            &.market-detail-img {
                border: 1px solid $light-grey;
            }

        }
        .market-detail-img {
            float: left;
            max-width: 0;
            max-height: 100px;
        }
        .dit-logo {
            float: right;
        }
    }

    @media screen and (min-width: 641px) {

        .market-detail-heading {
            font-size: 32px;
        }

        .market-detail-logo {
            width: 170px;
            margin-right: 30px;
            float: left;
        }

        .market-detail-img {
            max-width: 160px;
            margin: 0 auto;
         }

    }

    @media screen and (min-width: 769px) {

        .market-detail-heading {
            font-size: 48px;
            margin-top: 0;
        }

        .market-detail-content {
            width: $cols-8;
            float: left;
        }

        .market-detail-heading,
        .market-details {
            margin-left: 200px;
            float: none;
            clear: none;
        }

        .market-detail-description,
        .market-item .deal-section  {
            width: $cols-8;
            float: left;
        }

        .deal-section  {
            padding-left: 200px;
        }

        .highlighted-info-box {
            // border-top: 8px solid $active-blue;
            float: right;
            width: $cols-3;
            max-width: 270px;

            dt, dd {
                font-size: $font-size-p;
            }
        }

        .aside-content {
            position: sticky;
            top: 50px;
            margin-top: 300px;

            .deal-section  {
                width: 100%;
                padding-left: 0;
                margin-left: 0;
            }



        }

        .market-detail-description,
        .market-item-stats{
            dl {
                clear: none;
            }
        }

        .market-item-stats{

            dt, dd {
                float: none;
            }
        }


    }

}



