.home {
  padding-right: 105px;

  @include breakpoint(tablet) {
    padding-right: 30px;
  }

  @include breakpoint (mobile) {
    padding-right: 0;
  }

  &-info {
    @extend %h4;
    float: right;
    line-height: 25px;
    padding: 20px 25px;
    width: 100%;

    &--border {
      border: 1px solid $lighter-grey;
    }

    @include breakpoint(tablet) {
      float: none;
      padding: 25px 15px;
      width: inherit;
    }

    dt,
    dd {
      @include breakpoint (mobile) {
        display: inline-block;
      }
    }
  }
}
