.home {
  padding-right: 70px;

  @include breakpoint(tablet) {
    padding-right: 30px;
  }

  @include media (mobile) {
    padding-right: 10px;
  }

  &-info {
    @extend %font-regular;
    float: right;
    line-height: 25px;
    padding: 20px 25px;
    width: 255px;

    @include breakpoint(tablet) {
      float: none;
      padding: 25px 15px;
      width: inherit;
    }

    dt,
    dd {
      @include media (mobile) {
        display: inline-block;
      }
    }
  }
}
