li {
  &.list-market {
    &--item {
      border: 1px solid $grey-1;
      margin: 0 0 20px;
      padding: 20px;
    }

    &--info {
      font-size: 17px;
      line-height: 17px;
    }

    &--extra {
      border-bottom: 1px solid $white;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

      &:first-child {
        padding-top: 0;
      }

      p {
        margin: 0;
        padding: 0;
        width: 80%;
      }
    }

  }
}

ul {
  &.list-market {
    padding: 12px;

    .list-left {
      padding-left: 0;
    }
  }
}

