.markets {

  &-item {
    border-bottom: 1px solid $great-primary;
    margin: 0 10px;
    padding: 30px 0;

    &-logo {
      border: 1px solid $lighter-grey;
      height: 140px;
      width: 185px;
    }
  }

  &-item--highlight {
    margin-left: 9px;
    padding: 20px 0;
    position: relative;
    width: 345px;

    &:after {
      background-color: $body-background-color;
      border-left: 30px solid transparent;
      border-top: 30px solid $flag-red;
      bottom: 0;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      width: 0;
    }

  }

  &-item--highlight--section {
    background-position: 20px 20px;
    border-bottom: 1px solid $white;
    color: $great-primary;
    margin: 0;
    padding-bottom: 45px;
    padding-top: 20px;
    position: relative;

    dl {
      padding-left: 110px;

      .heading-large {
        margin: 0;
      }
    }

    dt {
      bottom: 25px;
      left: 110px;
      position: absolute;
    }

    &:last-child {
      border-bottom: 0;
    }

    p {
      margin: 0;
      padding: 0;
      width: 80%;
    }

    .icon {
      margin-left: -20px;
    }

  }

}
