{% extends "directory_components/base.html" %}

{% block body_attributes %}class="details3"{% endblock %}
{% load static utils humanize %}
{% load static utils thumbnail %}

{% block head_title %}Marketplace details | {{ market.name }} | Selling online overseas{% endblock head_title %}

{% block head_meta_description %}Read what it takes to get on {{ market.name }}.{% endblock head_meta_description %}


{% block head_css %}
{{ block.super }}
<link href="{% static 'stylesheets/main.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'stylesheets/main_redesign.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
<section class="breadcrumbs-section narrow-section">
  <div class="container">
    <p class="breadcrumbs">
      <span class="label visually-hidden">You are here:</span>
      <a href="{{ services_urls.exred }}">great.gov.uk</a>
      <span class="separator">,</span>
      <a href="{% url 'home' %}">Selling Online Overseas</a>
      <span class="separator">,</span>
      <span class="current">
        {{ market.name }}
      </span>
  </p>
  </div>
</section>


<div class="market-detail ">
  <div class="container">
    <div class="grid-row">

      <!-- content -->


        <!-- market header -->
        <section class="padding-top-0 padding-bottom-60">
          <div class="market-item">

            <div class="market-item-inner">
                <div class="market-detail-description">
                    <div class="market-detail-logo">
                        <img src="{% thumbnail market.logo.image 400x302 box=market.logo.cropping crop detail %}"
                          class="market-detail-img" alt="Navigate to full profile of {{ market.name }}" />
                      </div>
                      <h1 class="market-detail-heading margin-top-0 margin-bottom-15">{{ market.name }}</h1>
                  <dl class="market-details">
                    <dt>Website:</dt>
                    <dd><a href="{{ market.web_address }}" class="link"
                        target="_blank" title="Opens in a new window" rel="noopener noreferrer">{{ market.web_address }}</a></dd>
                    <dt>Markets:</dt>
                    <dd>{% if market.operating_countries.count > 20 %}
                        Global
                        {% else %}
                        {{ market | csl:'operating_countries' }}
                        {% endif %}</dd>
                  </dl>
              </div>

                <div class="market-item-stats highlighted-info-box padding-top-15-l">
                  <dl class="stats-details">
                    <dt>Registered users:</dt>
                    <dd>{{ market.number_of_registered_users_display }}</dd>
                    <dt>Commission:</dt>
                    <dd>{{ market.commission_display|default:"" }}</dd>
                    <dt>Membership fee:</dt>
                    <dd>{{ market.membership_fees_display }}</dd>
                  </dl>
                </div>
                <div class="deal-section">
                    {% if  market.special_terms %}
                      <i class="icon icon-deal--flagred">
                        <span class="visuallyhidden">Special terms</span>
                      </i>
                      {{ market.special_terms|safe }}
                    {% endif %}
                  <a href="{{ services_urls.contact_us }}selling-online-overseas/organisation/?market={{ market.name|urlencode }}" class="button margin-top-30" title="Apply now">Apply now</a>
                </div>

            </div>
          </div>
        </section>


        <div class="market-detail-content">
        <!-- about this marketplace -->
        <section class="padding-top-45 padding-bottom-45">
          <h2 class="heading-large margin-top-0">About this marketplace</h2>
          <p class="margin-bottom-0">{{ market.e_marketplace_description|safe }}</p>
          <div class="grid-row">
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Product positioning</dt>
              {{ market | field_dd:'product_positioning' }}
            </dl>
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Ways to sell</dt>
              {{ market | field_dd:'seller_model' }}
            </dl>
          </div>
          <h3 class="heading-small margin-top-30">Who else sells here?</h3>
          <p>{{ market | csl:'famous_brands_on_marketplace' }}</p>
        </section>


        <!-- e-commerce -->
        <section>
          <h2 class="heading-large margin-top-0">E-commerce adviser tip</h2>
          <p>{{ market.dit_advisor_tip | safe }}</p>
        </section>

        <!-- about customers -->
        <section class="padding-top-45 padding-bottom-45">
          <h2 class="heading-large margin-top-0">About the customers</h2>

          <p class="margin-bottom-0">{{ market.customer_demographics|safe }}</p>

          <div class="grid-row">
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Customer support</dt>
              {{ market | field_dd:'customer_support_channels' }}
            </dl>
            <div class="col-6 margin-top-45-l margin-top-30">
              <h3 class="heading-small margin-0">Open times</h3>
              <p>{{ market.customer_support_hours }}</p>
            </div>
          </div>
        </section>

        <!-- fullfilment -->
        <section class="padding-top-45 padding-bottom-45">
          <h2 class="heading-large margin-top-0 margin-bottom-0">About fulfilment and delivery</h2>
          <div class="grid-row">
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Logistics support</dt>
              {{ market | field_dd:'logistics_structure' }}
            </dl>
            <div class="col-6 margin-top-45-l margin-top-30">
              <h3 class="heading-small margin-0">Parcel tracking required by the marketplace</h3>
              <p>{{ market.get_shipping_tracking_required_display }}</p>
            </div>
          </div>
        </section>


         <!-- how to join -->
         <section class="padding-top-45 padding-bottom-45">
          <h2 class="heading-large margin-top-0 margin-bottom-0">How you can join</h2>
          <div class="grid-row">
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Organise translation</dt>
              {{ market | field_dd:'translation_requirements' }}
            </dl>
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Upload product details via</dt>
              {{ market | field_dd:'product_details_upload_method' }}
            </dl>
          </div>
          <div class="grid-row margin-top-30">
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Set up</dt>
              {{ market | field_dd:'setup_requirements' }}
            </dl>
            <dl class="col-6 margin-top-45-l margin-top-30">
              <dt class="heading-small margin-0">Agree to</dt>
              <dd>Product exclusivity terms <span>{{ market.exclusivity_required | formatvalue:'tick' }}</span></dd>
            </dl>
          </div>
        </section>

         <!-- how get paid -->
         <section class="padding-top-45 padding-bottom-45">
          <h2 class="heading-large margin-top-0 margin-bottom-0">How you'll get paid</h2>
          <div class="grid-row">
            <dl class="dl-tabular col-6 margin-top-45-l margin-top-30">
              <dt >Payments terms</dt>
              <dd><span>{{ market.sale_to_payment_duration_display }}</span></dd>
              <dt class="font-reg">Currency</dt>
              <dd><span>{{ market | csl:'currency_of_payments' }}</span></dd>
            </dl>
          </div>
          </section>

          <!-- How they’ll help you -->
          <section class="padding-top-45 padding-bottom-45">
            <h2 class="heading-large margin-top-0">How they'll help you</h2>

            <h3 class="heading-small margin-top-30">Marketing and merchandising</h3>
            <p class="margin-bottom-0">{{ market.marketing_merchandising | safe }}</p>
            <div class="grid-row">
              <dl class="col-6 margin-top-45-l margin-top-30">
                <dt class="heading-small margin-0">Seller support</dt>
                {{ market | field_dd:'seller_support_channels' }}
              </dl>
              <div class="col-6 margin-top-45-l margin-top-30">
                <h3 class="heading-small margin-0">Open times</h3>
                <p>{{ market.seller_support_hours }}</p>
              </div>
            </div>
            </section>
      </div>


      <!-- /content -->

      <div class="aside-content highlighted-info-box padding-left-0-l padding-right-0-l padding-top-15 margin-right-15-l">
          <img src="{% thumbnail market.logo.image 400x302 box=market.logo.cropping crop detail %}"
          class="market-detail-img" alt="Navigate to full profile of {{ market.name }}" />
          <img class="dit-logo" src="/selling-online-overseas/static/images/DIT-stacked-logo.svg" alt="Department for International Trade"/>
          <div class="deal-section">
              <i class="icon icon-deal--flagred">
                <span class="visuallyhidden">Special terms</span>
              </i>
              {{ market.special_terms|safe }}

              <a href="{{ services_urls.contact_us }}selling-online-overseas/organisation/?market={{ market.name|urlencode }}" class="button margin-top-30" title="Apply now">Apply now</a>
            </div>
      </div>

    </div>
    <p class="margin-top-45-l margin-top-30" id="back-btn-container"></p>

  </div>
</div>


<script>

  $(function(){
      $('#back-btn-container').append($('<a href="javascript:utilities.navigateBack()">Back</a>'));
  });

</script>


{% endblock content %}

