{% extends "base.html" %}

{% load static %}
{% load card from directory_components %}

{% block head_title %}Welcome to Selling online overseas{% endblock head_title %}

{% block head_meta_description %}Sell your products overseas online. Use our search and find online marketplaces. Find overseas customers across the world. Grow your business with our help.{% endblock head_meta_description %}

{% load thumbnail %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'stylesheets/main_redesign.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'stylesheets/pages/case-study.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}

  <div class="hero-section  background-image--hero" id="hero-banner">
    <section class="breadcrumbs-section narrow-section">
      <div class="container">
        <p class="breadcrumbs">
            <span class="label visually-hidden">You are here:</span>
            <a href="{{ services_urls.exred }}">great.gov.uk</a>
            <span class="separator">,</span>
            <span class="current">
              Selling Online Overseas
            </span>
        </p>
    </div>
    </section>
    <section class="search-section background-stone-30">
        <div class="container">
          <h1>Get help to sell online worldwide</h1>
          <p class="margin-bottom-30">Let us help you export your products to consumers around the world through online marketplaces.</p>

          {% include 'markets/includes/search_form.html' %}
        </div>
    </section>
    </div>
  </section>

  <section id="how-can-we-help-you" class="how-can-we-help-you">
    <div class="container">
      <div class="grid-row">
        <div class="column-full column-two-thirds-xl">
            <h2 class="heading-large margin-top-30">How we can help you</h2>
            <p class="body-text margin-top-10 margin-bottom-0 mobile-hidden">Finding and understanding
              international online marketplaces takes time and effort. We've done the hard work for you.</p>
        </div>
      </div>
      <div class="grid-row margin-top-60-l">
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-image">
              <img src="{% static "images/infographics/tab-into-our-knowledge.png" %}" alt="Tap into our knowledge" height="60">
            </div>
            <div class="card-inner">
              <h3 class="heading-large">Tap into our knowledge</h3>
              <p class="description">Get free support from our UK-based E-Commerce Advisers. Their in-depth knowledge of exporting via e-commerce to international marketplaces means you'll get tailored advice.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-image">
              <img src="{% static "images/infographics/getting-started.png" %}"
                   alt="Tap into our knowledge"
                   height="60">
            </div>
            <div class="card-inner">
              <h3 class="heading-large">Get connected</h3>
              <p class="description">Connect to international marketplaces through us and you'll enjoy the benefits. Our connections mean you might get reduced commission rates and 'try for free' periods.


              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-image">
              <img src="{% static "images/infographics/continuing-benefits.png" %}"
                   alt="Tap into our knowledge"
                   height="60">
            </div>
            <div class="card-inner">
              <h3 class="heading-large">Ongoing Support</h3>
              <p class="description">We will work with you on your e-commerce journey and support your business to grow by selling online overseas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if success_stories %}
  <section class="exporter-stories background-stone-30 padding-bottom-60" id="exporter-stories">
    <div class="container">
      <div class="grid-row">
        <div class="column-full column-two-thirds-m column-half-l">
          <h2 class="heading-large margin-top-30">Online exporters share their stories</h2>
          <p class="description margin-top-10 margin-bottom-0 mobile-hidden">How other UK companies have developed their businesses through e-commerce with our help.
          </p>
        </div>
      </div>

      <div class="flex-grid" id="featured-case-studies">
        {% for story in success_stories %}
          <article class="column-third-xl column-half-l">
            {% card url=story.meta.url img_src=story.hero_image_thumbnail.url title=story.title description=story.teaser %}
          </article>
        {% endfor %}
      </div>

    </div>
  </section>
  {% endif %}

  <section id="how-can-we-help-you-online" class="how-can-we-help-you-online">
    <div class="container">
      <div class="grid-row">
        <div class="column-full column-two-thirds-m column-half-l">
          <h2 class="heading-large margin-top-30">How we can help you sell online worldwide</h2>
        </div>
      </div>
      <div class="flex-grid">
        <div class="column-third-l column-full-m">
          <div class="help-benefit">
            <div class="inner wrap-tight">
              <h3 class="heading-large margin-bottom-15">Working for you</h3>
              <p class="description">We employ people around the world to identify
                opportunities for UK businesses. They have a deep understanding of local
                rules, culture and preferences, so you can make informed decisions.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="help-benefit">
            <div class="inner wrap-tight">
              <h3 class="heading-large margin-bottom-15">Tailor-made advice</h3>
              <p class="description">Our experts are there to share their knowledge.
                We'll work with you to develop an e-commerce export strategy and identify
                the right online marketplaces for your business.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="help-benefit">
            <div class="inner wrap-tight">
              <h3 class="heading-large margin-bottom-15">Taking the first step</h3>
              <p class="description">We'll help simplify the process of selling through online marketplaces.
                Our experience and knowledge mean we can support you as you set up.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="help-benefit">
            <div class="inner wrap-tight">
              <h3 class="heading-large margin-bottom-15">Stronger together</h3>
              <p class="description">You can benefit from our partnerships with global online marketplaces.
                You could get special deals, such as reduced commission rates or 'try for free' periods.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="help-benefit">
            <div class="inner wrap-tight">
              <h3 class="heading-large margin-bottom-15">Support to grow</h3>
              <p class="description margin-bottom-0">Whether you're taking your first e-commerce exporting steps or
                looking to expand your online presence, we can advise you all the way. We're here to help.
              </p>
            </div>
          </div>
        </div>
      </div>
       <a href="{% url 'markets:list' %}" class="button margin-top-30 margin-bottom-30">Find your marketplace</a>
    </div>
  </section>

  <section class="random-markets background-stone-30" id="random-markets">
    <div class="container">
        <div class="grid-row">
          <div class="column-full column-two-thirds-m column-half-l">
            <h2 class="heading-large margin-top-30">Worldwide marketplaces within your reach</h2>
            <p class="body-text margin-top-10 mobile-hidden">Join forces with us and these are just some of the marketplaces that could feature your products.
            </p>
          </div>
        </div>
        <div class="flex-grid margin-bottom-15 margin-bottom-30-l">
          {% for market in random_markets %}
            <div class="column-third-l column-full-m column-full">
              <div class="card">
                <a class="card-link" href="{% url 'markets:detail' market.slug %}" title="full profile of {{ market.name }}">
                  <div class="card-image"
                    style="background-image: url('{% thumbnail market.logo.image 220x166 box=market.logo.cropping crop detail %}');"
                    role="img" alt="{{ market }}">
                  </div>
                  <div class="card-inner">
                    <p class="description subheading">{{ market.operating_countries.first.name }}</p>
                    <h3 class="heading-large">{{ market.name }}</h3>
                    <p class="description subheading">Registered users: {{ market.number_of_registered_users_display }}</p>
                    <p class="margin-top-10 margin-bottom-0">Membership fee: {{ market.membership_fees_display }}</p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="mobile-footer">
      <div class="container">
        <div class="grid-row">
          <div>
            <h1 class="heading-large">Get help to sell online worldwide</h1>
            <p class="margin-bottom-30">Let us help you export your products to consumers around the world through online marketplaces.</p>
            <a href="{% url 'markets:list' %}" class="button">Find your marketplace</a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
