{% extends "base.html" %}

{% load static %}

{% block head_title %}Welcome to Selling online overseas{% endblock head_title %}

{% block head_meta_description %}Sell your products overseas online. Use our search and find online marketplaces. Find overseas customers across the world. Grow your business with our help.{% endblock head_meta_description %}

{% load thumbnail %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'stylesheets/pages/landing-page.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'stylesheets/pages/case-study.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
  <section class="hero-section search-section background-image--hero" id="hero-banner">
    <div class="container">
      <p class="breadcrumbs">
          <span class="label verbose">You are here:</span>
          <a href="{{ SERVICES_GREAT_DOMESTIC }}">Home</a>
          <span class="separator">,</span>
          <span class="current">
              Selling online overseas
          </span>
      </p>
      <h1>Get help to sell online worldwide</h1>
      <p>Let us help you reach millions of online buyers around the world</p>
      <form
        class="search-form"
        id='results-form'
        method="get"
        action="{% url 'markets:list' %}"
        data-count-action='{% url "markets:count" %}'
        data-form-type="autocomplete"
      >
          <label class="term">
              <span class="verbose">Product or service keyword</span>
              <select autocomplete="off" name="product_categories__name">
                  <option value="">
                      Select your category
                  </option>
                  {% for category in categories %}
                  <option value="{{ category.name }}">
                      {{ category.name }}
                  </option>
                  {% endfor %}
              </select>
          </label>
          <label class="filter">
              <span class="verbose">Filter by country (optional)</span>
              <select autocomplete="off" name="operating_countries__name">
                  <option value="">
                      All regions and countries
                  </option>
                  {% for country in countries %}
                  <option value="{{ country.name }}">
                      {{ country.name }}
                  </option>
                  {% endfor %}
              </select>
          </label>
          <input class="button submit" name="commit" type="submit" value="Find a marketplace">
      </form>
    </div>
  </section>

  <section>
    <div class="logo-strip background--white text--center overflow--hidden">
      <div class="outer-container">
        <div class="logo-strip-section">
          {% for ran in random_markets %}
            <div class="col-2">
              <img class="logo-strip-img" src="{% thumbnail ran.logo.image 220x166 box=ran.logo.cropping crop detail %}" alt="{{ ran }}">
            </div>
          {% endfor %}
        </div>
      </div>
      <p class="font-small font-mid-grey push-half--ends">Randomly loaded marketplaces from our database</p>
    </div>
  </section>

  <section>
    <div class="soft--bottom soft-half--top">
      <div class="outer-container">
        <h3 class="h2 font-reg flush--top push--bottom soft-half--bottom soft--top">How this tool can help your business</h3>
        <ul>
          <li class="steps-content--section soft--bottom">
            <div class="steps-image-section">
              <img class="steps-image" src="{% static 'images/infographics/exporting.svg' %}" alt="Exporting online">
            </div>
            <div class="cf push--top text--left steps-info">
              <h4 class="h3 font-lig">Selling online</h4>
              <p class="font-xsmall">Access helpful information and tips to sell with global marketplaces in one place.</p>
            </div>
          </li>
          <li class="steps-content--section soft--bottom">
            <div class="steps-image-section">
              <img class="steps-image" src="{% static 'images/infographics/exclusivedeals.svg' %}" alt="Department of International Trade">
            </div>
            <div class="cf push--top text--left steps-info">
              <h4 class="h3 font-lig">Special deals</h4>
              <p class="font-xsmall">DIT negotiates special deals for eligible UK businesses from a wide range of marketplaces.</p>
            </div>
          </li>
          <li class="steps-content--section soft--bottom">
            <div class="steps-image-section">
              <img class="steps-image" src="{% static 'images/infographics/growyourbusiness.svg' %}" alt="Grow your business">
            </div>
            <div class="cf push--top text--left steps-info">
              <h4 class="h3 font-lig">Grow your business</h4>
              <p class="font-xsmall">Receive e-commerce export related support and advice through DIT’s regional network.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div>
      <ul class="carousel font-white">
        <li class="carousel-panel tinted-image background-image--carousel-msb">
          <blockquote class="soft quote-left quote-white push--ends">
            <p>Exporting overseas has allowed us to grow our business by 300% in 3 years.</p>
            <footer class="font-lig push--top soft--top">
              <strong>William Forshaw</strong>
              <br />
              <span>Founder | Maxwell Scott Bags </span>
            </footer>
          </blockquote>
        </li>
        <li class="carousel-panel background-image--carousel-hb">
          <blockquote class="soft quote-left quote-white push--ends">
            <p>At least 50% of our profits come from exporting via e-marketplaces. If we didn’t export online, we wouldn’t have a business.</p>
            <footer class="font-lig push--top soft--top">
              <strong>Trevor Ginn, Hello Baby</strong>
              <br />
              <span>Founder | Hello Baby </span>
            </footer>
          </blockquote>
        </li>
        <li class="carousel-panel background-image--carousel-fx">
          <blockquote class="soft quote-left quote-white push--ends">
            <p>My advice to brands is that you have to try e-marketplaces, because nobody could have convinced me of the success we are having now.</p>
            <footer class="font-lig push--top soft--top">
              <strong>Shaun Loughlin</strong>
              <br />
              <span>Managing Director | Freestyle Xtreme </span>
            </footer>
          </blockquote>
        </li>
      </ul>
    </div>
  </section>

  <section class="more-stories">
    <div class="container">
      <h2 class="heading-large">E-commerce success stories</h2>
      <div class="grid-row">
        {% for story in case_studies %}
          <div class="column-third">
            {% include 'casestudy/includes/story_card_vertical.html' with story=story %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section>
    <div class="steps soft--bottom soft-half--top background--white">
      <div class="outer-container">
        <h3 class="h2 font-reg flush--top push--bottom soft--top">Start selling</h3>
        <ul class="cf">
          <li class="col-4 soft--bottom">
            <div class="steps-image-section-with-arrow">
              <img class="steps-image" src="{% static 'images/infographics/searchandcompare.svg' %}" alt="Search and Compare">
            </div>
            <div class="cf push--top">
              <span class="steps-number font-med font-grey float--left push-half--right">1</span>
              <div class="steps-content float--left">
                <h4 class="h3 font-lig">Search and compare</h4>
                <p class="font-xsmall">Identify the right marketplaces for your business.</p>
              </div>
            </div>
          </li>

          <li class="col-4 soft--bottom">
            <div class="steps-image-section-with-arrow">
              <img class="steps-image" src="{% static 'images/infographics/selectandapply.svg' %}" alt="Select and Apply">
            </div>
            <div class="cf push--top">
              <span class="steps-number font-med font-grey float--left push-half--right">2</span>
              <div class="steps-content float--left">
                <h4 class="h3 font-lig">Select and apply</h4>
                <p class="font-xsmall">Apply through DIT to benefit from special deals and e-commerce support where applicable. </p>
              </div>
            </div>
          </li>

          <li class="col-4 soft--bottom">
            <div>
              <img class="steps-image" src="{% static 'images/infographics/startselling.svg' %}" alt="Start Selling">
            </div>
            <div class="cf push--top">
              <span class="steps-number font-med font-grey float--left push-half--right">3</span>
              <div class="steps-content float--left">
                <h4 class="h3 font-lig">Sell your products</h4>
                <p class="font-xsmall">Reach international consumers looking for your products.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

{% endblock content %}
