{% extends "base.html" %}

{% load static %}

{% block head_title %}Welcome to Selling online overseas{% endblock head_title %}

{% block head_meta_description %}Sell your products overseas online. Use our search and find online marketplaces. Find overseas customers across the world. Grow your business with our help.{% endblock head_meta_description %}

{% load thumbnail %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'stylesheets/pages/landing-page.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'stylesheets/pages/case-study.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block head_js_ga360 %}
  {{ block.super }}
  <script src="{% static 'javascripts/dit.tagging.js' %}"></script>
  <script>
    window.dataLayer.push({ 'pageCategory': 'LandingPage' });
    dit.tagging.soo.init('home');
  </script>
{% endblock %}

{% block content %}
  <section class="hero-section search-section background-image--hero" id="hero-banner">
    <div class="container">
      <p class="breadcrumbs">
          <span class="label verbose">You are here:</span>
          <a href="{{ SERVICES_GREAT_DOMESTIC }}">Home</a>
          <span class="separator">,</span>
          <span class="current">
            Selling online overseas
          </span>
      </p>
      <h1>Get help to sell online worldwide</h1>
      <p>Let us help you reach millions of online buyers around the world.</p>

      {% include 'markets/includes/search_box.html' %}
    </div>
  </section>

  <section id="how-can-we-help-you">
    <div class="container">
      <div class="grid-row">
        <div class="column-full column-two-thirds-m column-half-l">
            <h2 class="heading-large">How can we help you</h2>
            <p class="body-text">Finding and understanding
              foreign markets takes time and effort. We've done hard work for you</p>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-image"
              style="background-image: url('{% static "images/infographics/exporting.svg" %}');"
              role="image">
            </div>
            <div class="card-inner">
              <h3 class="heading">Tap into our knowledge</h3>
              <p class="description">We have business experts all over the world. their
                in-depth knowledge of local trading environments means you'll get
                tailored advice on which online global selling sites your business
                should join.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-image"
              style="background-image: url('{% static "images/infographics/exclusivedeals.svg" %}');"
              role="image">
            </div>
            <div class="card-inner">
              <h3 class="heading">Getting started</h3>
              <p class="description">Once you've found best places to sell online,
                we'll help you make the right connections. We will work with you to
                establish and grow your business in it's new online locations and
                support your on your e-commerce journey.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-image"
              style="background-image: url('{% static "images/infographics/growyourbusiness.svg" %}');"
              role="image">
            </div>
            <div class="card-inner">
              <h3 class="heading">Continuing benefits</h3>
              <p class="description">Connect to international marketplaces through us
                and you'll enjoy the benefits. Our connections means we can often get
                you preferencial deals on membership and seller's fees, or reduced
                commision.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="background-stone-30" id="exporter-stories">
    <div class="container">
      <div class="grid-row">
        <div class="column-full column-two-thirds-m column-half-l">
          <h2 class="heading-large">Exporters share their story</h2>
        </div>
      </div>
      <div class="card-grid">
        {% for story in case_studies %}
          <div class="column-third-l column-full-m">
            <div class="card">
              <a class="card-link" href="{% url 'markets:case_story' story.slug %}">
                <div class="card-image"
                  style="background-image: url('{% get_static_prefix %}images/case-story/{{ story.html.metadata.image }}');"
                  role="image" alt="{{ story.html.metadata.title }}">
                </div>
                <div class="card-inner">
                  <p class="description subheading">Case study</p>
                  <h3 class="heading-large">{{ story.html.metadata.title }}</h3>
                  <p class="description">{{ story.html.metadata.subtitle|default:story.html.metadata.meta_description }}</p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="how-can-we-help-you-online">
    <div class="container">
      <div class="grid-row">
        <div class="column-full column-two-thirds-m column-half-l">
          <h2 class="heading-large">How can we help you sell online worldwide</h2>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-inner">
              <h3 class="heading">Working for you</h3>
              <p class="description">We employ people around the world to look for
                opportunities for UK businesses. They have a deep understanding of local
                rules, culture and preferences, so you can make informed decisions.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-inner">
              <h3 class="heading">Tailor made advice</h3>
              <p class="description">Our experts are there to share their knowledge.
                We’ll work with you to match your business to the right online marketplace
                in the right country. We’ll also help you form or develop your e-commerce
                plan.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-inner">
              <h3 class="heading">Taking the first step</h3>
              <p class="description">We’ll help simplify the process of setting up on
                worldwide marketplaces. Our experience and understanding mean we’ll get
                you moving quickly and smoothly, and make sure things stay on track.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-inner">
              <h3 class="heading">Stronger together</h3>
              <p class="description">Allow us to help you and you’ll also benefit from
                our network of relationships with global online retailers. You could get
                preferential fees, reduced membership costs or lower commission rates.
              </p>
            </div>
          </div>
        </div>
        <div class="column-third-l column-full-m">
          <div class="card help-benefit">
            <div class="card-inner">
              <h3 class="heading">Support to grow</h3>
              <p class="description">Work with us and you’ll have a dedicated contact
                to help you make the most of all the opportunities that are right for
                you. Whether you’re taking your first steps in a new environment, or
                looking for ideas to further expand, we’re here to help.
              </p>
            </div>
          </div>
        </div>
      </div>
      <a href="{% url 'markets:list' %}" class="button submit" type="submit">Find your marketplace</a>
    </div>
  </section>

  <section class="background-stone-30" id="random-markets">
    <div class="container">
        <div class="grid-row">
          <div class="column-full column-two-thirds-m column-half-l">
            <h2 class="heading-large">Take a look at some marketplaces</h2>
            <p class="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="card-grid">
          {% for market in random_markets %}
            <div class="column-third-l column-full-m">
              <div class="card">
                <a class="card-link" href="{% url 'markets:detail' market.slug %}" title="full profile of {{ market.name }}">
                  <div class="card-image"
                    style="background-image: url('{% thumbnail market.logo.image 220x166 box=market.logo.cropping crop detail %}');"
                    role="image" alt="{{ market }}">
                  </div>
                  <div class="card-inner">
                    <p class="description subheading">{{ market.operating_countries.first.name }}</p>
                    <h3 class="heading-large">{{ market.name }}</h3>
                    Registered users: {{ market.number_of_registered_users_display }}
                    Membership fee: {{ market.membership_fees_display }}
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock content %}
