{% extends "base.html" %}

{% load static utils thumbnail %}

{% block head_title %}Search results | Selling online overseas{% endblock head_title %}

{% block head_meta_description %}Read and review the results. Compare, then select online marketplaces that are suitable for your products.{% endblock head_meta_description %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'stylesheets/main_redesign.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
  <section class="breadcrumbs-section narrow-section">
    <div class="container">
      <p class="breadcrumbs">
          <span class="label verbose">You are here:</span>
          <a href="{% url 'home' %}">Home</a>
          <span class="separator">,</span>
          <span class="current">
            Results
          </span>
      </p>
    </div>
  </section>
  <section class="market-list-search-section background-stone-30">
    <div class="container">
      <h1 class="market-list-count">
        <strong>{{ market_list.count }} marketplace{{market_list|pluralize}} have been found</strong>
      </h1>
      {% include 'markets/includes/search_form.html' %}
    </div>
  </section>
  <section class="narrow-section">
    <div class="container">
      <div class="compare-navigation">
        <strong>
          Compare marketplaces: <span class="shortlist-count"></span>
        </strong>
        |
        <a href="{% url 'markets:shortlist' %}">View compare list</a>
      </div>
    </div>
  </section>
  <section class="market-list-section">
    <div class="container">
      {% if not market_list %}
      <li class="markets-item markets-item-no-result heading-headline cf">
        <p>We couldn't exactly match your search. <a class="link" title="search again" href="{{ SOO_HOST }}markets/filter/">Please search again</a> using different products or countries, or adding more products or countries.</p>
        <p>Find out more about the right overseas markets for your products <br /><a class="link" href="https://www.gov.uk/government/collections/exporting-country-guides" title="Exporting country guides">Exporting country guides</a>.</p>
        </li>
      {% endif %}

      {% for market in market_list %}
        {% include "markets/includes/market_summary.html" %}
      {% endfor %}
    </div>
  </section>
{% endblock content %}
