@each $name, $color in $backgrounds {
  .background {
    &--#{$name} {
      background-color: $color;
    }
  }
}

@each $name, $url in $backgrounds-image {
  .background {
    &-image--#{$name} {
      background-image: url('#{$image-path}#{$url}');
      background-repeat: no-repeat;
    }
  }
}

