.form {

  &-group {
    margin-bottom: 40px;
  }

  &-label {
    @extend %h4;
    @extend %light;
    color: $grey;
    font-family: $brand-font-family;
    margin-bottom: 10px;

    @include breakpoint(mobile) {
      font-size: 15px;
    }
  }

  &-control {
    @extend %font-base;
    @extend %light;
    background: $light-stone;
    border: 1px solid $secondary-text-colour;
    font-family: $brand-font-family;
    height: $form-field-height;
    padding: 10px;

    &:focus {
      outline: 3px solid $aqua;
    }
  }

  &-textarea {
    float: none;
    height: 100%;
  }
}

.errorlist {
  color: $great-secondary;
  margin-bottom: 5px;
}

