.form {

  &-group {
    margin-bottom: 20px;

    &-error {
      border-left: 10px solid $great-secondary;
      padding-left: 20px;
    }

    &-error--message {
      @extend %medium;
      @extend %font-large ;
      color: $great-secondary;
      display: block;
      margin-bottom: 15px;
    }

    &-help {
      padding-top: 20px;
      @include media($mobile) {
        margin-bottom: 20px;
      }

      ul {
        list-style-type: disc;
        padding-left: 15px;
        padding-top: 5px;
      }
    }

    @include media($mobile) {
      margin-bottom: 10px;
    }
  }

  &-tab-section {
    margin-bottom: 40px;
  }

  &-label {
    @extend %font-large;
    @extend %medium;
    color: $grey;
    display: table;
    font-family: $brand-font-family;
    margin-bottom: 10px;
  }

  &-hint {
    @extend %font-base;
    color: $mid-grey;
    font-family: $brand-font-family;
    line-height: 22px;
    margin: 5px 0 0;
  }

  &-control {
    background: $light-stone;
    border: 1px solid $secondary-text-colour;
    font-family: $brand-font-family;
    font-size: 16px;
    height: $form-field-height;
    padding: 10px;
    width: 75%;

    &--medium {
      width: 40%;

      @include media($mobile) {
        width: 100%;
      }
    }

    &-addon {
      color: $black;
      font-size: 15px;
      font-weight: 300;
      margin-right: -5px;
      padding: 11px;
      position: absolute;

      + input {
        padding-left: 40px;
      }
    }

    @include placeholder {
      color: $grey;
    }

    @include media($mobile) {
      width: 100%;
    }

    &--full {
      width: 100%;
    }
  }

  &-textarea {
    float: none;
    height: 100%;

    &--wide {
      width: 85%;
    }

    @include media($mobile) {
      width: 100%;
    }
  }

  &-tab {
    height: 60px;
    padding: 18px 0;

    li {
      height: 20px;
      position: relative;

      &:first-child {
        padding-left: 0;
      }
    }

    a {
      color: $form-tab-color;
      position: absolute;

      &.form-tab-link {
        @extend %medium;
        cursor: default;
        font-size: 15px;
        pointer-events: none;
        text-decoration: none;

        .form-tab-order {
          border: {
            radius: 100px;
            style: solid;
            width: 2px;
          }
          display: inline-block;
          margin-right: 5px;
          padding: 2px 8px;
          text-align: center;

          @include media($mobile) {
            margin-right: 0;
          }
        }

        @include media($mobile) {
          margin: 0 auto;
          text-align: center;
          width: 100%;
        }
      }

      &.form-tab-link--completed {
        color: $mid-blue;
        cursor: pointer;
        pointer-events: inherit;

        .form-tab-content {
          border-bottom: 1px solid $mid-blue;
        }
      }

      &.form-tab-link--active {
        color: $aqua;
        font-size: 18px;
        margin-top: -8px;

        .form-tab-order {
          padding: 6px 12px;
        }

        .form-tab-content {
          @include media($mobile) {
            display: inline-block;
          }
        }

        @include media($mobile) {
          top: -8px;
        }
      }

      .form-tab-content {

        @include media($desktop) {
          font-size: 15px;
        }

        @include media($mobile) {
          display: none;
        }
      }
      @include media($mobile) {
        position: relative;
      }
    }

    &-progressbar {
      height: 9px;
      width: 100%;

      &-indicator {
        background: $aqua;
        display: block;
        height: 100%;
      }
    }

    &-back {
      margin-right: 40px;
      position: relative;
      top: 16px;

      @include media($mobile) {
        bottom: 40px;
        position: absolute;
        top: inherit;
      }
    }

    &-button {
      display: none;

      @include media($mobile) {
        text-align: center;
      }
    }

    .col-3 {
      @include media($mobile) {
        border-right: 1px solid $white;
        display: inline-block;
        float: left;
        height: 51px;
        margin-right: 0;
        padding: 15px 16px;
        width: inherit;

        &:last-child {
          border-right: 0;
        }
      }
    }

    @include media($mobile) {
      height: inherit;
      padding: 0;
    }
  }

  &-steps {

    &-header {
      margin-top: 25px;
    }

    @include media($mobile) {
      padding-bottom: 50px;
      position: relative;
    }

    .form-dropdown-results {
      width: 75%;

      @include media($mobile) {
        width: 100%;
      }
    }

    .form-group {
      position: relative;
    }

    .search-companies {
      display: none;
    }
  }

  &-intro {
    position: relative;

    &-button {
      display: block;
      text-decoration: none;

      h2 {
        color: $white;
      }

      i {
        background: {
          position: top center;
          repeat: no-repeat;
        }
        display: block;
        height: 36px;
        position: absolute;
        right: 0;
        top: 14px;
        width: 36px;
      }
    }

    &-content {

      li {
        &:before {
          color: $white;
        }
      }
    }

    &-terms {
      font-size: 13px;
      line-height: 17px;

      a {
        @extend %medium;
        color: $white;
      }
    }
  }

  &-section {
    margin: 0 0 20px;

    &--border {
      border-bottom: 1px solid $lighter-grey;
      padding-bottom: 20px;
    }
  }
}

.errorlist {
  color: $great-secondary;
  margin-bottom: 5px;
}

.block-label {
  @extend %regular;
  @include prefix((touch-action: manipulation), ms);
  background: none;
  border: 0;
  box-sizing: content-box;
  clear: left;
  cursor: pointer;
  display: table;
  float: none;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 8px 10px 9px 45px;
  position: relative;

  input {
    cursor: pointer;
    filter: alpha(opacity=0);
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    zoom: 1;
  }
}

.form-success {
  padding-bottom: 60px;

  &-icon {
    border: 2px solid $white;
    border-radius: 100px;
    box-sizing: content-box;
    display: block;
    margin: auto;
    padding: 20px 7px;
    width: 70px;
  }

  &-header {
    border-bottom: 1px solid $white;
    display: inline-block;
    padding-bottom: 40px;
  }

  &-section {
    p {
      margin: auto;
      width: 80%;
    }

    span {
      @extend %regular;
      @extend %h3;
      border: 2px solid $white;
      border-radius: 100px;
      box-sizing: initial;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 0 auto 15px;
      width: 40px;
    }

    @include media($mobile) {
      margin-top: 20px;
    }
  }

  a {
    @extend %regular;
    border-bottom: 1px solid $light-grey;
    border-bottom-color: $lighter-grey-opacity;
    color: $white;
    padding-bottom: 2px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dashed $white;
    }
  }

  &-body {
    #global-header {
      margin-bottom: 0;
    }
  }
}

.js-enabled {
  label {
    &.focused {
      outline: none;
    }

    &.selected {
      background: transparent;
    }
  }

  .block-label {

    input {
      opacity: 0;
    }

    &.selection-button-checkbox {

      &:before {
        background: transparent;
        border: 2px solid;
        border-color: $grey;
        border-radius: 4px;
        content: '';
        height: 25px;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;
      }

      &.focused {
        &:before {
          box-shadow: 0 0 0 3px $focus-yellow;
        }
      }

      @include checkbox-checked;
    }

    &.selection-button-radio {
      padding-bottom: 20px;

      &.focused {
        &:before {
          box-shadow: 0 0 0 4px $focus-yellow;
        }
      }

      &:before {
        @include prefix((border-radius: 50%), webkit moz);
        background: transparent;
        border: 2px solid;
        color: $grey;
        content: '';
        height: 30px;
        left: 0;
        position: absolute;
        top: 0;
        width: 30px;
      }
      @include radio-checked;
    }

    &.selection-button-checkbox,
    &.selection-button-radio {
      &.selected {
        &:after {
          filter: alpha(opacity=100);
          opacity: 1;
          zoom: 1;
        }
      }
    }
  }

  .form-tab-button,
  .search-companies {
    display: block;
  }
}

input,
textarea,
select,
button {

  &:focus {
    outline: 3px solid $focus-yellow;
  }
}
