.form {

  &-group {
    margin-bottom: 10px;

    &-error {
      border-left: 10px solid $great-secondary;
      padding-left: 20px;
    }

    &-error--message {
      @extend %medium;
      @extend %font-regular ;
      color: $great-secondary;
      display: block;
      margin-bottom: 15px;
    }
  }

  &-tab-section {
    margin-bottom: 10px;
  }

  &-label {
    @extend %font-regular;
    @extend %medium;
    color: $grey;
    font-family: $brand-font-family;
    margin-bottom: 10px;

    @include media(mobile) {
      font-size: 15px;
    }
  }

  &-control {
    @extend %font-xxsmall;
    @extend %light;
    background: $light-stone;
    border: 1px solid $secondary-text-colour;
    font-family: $brand-font-family;
    height: $form-field-height;
    padding: 10px;

    &:focus {
      outline: 3px solid $aqua;
    }
  }

  &-textarea {
    float: none;
    height: 100%;
  }

  &-tab {

    li {
      height: 20px;
      position: relative;

      &:first-child {
        padding-left: 0;
      }
    }

    a {
      color: $light-grey;
      position: absolute;

      &.form-tab-link {
        @extend %medium;
        cursor: default;
        font-size: 18px;
        pointer-events: none;
        text-decoration: none;

        span {
          border: {
            radius: 100px;
            style: solid;
            width: 2px;
          }
          display: inline-block;
          padding: 0 6px;
          text-align: center;
        }
      }

      &.form-tab-link--completed {
        color: $aqua;
        cursor: pointer;
        pointer-events: inherit;
      }

      &.form-tab-link--active {
        color: $aqua;
        font-size: 20px;
        margin-top: -6px;

        span {
          padding: 3px 11px;
        }
      }
    }

    &-progressbar {
      height: 9px;
      width: 100%;

      &-indicator {
        background: $aqua;
        display: block;
        height: 100%;
      }
    }
  }

  &-triage {
    .form-control {
      width: 75%;

      @include media(mobile) {
        width: 100%;
      }

      &--medium {
        width: 25%;
      }
    }
  }

  &-section {
    border-bottom: 1px solid $lighter-grey;
    margin: 0 10px 20px;
    padding-bottom: 20px;
  }
}

.errorlist {
  color: $great-secondary;
  margin-bottom: 5px;
}

.block-label {
  @extend %medium;
  @include prefix((touch-action: manipulation), ms);
  background: none;
  border: 0;
  clear: left;
  cursor: pointer;
  display: block;
  float: none;
  margin-bottom: 10px;
  padding: 8px 10px 9px 45px;
  position: relative;

  input {
    cursor: pointer;
    filter: alpha(opacity=0);
    height: 29px;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 29px;
    zoom: 1;
  }

  &.selection-button-checkbox {
    &:before {
      background: transparent;
      border: 2px solid;
      content: '';
      height: 25px;
      left: 0;
      position: absolute;
      top: 0;
      width: 25px;
    }
  }

  &.selection-button-radio {
    padding-bottom: 20px;

    input {
      @include checkbox-checked;
    }

    &:before {
      @include prefix((border-radius: 50%), webkit moz);
      background: transparent;
      border: 2px solid;
      content: '';
      height: 30px;
      left: 0;
      position: absolute;
      top: 0;
      width: 30px;
    }
  }
}
