// Extend the Govuk grid

.column {

  &-one {

    &-whole {
      box-sizing: border-box;
      padding: 0 10px;
      width: 100%;
    }

    &-fifth {
      @extend %padding-gutter-override;
      box-sizing: border-box;
      float: left;
      width: 20%;
    }
  }

  &-two {

    &-fifths {
      @extend %padding-gutter-override;
      box-sizing: border-box;
      float: left;
      width: 40%;
    }

  }

  &-three {

    &-fifths {
      @extend %padding-gutter-override;
      box-sizing: border-box;
      float: left;
      width: 60%;
    }

    &-quarters {
      float: left;
      width: 75%;
    }

  }

}

.section {
  @extend %site-width-container;
  @extend %contain-floats;
}
