.heading {

  &-xxlarge {
    font-size: 100px;
    letter-spacing: -2.5px;
    line-height: 110px;
  }

  &-last-updated {
    color: $grey-1;
  }

  &-sub {
    @extend %font-xlarge;
    letter-spacing: -.2px;
    line-height: 32px;
    margin: 20px 0;

    @include media($tablet) {
      font-size: 20px;
      line-height: 26px;
    }

    @include media($mobile) {
      font-size: 18px;
      line-height: 25px;
      margin-top: 20px;
      padding: 0;
    }

    &-no--border {
      border: 0;
      margin: 0;
      padding-bottom: 10px;
    }

  }

  &-headline {
    @extend %font-large;
    @extend %regular;

    @include media($mobile) {
      font-size: 15px;
    }
  }
}
