.heading {

  &-xlarge {
    @extend %regular;
    font-family: $brand-font-family;
    letter-spacing: -1px;
  }

  &-small {
    @extend %regular;
    @extend %lede;
    font-family: $brand-font-family;
    letter-spacing: -.4px;

  }

  &-large {
    @extend %medium;
    font-family: $brand-font-family;
    letter-spacing: -1px;
    margin-top: 10px;
  }

  &-last-updated {
    color: $grey-1;
  }

  &-sub {
    @extend %light;
    @extend %lede;
    border-bottom: 2px solid $flag-red;
    letter-spacing: -.4px;
    line-height: 31px;
    margin: 30px 0;
    padding-bottom: 40px;
  }
}
