.list {
  &-link {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 10px 60px 10px 20px;
    position: relative;
    text-decoration: none;

    &::after {
      content: '\203A';
      float: right;
      margin-top: -8px;
      position: absolute;
      right: 20px;
      top: 50%;
    }

    &:link {
      color: $black;
    }

    &.active,
    &:focus {
      background-color: $link-colour;
      color: $white;
      outline: none;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }

  &-ordered {
    list-style-type: disc;
    padding-left: 15px;
  }

  &-bullet {
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 18px;
      margin-bottom: 13px;
      padding-left: 25px;
      position: relative;

      @include media(mobile) {
        font-size: 15px;
      }

      &:before {
        color: $stone;
        content: '\25CF';
        font-size: 20px;
        left: 0;
        margin-right: 10px;
        position: absolute;
      }
    }
  }

  &-user--amount {
    font-size: 19px;
  }

  &-regular {
    @extend %font-regular;

    li {
      margin-bottom: 5px;

      @include media(mobile) {
        font-size: 15px;
      }
    }
  }
}
