.list {
  &-link {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 10px 60px 10px 20px;
    position: relative;
    text-decoration: none;

    &::after {
      content: '\203A';
      float: right;
      margin-top: -8px;
      position: absolute;
      right: 20px;
      top: 50%;
    }

    &:link {
      color: $black;
    }

    &.active,
    &:focus {
      background-color: $link-colour;
      color: $white;
      outline: none;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }
}
