body,
main {
  @extend %light;
  background-color: $body-background-color;
  color: $grey;
  font-family: $brand-font-family;
  font-size: 15px;
}

// FONT WEIGHT
%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

// FONT SIZES
%lede {
  font-size: 24px;
}

%font-regular {
  font-size: 18px;
}

%font-xxsmall {
  font-size: 15px;
}

%font-xxxsmall {
  font-size: 14px;
}

// HEADERS
%h1 {
  font-size: 48px;
}

%h2 {
  font-size: 36px;
}

.font {

  &-xxsmall {
    @extend %font-xxsmall;
  }

  &-xxxsmall {
    @extend %font-xxxsmall;
  }

  &-white {
    color: $white;
  }

  &-lighter-grey {
    color: $lighter-grey;
  }

  &-lig {
    @extend %light;
  }

  &-reg {
    @extend %regular;
  }

  &-med {
    @extend %medium;
  }
}

.h1 {
  @extend %h1;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @extend %medium;
}

p {
  @extend %light;
}

a {

  @include prefix((tap-highlight-color: $tap-highlight-color), webkit);

  &:focus {
    background-color: $aqua;
    outline: 3px solid $aqua;
  }
}
