body,
main,
.main {
  @extend %light;
  background-color: $body-background-color;
  color: $grey;
  font-family: $brand-font-family;
  font-size: 15px;
  margin: 0;
  padding: 0;
  position: relative;
  @include prefix((font-smoothing: inherit), webkit moz-osx);
}

// FONT WEIGHT
%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

// FONT SIZES
%lede {
  font-size: 24px;
}

%font-regular {
  font-size: 18px;
}

%font-headline {
  font-size: 19px;
}

%font-xxsmall {
  font-size: 15px;
}

%font-xxxsmall {
  font-size: 14px;
}

// HEADERS
%h1 {
  font-size: 48px;
}

%h2 {
  font-size: 36px;
}

%h3 {
  font-size: 24px;
}

.font {

  &-small {
    @extend %font-regular;
    font-family: $brand-font-family;
  }

  &-xsmall {
    font-family: $brand-font-family;
    font-weight: 300;
  }

  &-xxsmall {
    @extend %font-xxsmall;
  }

  &-xxxsmall {
    @extend %font-xxxsmall;
  }

  &-white {
    color: $white;
  }

  &-brand {
    color: $grey;
  }

  &-lighter-grey {
    color: $lighter-grey;
  }

  &-mid-grey {
    color: $mid-grey;
  }

  &-purple {
    color: $purple;
  }

  &-flag-red {
    color: $flag-red;
  }

  &-mid-blue {
    color: $mid-blue;
  }

  &-lig {
    @extend %light;
  }

  &-reg {
    @extend %regular;
  }

  &-med {
    @extend %medium;
  }
}

.h1 {
  @extend %h1;
  letter-spacing: -1px;

  @include media($tablet) {
    font-size: 36px;
  }

  @include media($mobile) {
    font-size: 30px;
  }
}

.h2 {
  font-size: 24px;
  letter-spacing: -.2px;

  @include media($desktop-only) {
    font-size: 32px;
    letter-spacing: -.4px;
  }
}

.h3 {
  @extend %h3;
  line-height: 28px;

  @include media($mobile) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @extend %medium;
}

blockquote {
  @extend %font-xxsmall;
  line-height: 25px;

  &.quote-left {
    padding: 80px 10px 10px;
    position: relative;

    &:before {
      color: $mid-grey;
      content: open-quote;
      font-family: sans-serif;
      font-size: 120px;
      font-weight: 600;
      left: 0;
      position: absolute;
      top: 70px;

      @include media($desktop-only) {
        font-size: 144px;
        left: 30px;
        top: 84px;
      }
    }

    &:after {
      content: close-quote;
      visibility: hidden;
    }

    p {
      font-family: $quote-font-family;
      font-size: 20px;
      font-style: italic;
      line-height: 28px;

      @include media($desktop-only) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    footer {
      padding-top: 0;

      @include media($desktop-only) {
        padding-top: 20px;
      }
    }

    @include media($desktop-only) {
      padding: 109px 40px 50px;
    }
  }

  &.quote-white {
    &:before {
      color: $white;
    }
  }
}

hr {
  background: $purple;
}

p {
  @extend %light;
  line-height: 23px;
}

a {

  @include prefix((tap-highlight-color: $tap-highlight-color), webkit);

  &:focus {
    background-color: transparent;
    outline: 3px solid $focus-yellow;
  }
}


.link {
  @extend %regular;
  border-bottom: 1px solid;
  text-decoration: none;

  &:hover {
    border-bottom: 1px dashed;
    color: $aqua;
  }

  &--white {
    color: $white;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $turquoise;
    }
  }

  &--regular {
    @extend %font-regular;

    @include media($mobile) {
      font-size: 15px;
    }
  }

  &--top {
    &:before {
      border: {
        color: transparent transparent $mid-blue;
        style: solid;
        width: 0 8px 8px 8px;
      }
      content: '';
      display: inline-block;
      height: 0;
      margin-right: 5px;
      position: relative;
      top: -3px;
      width: 0;
    }

    &:hover {
      &:before {
        border-color: transparent transparent $aqua;
      }
    }
  }

  &--back {
    display: inline-block;
    margin-top: 21px;
  }
}
