body,
main {
  font-family: $brand-font-family;
}

// FONT WEIGHT
%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

// FONT SIZES
%lede {
  font-size: 24px;
}

%font-regular {
  font-size: 18px;
}

%font-xxsmall {
  font-size: 15px;
}

%font-xxxsmall {
  font-size: 14px;
}

.font {

  &-xxsmall {
    @extend %font-xxsmall;
  }

  &-xxxsmall {
    @extend %font-xxxsmall;
  }

  &-white {
    color: $white;
  }

  &-lighter-grey {
    color: $lighter-grey;
  }

  &-light {
    @extend %light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %medium;
}

a {

  @include prefix((tap-highlight-color: $aqua), webkit);

  &:focus {
    background-color: $aqua;
    outline: 3px solid $aqua;
  }
}
