version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.9-node
        environment:
          DATABASE_URL: postgresql://root@localhost/circle_test?sslmode=disable
          DJANGO_SETTINGS_MODULE: navigator.settings.test
          PHANTOMJS_BIN: node_modules/phantomjs/bin/phantomjs
          SECRET_KEY: foobar
          CMS_URL: http://cms.trade.great:8010
          CMS_SIGNATURE_SECRET: test
          STORAGE_TYPE: local
          SSO_SESSION_COOKIE: debug_sso_session_cookie

      # Service container image available at `host: localhost`
      - image: circleci/postgres:9.5
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
          POSTGRES_HOST_AUTH_METHOD: trust

    working_directory: ~/navigator

    steps:
      - checkout

      - run:
          name: install dockerize
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          environment:
            DOCKERIZE_VERSION: v0.3.0

      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
            name: Install node packages
            command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements_test.txt" }}
      - run:
          name: Install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements_test.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements_test.txt" }}
          paths:
            - "venv"

      - run:
          name: Run Django tests
          command: |
            . venv/bin/activate
            make circleci_test

      - run:
          name: Build Whoosh index
          command: |
            . venv/bin/activate
            python app/manage.py build_index > /dev/null

      - run:
          name: Run PEP8 checks
          command: |
            . venv/bin/activate
            pycodestyle

      - run:
          name: Run FE tests
          command: npm run test
