{% extends "base.html" %}
{% load static %}

{% block head_meta_description %}{{ story.html.metadata.meta_description }}{% endblock %}

{% block content %}
<section class="case-study">
  <div class="container">

    <article class="case-study">
      <header>
        <div class="grid-row">
          <div class="column-two-thirds">
            <h2 class="font-medium subtitle">Case study</h2>
            <h1 class="font-xlarge">{{ story.html.metadata.title }}</h1>

            <dl class="read-time font-xsmall">
              <dt>Reading time:</dt>
              <dd>{{ story.time_to_read }}</dd>
            </dl>

            <p class="font-medium">{{ story.html.metadata.subtitle|default:story.html.metadata.meta_description }}</p>

          </div>
        </div>
      </header>

      <section>
        <div class="grid-row">
          <div class="column-two-thirds story-image">
            {% with 'images/case-story/'|add:story.html.metadata.image as image_url %}
            <img width="100%" src="{% static image_url %}" alt="{{ story.html.metadata.company_name }}"/>
            {% endwith %}
          </div>
        </div>

        <div class="story-top-quote">
          {% include 'casestudy/includes/quote.html' with quote_author=story.html.metadata.quote_one_author quote_author_title=story.html.metadata.quote_one_author_title quote_content=story.html.metadata.quote_one_content company_name=story.html.metadata.company_name company_website=story.html.metadata.company_website %}
        </div>

        <div class="grid-row">
          <div class="column-two-thirds story-content">
            {{ story.html|safe }}
            {% include 'casestudy/includes/quote.html' with quote_author=story.html.metadata.quote_two_author quote_author_title=story.html.metadata.quote_two_author_title quote_content=story.html.metadata.quote_two_content company_name=story.html.metadata.company_name company_website=story.html.metadata.company_website %}
          </div>
        </div>

      </section>

      <footer>
        <div class="grid-row">
          <div class="column-two-thirds">
            {{ story.html.metadata.footer|safe }}
          </div>
        </div>
      </footer>

    </article>

    <div class="more-stories">
      <h2 class="heading-medium">More success stories</h2>
      <div class="grid-row">
        {% for story in other_stories %}
          <div class="column-half">
            {% include 'casestudy/includes/story_card_horizontal.html' with story=story %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>


{% endblock content %}
