{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block javascripts %}
    {% comment %}
        This is to fix a bug in the javascript supplied by the grappelli plugin, we want to insert all normal
        javascripts first, then add our own, which patches (or replaces) the broken grappelli JS.
    {% endcomment %}
    {{ block.super }}
    <script src="{% static 'javascripts/fix_grappelli.js' %}" type="text/javascript"></script>
{% endblock %}

{% block submit_buttons_bottom %}
    <footer class="grp-module grp-submit-row grp-fixed-footer">
        <header style="display:none"><h1>Submit Options</h1></header>
        <ul>
            <li class="grp-float-left"><input type="submit" value="Save" class="grp-button" name="_continue" /></li>
            <li class="grp-float-left"><input type="submit" value="Save and add new" class="grp-button" name="_addanother" /></li>
            <li class="grp-float-left"><input type="submit" value="Save and close" class="grp-button grp-default" name="_save" /></li>
            
            {% url opts|admin_urlname:'changelist' as changelist_url %}
            <li class="grp-float-left"><a href="{{ changelist_url }}" class="grp-button">Close</a></li>

            {% if perms.markets.can_publish %}
                <li class="grp-float-left"><input type="submit" value="Publish" class="grp-button" name="_publish" /></li>
            {% endif %}
            
            {% if perms.markets.can_delete_market %}
                {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
                <li class="grp-float-left"><a href="{% add_preserved_filters delete_url %}" class="grp-button grp-delete-link">{% trans "Delete" %}</a></li>
            {% endif %}
        </ul>
    </footer>
{% endblock %}
