<ul class="soft--sides">
  <li class="list markets-item--highlight--section background-image--users">
    <dl>
      <dt>registered users</dt>
      <dd class="heading-large flush--ends">{{ market.web_traffic|floatformat:"-1" }} m</dd>
    </dl>
  </li>
  <li class="list markets-item--highlight--section background-image--logistics">
    <dl>
      <dt>Logistic support</dt>
      {% for model in market.logistics_structure.all %}
        <dd>
          <i class="icon icon-ok">
            <span class="visuallyhidden">ok</span>
          </i>
          <strong>{{ model.name }}</strong></dd>
      {% endfor %}
    </dl>
  </li>
  <li class="list markets-item--highlight--section background-image--bank-account">
    <dl>
      <dt>Receive payments</dt>
      <dd>
        <i class="icon icon-ok">
          <span class="visuallyhidden">ok</span>
        </i>
        <strong>{% if market.local_bank_account_needed %}Non-UK{% else %}UK{% endif %} bank account</strong></dd>
    </dl>
  </li>
</ul>
