<ul class="soft">
  <li class="list list-market--extra">
    <h4>{{ market.web_traffic|floatformat:"-1" }} million</h4>
    <p class="font-xxsmall flush--bottom flush--top">registered users</p>
  </li>
  <li class="list list-market--extra">
    <div class="font-xxsmall flush--bottom flush--top">
      <h4>Logistic support</h4>
      <ul class="list list-bullet flush--bottom">
        {% for model in market.logistics_structure.all %}
          <li>{{ model.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li class="list list-market--extra">
    <div class="font-xxsmall flush--bottom flush--top">
      <h4>Receive payments to</h4>
      <ul class="list list-bullet flush--bottom">
        <li>{% if market.local_bank_account_needed %}Non-UK{% else %}UK{% endif %} bank account</li>
      </ul>
    </div>
  </li>
</ul>
