{% load static utils %}

<li class="markets-item cf">
  <div class="column-five-eights markets-info--left hard--left">
    <div class="push--right">
      <div class="cf">
        <div class="column-two-fifths hard--sides">
          <div class="markets-item-logoholder">
            <a href="{% url 'markets:detail' market.slug %}" title="full profile of {{ market.name }}"><span class="markets-item-helper"></span><img src="{{ market.logo.base64_logo }}" class="markets-item-logo" alt="{{ market.name }} logo"></a>
          </div>
        </div>
        <div class="column-three-fifths hard--left">
          <h3 class="heading-medium flush--ends soft-half--bottom">{{ market.name }}</h3>
          <ul>
            <li class="soft-half--bottom markets-item--url"><a href="{{ market.web_address }}" class="link">{{ market.web_address }}</a></li>
            <li>
              <dl>
                <dt class="float--left push-half--right"><strong>Markets:</strong></dt>
                <dd>{{ market | csl:'countries_served' }}</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
      <p class="soft-half--ends hard--left">{{ market.description }}</p>
      <a class="button button-blue button-medium push--top" href="{% url 'markets:detail' market.slug %}" title="full profile of {{ market.name }}">Full profile</a>
    </div>
  </div>
  <div class="column-three-eighths">
    <div class="background--stone markets-item--highlight">
      <ul class="markets-item--list">
        <li class="list markets-item--highlight--section background-image--users">
          <dl>
            <dt><strong>Registered users:</strong></dt>
            <dd>{{ market.web_traffic|floatformat:"-1" }} million</dd>
          </dl>
        </li>
        <li class="list markets-item--highlight--section background-image--commission">
          <dl>
            <dt><strong>Commission:</strong></dt>
            <dd>{{ market.commission }}</dd>
          </dl>
        </li>
        <li class="list markets-item--highlight--section background-image--fees">
          <dl>
            <dt><strong>Membership fee:</strong></dt>
            <dd>
              {{ market.membership_fees | formatvalue:'fee' }}
              {% if market.membership_fees > 0 %}{{market.get_membership_fees_frequency_display }}{% endif %}
            </dd>
          </dl>
        </li>
        <li class="list markets-item--highlight--section background-image--logistics">
          <dl>
            <dt><strong>Logistic support</strong></dt>
            {% for model in market.logistics_structure.all %}
            <dd>{{ model.name }}</dd>
            {% endfor %}
          </dl>
        </li>
      </ul>
    </div>
  </div>
</li>
