{% if not markets_list %}
  <li class="markets-item markets-item-no-result heading-headline column-two-thirds cf">
    <p>We couldn't exactly match your search. <a class="link" title="search again" href="{{ SOO_HOST }}markets/filter/">Please search again</a> using different products or countries, or adding more products or countries.</p>

    <p>Find out more about the right overseas markets for your products <br /><a class="link" href="https://www.gov.uk/government/collections/exporting-country-guides" title="Exporting country guides">Exporting country guides</a>.</p>
  </li>
{% endif %}

{% for market in markets_list %}
  {% include "markets/includes/market_summary.html" %}
{% endfor %}
