<div class="section">
  <div class="grid-row">
    <div class="column-one-whole">
      <h1>Name of Market</h1>
      <p>Sub title</p>
    </div>
  </div>
</div>

<div class="background--light-stone">
  <div class="section">
    <div class="grid-row">
      <div class="column-one-whole">
        <ul>
          <li><a href="#company"><span>1</span> Your company</a></li>
          <li><a href="#business"><span>2</span> Your business</a></li>
          <li><a href="#experience"><span>3</span> Your experience</a></li>
          <li><a href="#contact"><span>4</span> Contact information</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid-row">
    <form novalidate>
      <div class="form-group">
        <a name="company"></a>
        <fieldset>
          <div>
            <div class="column-five-eights">
              <legend class="">Your company</legend>
              <div class="form-group">
                <label class="form-label" for="company-name">Company name</label>
                <input class="form-control" id="company-name" name="company-name-" type="text">
              </div>
              <button type="button" name="button">Search Companies House</button>
              <label class="block-label selection-button-checkbox" for="contact-preference">
                <input id="contact-preference" name="contact-preference" type="checkbox" value="email">
                I prefer to be contacted by email
              </label>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>
          <div>
            <div class="column-five-eights">
              <div class="form-group">
                <label class="form-label" for="website-address">Website address</label>
                <input class="form-control" name="website-address" type="url" id="website-address" placeholder="e.g www.myproduct.com">
              </div>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>
        </fieldset>
        <div class="column-one-whole">
          <a href="">continue to next step</a>
        </div>
      </div>

      <div class="form-group">
        <a name="business"></a>
        <fieldset>
          <div>
            <div class="column-five-eights">
              <legend class="">Your business</legend>
              <h3>Annual turnover</h3>
              <label class="block-label selection-button-radio" for="radio-1">
                <input id="radio-1" type="radio" name="radio-group" value="Under £ 100,000 GBP">
                Under £ 100,000 GBP
              </label>
              <label class="block-label selection-button-radio" for="radio-2">
                <input id="radio-2" type="radio" name="radio-group" value="Under £ 100,000 GBP">
                £100,000 to £500,000 GBP
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="£500,000 to 2 millions GBP">
                £500,000 to 2 millions GBP
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="Over 2 millions GBP">
                Over 2 millions GBP
              </label>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>

          <div>
            <div class="column-five-eights">
              <div class="form-group">
                <label class="form-label" for="stocks">Number of Stock Keeping Units (SKU)</label>
                <input class="form-control" name="stocks" type="number" id="stocks" placeholder="e.g 480">
              </div>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>

          <div>
            <div class="column-five-eights">
              <h3>Are your products trademarked?</h3>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="Yes">
                Yes
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="No">
                No
              </label>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>
        </fieldset>
        <div class="column-one-whole">
          <a href="#company">back</a>
          <a href="">continue to next step</a>
        </div>
      </div>

      <div class="form-group">
        <a name="experience"></a>
        <fieldset>
          <div>
            <div class="column-five-eights">
              <legend>Your experience</legend>
              <h3>Have you sold products online to overseas customers?</h3>
              <label class="block-label selection-button-radio" for="radio-2">
                <input id="radio-2" type="radio" name="radio-group" value="Not yet">
                Not yet
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="Yes, regularly">
                Yes, regularly
              </label>
              <label class="block-label selection-button-radio" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="Yes, a few years ago">
                Yes, a few years ago
              </label>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>

          <div>
            <div class="column-five-eights">
              <label class="form-label" for="id_description">Tell us why your business is a good match for this marketplace</label>
              <textarea class="form-control form-textarea" id="id_description" name="description" cols="40" rows="10"></textarea>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>
        </fieldset>

        <div class="column-one-whole">
          <a href="#business">back</a>
          <a href="">continue to last step</a>
        </div>
      </div>

      <div class="form-group">
        <a name="contact"></a>
        <fieldset>
          <div>
            <div class="column-five-eights">
              <legend class="">Contact information</legend>
              <div class="form-group">
                <label class="form-label" for="contact-name">Contact name</label>
                <input class="form-control" id="contact-name" name="contact-name" type="text">
              </div>
              <div class="form-group">
                <label class="form-label" for="contact-email">Email address</label>
                <input class="form-control" name="contact-email" type="email" id="contact-email" placeholder="e.g contact name@webaddress.com">
              </div>
              <div class="form-group">
                <label class="form-label" for="contact-number">Phone number</label>
                <input class="form-control" name="contact-number" type="number" id="contact-number">
              </div>
              <label class="block-label selection-button-checkbox" for="contact-preference">
                <input id="contact-preference" name="contact-preference" type="checkbox" value="email">
                I prefer to be contacted by email
              </label>
            </div>
            <div class="column-three-eights">
              asdasd
            </div>
          </div>
        </fieldset>

        <div class="column-one-whole">
          <a href="#experience">back</a>
          <button>Apply &#38; get onto this marketplace</button>
        </div>

      </div>
    </form>
  </div>
</div>
