{% extends 'directory_components/header_footer/domestic_header.html' %}

{% block login_state %}
  <ul class="extra-links">
    <li class="anonymous" id="header-sign-in">
      <a href="{{ sso_login_url }}" class="account-link signin">Sign in</a>
    </li>
    <li class="authenticated" id="header-profile">
      <a href="{{ sso_profile_url }}" class="account-link profile">Account</a>
    </li>
    <li class="authenticated" id="header-sign-out">
      <a href="{{ sso_logout_url }}" class="account-link signout">Sign out</a>
    </li>
  </ul>
{% endblock %}