fieldset {
  &.grp-module {
    .grp-row label {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;

      &.required {
        font-weight: 500;
      }
    }
  }
}

.selector {
  .selector-available,
  .selector-chosen {
    h2 {
      color: $grey-2;
      font-size: 13px;
      font-weight: normal;
    }
  }
}

input[type="submit"],
a.grp-button,
button.grp-button {
  background: $mid-blue;
}

a.grp-button.grp-delete-link {
  background: $flag-red;
}

.grp-module .grp-row:not(tr).grp-cells .grp-cell {
  display: inline-block;
}

.grp-module {
  
  .grp-cells-2 {
    .grp-cell {
      width: 45%;
    }
  }
  
  .grp-cells-3 {
    .grp-cell {
      width: 30%;
    }
  }
}

.selector a {
  &.selector-chooseall,
  &.selector-clearall {
    font-size: 13px;
    font-weight: 400;
  }
}

p {
  &.grp-help {
    color: #777;
    font-size: 13px !important;
    padding: 8px 0 10px;
  }
}

.grp-autocomplete-wrapper-m2m {
  width: 100%;
}

.grp-row {
  input[type="url"],
  input[type="email"],
  .vTextField,
  .vURLField,
  .vFileBrowseField,
  textarea,
  .vLargeTextField,
  .vXMLLargeTextField {
    width: 100%;
  }
}
