{% load static utils thumbnail %}

{% if market.has_special_terms %}
<div class="market-item has-special-terms">
  <div class="special-terms-container">

    <div class="special-terms-summary">
        <i class="icon icon-deal">
          <span class="visuallyhidden">Special terms</span>
        </i>
      {% if market.dit_special_terms_summary %}
        {{ market.dit_special_terms_summary }}
      {% else %}
        <strong>SPECIAL DEAL </strong>
      {% endif %}
    </div>
  </div>
{% else %}
<div class="market-item">
{% endif %}
  <div class="market-item-inner">
    <div class="market-item-logo">
      <img src="{% thumbnail market.logo.image 400x302 box=market.logo.cropping crop detail %}" class="market-item-img" alt="Navigate to full profile of {{ market.name }}" />
    </div>

    <div class="market-item-body">

      <h2>
        <a class="market-header-link" href="{% url 'markets:detail' market.slug %}" title="full profile of {{ market.name }}">
          {{ market.name }}
        </a>
      </h2>

    <div class="market-item-description">


      <p class="market-description-summary">
        {{ market.e_marketplace_description|safe|truncatewords:15 }}
        <a class="" href="{% url 'markets:detail' market.slug %}" title="full profile of {{ market.name }}">
            Read more
        </a>
      </p>
      <h3 class="stat-header">Markets:</h3>
      <p class="market-operating-countries overflow-text">

        {% if market.operating_countries.count > 20 %}
          Global
        {% else %}
          {{ market | csl:'operating_countries' }}
        {% endif %}
      </p>
    </div>


    <div class="market-item-stats">
        <div class="stat reg-users-stat">
          <h3 class="stat-header">Registered users</h3>
          <p>{{ market.number_of_registered_users_display}} </p>
        </div>
        <div class="stat commision-stat">
          <h3 class="stat-header">Commision</h3>
          <p>{{ market.commission_display|default:"" }}</p>
        </div>
        </div>

    </div>
  </div>
</div>