{% load static utils thumbnail %}

{% if market.has_special_terms %}
<div class="market-item has-special-terms">
  <div class="special-terms-container">
    <div class="special-terms-summary">
      {% if market.dit_special_terms_summary %}
        <strong>SPECIAL DEAL &nbsp | &nbsp</strong> {{ market.dit_special_terms_summary }}
      {% else %}
        <strong>SPECIAL DEAL </strong>
      {% endif %}
    </div>
  </div>
{% else %}
<div class="market-item">
{% endif %}
  <div class="market-item-inner">
    <img src="{% thumbnail market.logo.image 400x302 box=market.logo.cropping crop detail %}" class="market-item-img" alt="Navigate to full profile of {{ market.name }}" />
    <div class="market-item-body">
      <div class="add-to-compare markets-shortlist font-mid-blue" data-slug="{{ market.slug }}">
        Add to compare
      </div>
      <a class="market-header-link" href="{% url 'markets:detail' market.slug %}" title="full profile of {{ market.name }}">
        <span class="underline">{{ market.name }}</span>
      </a>
      <p class="market-description-summary">
        {{ market.e_marketplace_description|safe|truncatewords:15 }}
      </p>
      <p class="market-operating-countries overflow-text">
        <span class="strong">Markets:</span>
        {% if market.operating_countries.count > 20 %}
          Global
        {% else %}
          {{ market | csl:'operating_countries' }}
        {% endif %}
      </p>
      <div class="market-stats">
        <div class="stat reg-users-stat">
          <div class="stat-header">Registered users</div>
          <div>{{ market.number_of_registered_users_display }}</div>
        </div>
        <div class="stat commision-stat">
          <div class="stat-header">Commision</div>
          <div>{{ market.commission_display|default:"" }}</div>
        </div>
        <div class="stat logistics-support-stat">
          <div class="stat-header">Logistics support</div>
          <div>
            {% for model in market.logistics_structure.all %}
              <span class="stat-value">{{ model.name }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="stat membership-stat">
          <div class="stat-header">Membership</div>
          <div>{{ market.membership_fees_display|default:"" }}</div>
        </div>
      </div>
    </div>
  </div>
</div>