<form
  class="search-form"
  id='results-form'
  method="get"
  action="{% url 'markets:list' %}"
  data-count-action='{% url "markets:count" %}'
  data-form-type="autocomplete"
>
  <label class="term">
    <span class="verbose">Product or service keyword</span>
    <select autocomplete="off" name="category_id">
        <option value="">
          Select your category
        </option>
        {% for category in categories %}
        <option value="{{ category.id }}" {% if category.id == selected_category_id %}selected="selected"{% endif %}>
          {{ category.name }}
        </option>
        {% endfor %}
    </select>
  </label>
  <label class="filter">
    <span class="verbose">Filter by country (optional)</span>
    <select autocomplete="off" name="country_id">
      <option value="">
        All regions and countries
      </option>
      {% for country in countries %}
      <option value="{{ country.id }}" {% if country.id == selected_country_id %}selected="selected"{% endif %}>
        {{ country.name }}
      </option>
      {% endfor %}
    </select>
  </label>
  <input class="button submit" name="commit" type="submit" value="Find a marketplace">
</form>