{% extends "markets/case_studies/base.html" %}

{% block story_title %}Hello Baby’s online growth spurt{% endblock %}

{% block story_subtitle %}Hello Baby is an online nursery business that gets more than half its profits from exporting through online marketplaces such as Amazon, eBay and CDiscount.{% endblock %}

{% block story_image %}hellobaby.jpg{% endblock %}

{% block story_blockquote_top_content %}It’s not always clear as a UK retailer how to sell on international e-marketplaces, but DIT helped us each step of the way.{% endblock %}
{% block story_blockquote_top_author %}Trevor Ginn{% endblock %}
{% block story_blockquote_top_link %}https://www.hellobabydirect.com/{% endblock %}
{% block story_blockquote_top_founder %}Hello Baby{% endblock %}

{% block story_content %}<p>The company uses these platforms to sell its wide range of baby products – such as prams, car seats and nursery furniture – to an expanding customer base in the United States, Europe, Australia, Japan and Canada.</p>

<p>“Online marketplaces provide the easiest solution for us to grow internationally,” says founder Trevor Ginn. “They also help us to sell a lot of products, quickly and easily.” He singles out Amazon’s FBA EFN feature (Fulfillment by Amazon European Fulfillment Network) as particularly helpful when selling to Amazon’s customer base in the EU: “We ship the items to Amazon’s warehouse and they do the rest – easy!”</p>

<p>Hello Baby’s initial foray into online marketplaces was made easier thanks to help from DIT’s E-Exporting Programme. “We started to face a few barriers, such as certain online marketplaces needing us set up a local bank account,” he explains. “But DIT put us in touch with a company who helped us to navigate this process.”</p>

<p>The department also helped Hello Baby by introducing the business to important contacts at online marketplaces, making deals on their behalf and helping them solve initial problems in growing their business online. “It’s not always clear as a UK retailer how to sell on international e-marketplaces, but DIT helped us each step of the way,” says Ginn. “If we didn’t export online, we wouldn’t have a business.”</p>{% endblock %}


{% block story_blockquote_bottom_content %}Online marketplaces provide the easiest solution for us to grow internationally. They also help us to sell a lot of products, quickly and easily.{% endblock %}
{% block story_blockquote_bottom_author %}Trevor Ginn{% endblock %}
{% block story_blockquote_bottom_link %}https://www.hellobabydirect.com/{% endblock %}
{% block story_blockquote_bottom_founder %}Hello Baby{% endblock %}

{% block story_footer_note %}Find out how you can sell through online marketplaces like Amazon and eBay by using the <a href="" class="link" title="">Selling Online Overseas Service</a>.{% endblock %}

{% block story_more_link %}york-bag-retailer-goes-global-via-e-commerce/{% endblock %}
{% block story_more_image %}maxwellscottbags.jpg{% endblock %}
{% block story_more_title %}York bag retailer goes global via e-commerce{% endblock %}
{% block story_more_content %}York-based retailer Maxwell Scott Bags was already selling internationally from its UK website when its owners made the decision to launch a German website.{% endblock %}

{% block story_2_more_link %}hello-babys-online-growth-spurt/{% endblock %}
{% block story_2_more_image %}hellobaby.jpg{% endblock %}
{% block story_2_more_title %}Hello Baby’s online growth spurt{% endblock %}
{% block story_2_more_content %}Read how DIT helped this retailer of baby products through initial teething pains with online marketplaces, paving the way for big EU sales.{% endblock %}