{% extends "markets/case_studies/base.html" %}

{% block story_title %}Online marketplaces propel FreestyleXtreme{% endblock %}

{% block story_subtitle %}Like many businesses, Bristol-based specialist sports retailer FreestyleXtreme has seen big growth through online sales overseas.{% endblock %}

{% block story_image %}freestylextreme.jpg{% endblock %}

{% block story_blockquote_top_content %}E-marketplaces show you where there is overseas demand for your product.{% endblock %}
{% block story_blockquote_top_author %}Shaun Loughlin{% endblock %}
{% block story_blockquote_top_link %}http://www.freestylextreme.com/uk/default.aspx{% endblock %}
{% block story_blockquote_top_founder %}FreestyleXtreme{% endblock %}

{% block story_content %}<p>They started out selling online in 2011 through eBay and launched eBay stores globally through the cross-border programme. FreestyleXtreme then further expanded their business by joining all of Amazon’s 15 markets.</p>

<p>By selling on online marketplaces, FreestyleXtreme became successful exporters and are now a thriving business with a projected annual turnover of £17 million.</p>

<p>Their sales went from 0 to 1,000 NZD within a few days of listing on the New Zealand based TradeMe online marketplace platform. And it’s been a similar story on French online marketplaces La Redoute and Cdiscount.</p>

<p>FreestyleXtreme also had assistance from the Department for International Trade (DIT), who helped them set up a local cooperative to reduce international shipping costs. ‘Parcel Rate Experts’ brought together local online retailers to get competitive rates and solve one of the main barriers to exporting.</p>{% endblock %}


{% block story_blockquote_bottom_content %}Considering we are selling niche products to a small market, we never could have imagined achieving these types of sales.{% endblock %}
{% block story_blockquote_bottom_author %}Shaun Loughlin{% endblock %}
{% block story_blockquote_bottom_link %}http://www.freestylextreme.com/uk/default.aspx{% endblock %}
{% block story_blockquote_bottom_founder %}FreestyleXtreme {% endblock %}


{% block story_more_link %}york-bag-retailer-goes-global-via-e-commerce/{% endblock %}
{% block story_more_image %}maxwellscottbags.jpg{% endblock %}
{% block story_more_title %}York bag retailer goes global via e-commerce{% endblock %}
{% block story_more_content %}York-based retailer Maxwell Scott Bags was already selling internationally from its UK website when its owners made the decision to launch a German website.{% endblock %}

{% block story_2_more_link %}hello-babys-rapid-online-growth/{% endblock %}
{% block story_2_more_image %}hellobaby.jpg{% endblock %}
{% block story_2_more_title %}Hello Baby’s rapid online growth{% endblock %}
{% block story_2_more_content %}Read how DIT helped this retailer of baby products through initial teething pains with online marketplaces, paving the way for big EU sales.{% endblock %}