{% extends "markets/case_studies/base.html" %}

{% block story_title %}York bag retailer goes global via e-commerce{% endblock %}

{% block story_subtitle %}York-based retailer Maxwell Scott Bags was already selling internationally from its UK website when its owners made the decision to launch a German website.{% endblock %}

{% block story_image %}maxwellscottbags.jpg{% endblock %}

{% block story_blockquote_top_content %}We currently sell on Amazon, which is going really well for us and contributes 25% to our total export sales.{% endblock %}
{% block story_blockquote_top_author %}William Forshaw{% endblock %}
{% block story_blockquote_top_link %}http://www.maxwellscottbags.com/{% endblock %}
{% block story_blockquote_top_founder %}Maxwell Scott Bags{% endblock %}

{% block story_content %}<p>They’d noticed an increase in orders from Germany and went on to launch both a German and US site in 2013.</p>

<p>Exporting overseas has seen the business grow by 300% in 3 years and led to the appointment of a Head of e-Marketplaces who focuses on expanding their business further in the online world.</p>

<p>The business got further help and advice from an e-commerce adviser at DIT, who provided recommendations for global online marketplaces to sell through. They now make 25% of total export sales through Amazon, and factor these into their e-commerce expansion plans.</p>{% endblock %}


{% block story_blockquote_bottom_content %}Working with Amazon has allowed us to save money on buying our own warehouses and additional manpower, and focus on growing other areas of the business.{% endblock %}
{% block story_blockquote_bottom_author %}William Forshaw{% endblock %}
{% block story_blockquote_bottom_link %}http://www.maxwellscottbags.com/{% endblock %}
{% block story_blockquote_bottom_founder %}Maxwell Scott Bags{% endblock %}

{% block story_footer_note %}Find out how you can sell through online marketplaces like Amazon and eBay by using the <a href="" class="link" title="">Selling Online Overseas Service</a>.{% endblock %}

{% block story_more_link %}online-marketplaces-propel-freestyle-xtreme-sales/{% endblock %}
{% block story_more_image %}freestylextreme.jpg{% endblock %}
{% block story_more_title %}Online marketplaces propel FreestyleXtreme{% endblock %}
{% block story_more_content %}Like many businesses, Bristol-based specialist sports retailer FreestyleXtreme has seen big growth through online sales overseas.{% endblock %}

{% block story_2_more_link %}hello-babys-online-growth-spurt/{% endblock %}
{% block story_2_more_image %}hellobaby.jpg{% endblock %}
{% block story_2_more_title %}Hello Baby’s online growth spurt{% endblock %}
{% block story_2_more_content %}Read how DIT helped this retailer of baby products through initial teething pains with online marketplaces, paving the way for big EU sales.{% endblock %}