{% extends 'thumber/feedback.html' %}

{% block thumber_form %}
<div class="cf">
    <div class="audit audit--white" id="audit">
      <div class="container padding-top-30 margin-top-90-m margin-bottom-90-m">
        <div class="grid-row">
            <div class="feedback-header col-12">
            <i class="icon icon-feedback">
              <span class="visuallyhidden">feedback</span>
            </i>
            <h3 class="h3 font-med audit-header margin-left-15-l margin-top-15">{{ satisfied_wording }}</h3>
          </div>

        </div>
        <form action="{{ request.get_full_path }}" method="post" class="audit-form thumber-form">
          {% csrf_token %}
          {{ thumber_form.thumber_token }}
          <div class="thumber-radio-inputs">
            {{ thumber_form.satisfied }}
          </div>
          <div class="thumber-radio-buttons margin-bottom-30-m" style="display:none;">

              <button class="button-ghost-blue margin-right-30" data-value="True" data-scrollTo="audit">{{ yes_wording }}</button>

              <button class="button-ghost-blue" data-value="False" data-scrollTo="audit">{{ no_wording }}</button>

          </div>
          <div class="audit-text-section">
            <fieldset class="margin-bottom-0">
              <div class="push--bottom">
                <textarea class="form-control form-textarea col-12" id="thumber_comment" name="comment" cols="40" rows="5" placeholder="{{ comment_placeholder }}"></textarea>
              </div>
            </fieldset>
            <div class="audit-button audit-button--send text--right float--right hard--right"></div>
              <input class="button-ghost-blue" type="submit" value="{{ submit_wording }}" />
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="audit-thank hide">
      <div class="container padding-top-30 margin-top-90-m margin-bottom-90-m">
        <i class="icon icon-thankyou--grey">
          <span class="visuallyhidden">Thank you</span>
        </i>
        <h3 class="font-large font-med audit-header">{{ thanks_message }}</h3>
    </div>
    </div>
    <div class="audit-error hide">
      <div class="container padding-top-30 margin-top-90-m margin-bottom-90-m">
        <i class="icon icon-error--grey">
          <span class="visuallyhidden">error</span>
        </i>
        <h3 class="font-large font-med audit-header">{{ error_message}}</h3>
        <p>Please try again later, or <a href="{{ services_urls.feedback }}" title="feedback">use the feedback form</a></p>
        </div>
    </div>




</div>
{% endblock %}

{% block non_js_success %}
<div class="audit">
  <i class="icon icon-thankyou--grey">
    <span class="visuallyhidden">Thank you</span>
  </i>
  <h3 class="font-large font-med audit-header">{{ thanks_message }}</h3>
</div>
{% endblock %}
