{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    {% comment %}
        Override the footer submit buttons, ONLY in the case that the Logo is being editted as a popup.
        In this case, show only a "save and continue" button when adding, so that they continue editting
        with the cropping tool.
    {% endcomment %}
    {% if is_popup %}
        <footer class="grp-module grp-submit-row grp-fixed-footer">
            <header style="display:none"><h1>Submit Options</h1></header>
            <ul>
                <li class="grp-float-left"><input type="submit" value="Save" class="grp-button" name="_continue" /></li>
                {% if change %}
                    <li class="grp-float-left"><input type="submit" value="Save and close" class="grp-button grp-default" name="_save" /></li>
                {% endif %}
                <li class="grp-float-left"><input type="submit" value="Close" class="grp-button grp-default" name="_close" /></li>
            </ul>
        </footer>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}