// Path to assets for use with file-url()
$path: '/static/images/';

@import 'govuk_elements/govuk-elements';
@import 'govuk_elements/govuk-frontend-toolkit';
@import 'govuk_elements/gutter';

// bourbon grid
@import 'new_styles/neat/grid-settings';
@import 'neat';

@import 'new_styles/vars';
@import 'vars';

@import 'generic/mixins';
@import 'generic/animation';
@import 'generic/helpers';
@import 'generic/icons';
@import 'new_styles/utilities/placeholders';
@import 'new_styles/utilities/grid';

@import 'base/background';
@import 'base/choices';
@import 'base/grid';
@import 'base/list';
@import 'base/typography';
@import 'base/headings';
@import 'base/form';


@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/tooltip';
@import 'components/filters';
@import 'components/header';
@import 'components/footer';
@import 'components/dynamic-dropdown';
@import 'components/nav-intro';
@import 'components/results';
@import 'components/audit';

@import 'pages/detail';
@import 'pages/markets';
@import 'pages/home';
