{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block body_content_container %}
    <main role="main">
      <div class="main" id="content">
        {% block content %}{% endblock content %}
        {% block feedback_reporter %}
          <section>
            <div class="outer-container push--ends soft--ends">
              <div class="col-12 push--top">
                {% block thumber_feedback %}{% endblock %}
              </div>
            </div>
          </section>
        {% endblock %}
      </div>
    </main>
{% endblock %}
