{% extends 'directory_components/base.html' %}

{% load static %}

{% block head_google_tag_manager %}
  {% if directory_components_analytics %}
    <meta id="utmCookieDomain" value="{{ directory_components_analytics.UTM_COOKIE_DOMAIN }}" />
  {% endif %}
{% endblock %}

{% block head_js_ga360 %}
  <script src="{% static 'javascripts/dit.tagging.js' %}"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    {% if ga360 %}
      window.dataLayer.push({
          'businessUnit': '{{ ga360.business_unit }}',
          'siteSection': '{{ ga360.site_section}}',
          'siteSubsection': '{{ ga360.site_subsection }}',
          'siteLanguage': '{{ ga360.site_language }}',
          'userId': '{{ ga360.user_id }}',
          'loginStatus': '{{ ga360.login_status }}',
      });
      dit.tagging.soo.init('{{ page_type }}');
    {% endif %}
  </script>
  {% include 'directory_components/google_tag_manager_head.html' %}
{% endblock %}

{% block body_google_tag_manager %}
  {% include 'google_tag_manager_body.html' with page_type=page_type %}
{% endblock %}


{% block head_css %}
  {{ block.super }}
  <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block body_content_container %}
    <main role="main" id="content">
    {% block content %}{% endblock content %}
    {% block feedback_reporter %}
      <section class="padding-0">
          {% block thumber_feedback %}{% endblock %}
      </section>
    {% endblock %}
    </main>
{% endblock %}
