{% extends "base.html" %}

{% block content %}
<div class="section push--top soft--top">
  <div class="grid-row soft--bottom push--bottom">
    <div class="column-one-whole soft--bottom">
      <h1 class="heading-xlarge flush--top push--bottom">Page not found</h1>
      <ul class="list-regular soft-half--ends">
        <li>If you typed in a web address, check if it was entered correctly.</li>
        <li>If you followed a link here, <a class="link" href="https://contact-us.export.great.gov.uk/feedback/selling_online_overseas/" title="report a broken link">report the broken link</a>.</li>
        <li>Return to the <a class="link" href="https://selling-online-overseas.export.great.gov.uk" title="return to homepage">homepage</a>.</li>
      </ul>
      <hr class="push--bottom" />
      <p class="soft--bottom push--bottom flush--top">HTTP 404 Error Code - Page not found</p>
    </div>
  </div>
</div>
{% block feedback %}{% endblock feedback %}

{% endblock content %}