{% load staticfiles %}
<!doctype html>
<!--[if IE 8]>    <html lang="en-us" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <title>{% block title %} Selling online overseas {% endblock title %}</title>
    {% block head_meta %}
      <meta name="description" content="{% block head_meta_description %} Selling online overseas {% endblock head_meta_description %}">
      {% block head_meta_charset %}
        <meta charset="utf-8">
      {% endblock head_meta_charset %}
      {% block head_meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_favicon %}
      <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
    {% endblock head_favicon %}
    {% block head_css %}
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
      <link href="{% static "stylesheets/govuk-template.css" %}" rel="stylesheet" media="screen">
      <link href="{% static "stylesheets/main.css" %}" rel="stylesheet" media="screen">
      <!--[if IE 8]><link href="{% static "stylesheets/ie8.css" %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    {% endblock head_css %}

    {% block google_tag_manager %}
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PB37DC');
      </script>
    {% endblock google_tag_manager %}

  </head>
  <body class='{% block body_class %}{% endblock %}'>

  {% block google_tag_manager_noscript %}
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB37DC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  {% endblock google_tag_manager_noscript %}

  <header role="banner"  class="">
      {% block header %}
        <div class="navigation">
          <div class="navigation-strip background--dark-navy">
            <div class="outer-container">
              <ul class="list-inline list-separators">
                <li class="float--left soft--right"><a class="logo-hmg" href="https://www.gov.uk/" title="hm government"><img src="/static/images/HM_Government_logo_horizontal.svg"></a></li>
                <li class="float--left soft--left"><a class="link--grey" href="https://www.exportingisgreat.gov.uk/" title="part of great.gov.uk">Part of <strong>Great.gov.uk</strong></a></li>
              </ul>
            </div>
          </div>
          <div class="background--great-blue">
            <div class="outer-container">
              <a href="https://www.exportingisgreat.gov.uk" title="Go to the Exporting is great homepage" class="float--left">
                <img src="/static/images/EiG_logo_horizontal.svg" alt="Exporting is great logo" class="navigation-logo">
              </a>
            </div>
          </div>
          <div class="navigation-main background--dark-blue">
            <div class="navigation-main-section outer-container">
              <nav>
                <ul class="list-inline list-separators navigation-main-menu">
                  <li><a title="new to exporting" href="https://www.exportingisgreat.gov.uk/new/" class="navigation-main-link background--light-blue font-medium">New to exporting</a></li>
                  <li><a title="occasional exporter" href="https://www.exportingisgreat.gov.uk/occasional/" class="navigation-main-link background--light-blue font-medium">Occasional exporter</a></li>
                  <li><a title="regular exporter" href="https://www.exportingisgreat.gov.uk/regular/" class="navigation-main-link background--light-blue font-medium">Regular exporter</a></li>
                  <li><a href="https://www.exportingisgreat.gov.uk/opportunities" title="Export opportunities" class="navigation-main-link">Export opportunities</a></li>
                  <li><a href="http://find-a-buyer.export.great.gov.uk/" title="Find a buyer" class="navigation-main-link">Find a buyer</a></li>
                  <li><a href="https://selling-online-overseas.export.great.gov.uk/markets/" title="Selling online overseas" class="navigation-main-link navigation-main-link--active">Selling online overseas</a></li>
                  <li><a href="" title="UK Export Finance" class="navigation-main-link">UK Export Finance</a></li>
                  <li><a href="https://events.trade.gov.uk/" title="Export Events" class="navigation-main-link">Export events</a></li>
                </ul>
              </nav>
              <a class="button navigation-main-button font-white" title="" href=""><i class="icon icon-menu"></i>All</a>
            </div>
            <div class="navigation-toggle background--dark-navy">
              <div class="outer-container">
                <ul class="col-3">
                  <li class="navigation-toggle-item navigation-toggle-services"><a title="new to exporting" href="https://www.exportingisgreat.gov.uk/new/">New to exporting</a></li>
                  <li class="navigation-toggle-item navigation-toggle-services"><a title="occasional exporter" href="https://www.exportingisgreat.gov.uk/occasional/">Occasional exporter</a></li>
                  <li class="navigation-toggle-item navigation-toggle-services"><a title="regular exporter" href="https://www.exportingisgreat.gov.uk/regular/" class="last">Regular exporter</a></li>
                </ul>
                <ul class="col-3 navigation-toggle-middle">
                  <li class="navigation-toggle-item"><a href="https://www.exportingisgreat.gov.uk/opportunities" title="Export opportunities">Export opportunities</a></li>
                  <li class="navigation-toggle-item"><a href="http://find-a-buyer.export.great.gov.uk/" title="Find a buyer">Find a buyer</a></li>
                  <li class="navigation-toggle-item"><a href="https://selling-online-overseas.export.great.gov.uk/markets/" title="Selling online overseas" class="navigation-toggle-active">Selling online overseas</a></li>
                </ul>
                <ul class="col-3 navigation-toggle-middle">
                  <li class="navigation-toggle-item"><a href="" title="UK Export Finance">UK Export Finance</a></li>
                  <li class="navigation-toggle-item"><a href="https://events.trade.gov.uk/" title="Export Events">Export events</a></li>
                </ul>
                <ul class="col-3 navigation-toggle-middle">
                  <li class="navigation-toggle-item"><a href="https://www.exportingisgreat.gov.uk/about/" title="About">About</a></li>
                  <li class="navigation-toggle-item"><a href="https://contact-us.export.great.gov.uk/selling_online_overseas" title="Contact us" class="last">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endblock header %}
    </header>

    <main role="main">
      <div class="main">
        {% block content %}{% endblock content %}

        {% block feedback %}
          <section>
            <div class="section push--ends soft--ends">
              <div class="grid-row">
                <div class="column-one-whole push--top">
                  <a href="https://contact-us.export.great.gov.uk/feedback/selling_online_overseas" class="link link--regular">Help us improve this service</a>
                </div>
              </div>
            </div>
          </section>
        {% endblock %}
      </div>
    </main>

    <footer role="contentinfo">
        {% block footer %}
          <div class="footer background--great-blue soft--top">
            <div class="outer-container">
              <div class="footer-section">
                <div class="col-8">
                  <a href="https://www.exportingisgreat.gov.uk/" title="Go to the Exporting is Great homepage">
                    <img src="/static/images/EiG-logo-stacked.svg" alt="Exporting is Great logo" class="footer-logo">
                  </a>
                </div>

                <div class="col-4">
                  <ul class="footer-links footer-links--border">
                    <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/new/" title="New to exporting">New to exporting</a></li>
                    <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/occasional/" title="Occasional exporter">Occasional exporter</a></li>
                    <li><a href="https://www.exportingisgreat.gov.uk/regular/" title="Regular exporter">Regular exporter</a></li>
                  </ul>
                </div>
              </div>

              <div class="footer-section footer-section-right">

                <div class="col-6">
                  <ul class="footer-links footer-middle-section">
                    <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/opportunities" title="Export opportunities">Export opportunities</a></li>
                    <li class="push-half--bottom"><a href="https://find-a-buyer.export.great.gov.uk/" title="Find a buyer">Find a buyer</a></li>
                    <li class="push-half--bottom"><a href="https://selling-online-overseas.export.great.gov.uk/markets/" title="Selling online overseas">Selling online overseas</a></li>
                    <li class="push-half--bottom"><a href="" title="UK Export Finance">UK Export Finance</a></li>
                    <li class=""><a href="https://events.trade.gov.uk/" title="Exporting Events">Exporting Events</a></li>
                  </ul>
                </div>

                <div class="col-6">
                  <ul class="footer-links footer-links--border">
                    <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/about/" title="About">About</a></li>
                    <li class="push-half--bottom"><a href="https://contact-us.export.great.gov.uk/selling_online_overseas" title="Contact us">Contact us</a></li>
                    <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/privacy-and-cookies/" title="Privacy and Cookies">Privacy &amp; cookies</a></li>
                    <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/terms-and-conditions/" title="Terms and conditions">Terms &amp; conditions</a></li>
                    <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade" title="Department for International Trade">Department for International Trade</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="outer-container">
              <div class="footer-bottom">
                <div class="navigation-strip">
                  <ul class="list-inline list-separators">
                    <li class="float--left soft--right"><a class="logo-hmg" href="https://www.gov.uk/" title="hm government"><img src="/static/images/HM_Government_logo_horizontal.svg"></a></li>
                    <li class="float--left soft--left footer-links--border"><a class="link--grey"  href="https://www.exportingisgreat.gov.uk/" title="part of great.gov.uk">Part of <strong>GREAT.gov.uk</strong></a></li>
                  </ul>
                </div>
                <div class="footer-copy font-light-grey font-xsmall">
                  <p>&copy Crown copyright 2017. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        {% endblock footer %}
    </footer>
    {% block footer_javascript %}
      <script src="{% static "javascripts/all.js" %}"></script>
    {% endblock footer_javascript %}
  </body>
</html>
