{% load staticfiles %}
<!doctype html>
<!--[if IE 8]>    <html lang="en-us" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <title>{% block title %}E Navigator{% endblock title %}</title>
    {% block head_meta %}
      <meta name="description" content="{% block head_meta_description %}E Navigator{% endblock head_meta_description %}">
      {% block head_meta_charset %}
        <meta charset="utf-8">
      {% endblock head_meta_charset %}
      {% block head_meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_favicon %}
      <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
    {% endblock head_favicon %}
    {% block head_css %}
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
      <link href="{% static "stylesheets/govuk-template.css" %}" rel="stylesheet" media="screen">
      <link href="{% static "stylesheets/main.css" %}" rel="stylesheet" media="screen">
      <!--[if IE 8]><link href="{% static "stylesheets/ie8.css" %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    {% endblock head_css %}

    {% block google_tag_manager %}
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PB37DC');
      </script>
    {% endblock google_tag_manager %}

  </head>
  <body class='{% block body_class %}{% endblock %}'>

  {% block google_tag_manager_noscript %}
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB37DC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  {% endblock google_tag_manager_noscript %}

  <header role="banner"  class="">
      {% block header %}
      <div class="nav-intro background--indigo font-white font-xxsmall">
        <div class="section">
          <div class="grid-row">
            <div class="column-one-whole text--right soft-half--ends">
              <h3 class="inline push--right">Our services:</h3>
              <ul class="nav-intro">
                <li class="soft--right"><a class="" href="#">Exporting opportunities</a></li>
                <li class="soft--right"><a class="" href="#">Find a buyer</a></li>
                <li class="soft--right"><a class="" href="#">Selling online overseas</a></li>
                <li><a class="" href="#">Events</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div id="global-header">
          <div class="section">
            <div class="grid-row">
              <div class="column-one-third">
                <div class="header-global">
                  <div class="header-logo">
                    <a href="https://www.exportingisgreat.gov.uk" title="Go to the Exporting is great homepage">
                      <img src="/static/images/EiG-logo-withHMG.svg" alt="Exporting is great logo" class="header-main-logo">
                    </a>
                  </div>
                </div>
                <a href="" class="header-nav-toggle" title="">menu<i class="icon icon-menu"></i></a>
              </div>
              <div class="column-two-thirds" id="global-header--right">
                <div class="header-nav">
                  <div class="background--indigo soft-half--sides soft--ends header-nav--top">
                    <nav>
                      <h3 class="font-white">Our services:</h3>
                      <ul class="">
                        <li class="header-nav-link"><a class="font-reg" href="">Exporting opportunities</a></li>
                        <li class="header-nav-link"><a class="font-reg" href="">Find a buyer</a></li>
                        <li class="header-nav-link"><a class="font-reg" href="">Selling online overseas</a></li>
                        <li class="header-nav-link"><a class="font-reg" href="">Events</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="soft-half--left">
                    <nav>
                      <h3 class="font-white push--top desktop-only">Exporting is GREAT:</h3>
                      <ul class="">
                        <li class="header-nav-link"><a title="" href="" class="active">NEW TO EXPORTING</a></li>
                        <li class="header-nav-link"><a title="" href="">OCCASIONAL EXPORTER</a></li>
                        <li class="header-nav-link"><a title="" href="">REGULAR EXPORTER</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock header %}
    </header>

    <main role="main">
      <div class="main">
        <div class="section">
          <div class="grid-row">
            <div class="column-one-whole">
              <div class="breadcrumbs">
                {% block breadcrumbs %}
                  <ol>
                    <li><a href="/">Home</a></li>
                    {% if categories %}<li><a href="/step-two?{{ categories }}">Categories</a></li>{% endif %}
                    {% if market %}<li><a href="/markets?{{ markets }}">Markets</a></li>{% endif %}
                  </ol>
                {% endblock breadcrumbs %}
              </div>
            </div>
          </div>
        </div>

        {% block content %}{% endblock content %}

        {% block feedback %}
          <section>
            <div class="section push--ends soft--ends">
              <div class="grid-row">
                <div class="column-one-whole push--top">
                  <a href="https://contact-us.export.great.gov.uk/feedback/e_navigator" class="link link--regular">Help us improve this service</a>
                </div>
              </div>
            </div>
          </section>
        {% endblock %}
      </div>
    </main>

    <footer role="contentinfo">
      <div class="" id="footer" >
        {% block footer %}
        <div class="footer-wrapper">
          <div class="grid-row">
            <div class="column-one-third logo">
              <div class="footer-section footer-section--first">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage">
                  <img src="/static/images/footer_logo.png" alt="Gov.uk logo" class="footer-img footer-img--top">
                </a>
                <p class="font-xxxsmall font-lighter-grey font-light soft--bottom">&copy; Crown Copyright {% now 'Y' %}</p>
                <a href="https://www.gov.uk" title="Go to the Exporting is Great homepage">
                  <img src="/static/images/EiG-logo-stacked.svg" alt="Exporting is Great logo" class="footer-img footer-img--bottom footer-img--eig">
                </a>
              </div>
            </div>

            <div class="column-one-third links">
              <div class="footer-section">
                <h3 class="footer-header">Our services</h3>
                <ul>
                  <li class="footer-links"><a href="" title="">Exporting opportunities</a></li>
                  <li class="footer-links"><a href="" title="">Find a buyer</a></li>
                  <li class="footer-links"><a href="" title="">Selling online overseas</a></li>
                  <li class="footer-links"><a href="" title="">Events</a></li>
                </ul>
              </div>
            </div>

            <div class="column-one-third subscribe">
              <div class="footer-section">
                <h3 class="footer-header">Exporting is GREAT</h3>
                <ul>
                  <li class="footer-links"><a href="" title="">New to exporting</a></li>
                  <li class="footer-links"><a href="" title="">Occasional exporter</a></li>
                  <li class="footer-links"><a href="" title="">Regular exporter</a></li>
                  <li class="footer-links"><a href="" title="">About</a></li>
                  <li class="footer-links"><a href="" title="">Contact</a></li>
                  <li class="footer-links"><a href="" title="">Privacy &amp; cookies</a></li>
                  <li class="footer-links"><a href="" title="">Terms &amp; conditions</a></li>
                  <li class="footer-links"><a href="" title="">Department for International Trade</a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        {% endblock footer %}
      </div>
    </footer>
    {% block footer_javascript %}
      <script src="{% static "javascripts/all.js" %}"></script>
    {% endblock footer_javascript %}
  </body>
</html>
