{% load staticfiles %}
{% load utils %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}E Navigator{% endblock title %}</title>
    {% block head_meta %}
      <meta name="description" content="{% block head_meta_description %}E Navigator{% endblock head_meta_description %}">
      {% block head_meta_charset %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
      {% endblock head_meta_charset %}
      {% block head_meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block canonical %}
      <link rel="canonical" href="">
    {% endblock canonical %}
    {% block head_favicon %}
      <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
    {% endblock head_favicon %}
    {% block head_css %}
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="{% static "stylesheets/govuk-template.css" %}" rel="stylesheet" media="screen">
      <link href="{% static "stylesheets/main.css" %}" rel="stylesheet" media="screen">
    {% endblock head_css %}
  </head>
  <body class='{% block body_class %}{% endblock %}'>
    <header role="banner" id="global-header" class="">
      {% block header %}
      <div class="header-wrapper">
        <div class="section">
          <div class="grid-row">
            <div class="column-one-half">
              <div class="header-global">
                <div class="header-logo">
                  <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="" class="">
                    <img src="/static/images/EiG-logo.png" alt="" class="header-main-logo">
                  </a>
                </div>
              </div>
              <a href="" class="header-nav-toggle" title="">menu</a>
            </div>
            <div class="column-one-half">
              <nav>
                <ul class="header-nav">
                  <li class="header-nav-link"><a title="" href="" class="active">home</a></li>
                  <li class="header-nav-link"><a title="" href="">opportunities</a></li>
                  <li class="header-nav-link"><a title="" href="">online exports</a></li>
                  <li class="header-nav-link"><a title="" href="">support</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      {% endblock header %}
    </header>

    <main role="main">
      {% block breadcrumbs %}
        <div class="section">
          <div class="grid-row">
            <div class="column-one-whole">
              <div class="breadcrumbs">
                <ol>
                  {% breadcrumblink request.GET.urlencode 'region' as categories %}
                  {% breadcrumblink request.GET.urlencode 'product_categories' as market %}
                  {% breadcrumblink request.GET.urlencode 'region' 'product_categories'   as markets %}
                  <li><a href="/">Home</a></li>
                  {% if categories %}<li><a href="/step-two?{{ categories }}">Categories</a></li>{% endif %}
                  {% if market %}<li><a href="/markets?{{ markets }}">Markets</a></li>{% endif %}
                </ol>
              </div>
            </div>
          </div>
        </div>
      {% endblock breadcrumbs %}

      {% block content %}{% endblock content %}

      {% block feedback %}
      <section>
        <div class="section">
          <div class="grid-row">
            <div class="column-one-whole push--ends">
              <a href="{% url 'contact:feedback_submit' %}">Tell us what you think?</a>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
    </main>


    <footer class="group js-footer" id="footer" role="contentinfo">
      {% block footer %}
      <div class="footer-wrapper">
          <div class="grid-row">
            <div class="column-one-third logo">
              <div class="footer-section">
              <a href="https://www.gov.uk" title="Go to the GOV.UK homepage">
                <img src="/static/images/footer_logo.png" alt="" class="footer-img footer-img--top">
              </a>
              <a href="https://www.gov.uk" title="Go to the GOV.UK homepage">
                <img src="/static/images/EiG-logo.png" alt="" class="footer-img">
              </a>
            </div>
          </div>

          <div class="column-one-third links">
            <div class="footer-section">
              <ul class="footer-links">
                <li><a href="" title="">opportunities</a></li>
                <li><a href="" title="">online export</a></li>
                <li><a href="" title="">support</a></li>
                <li><a href="" title="">contact us</a></li>
                <li><a href="" title="">privacy and cookies</a></li>
                <li><a href="" title="">terms &amp; conditions</a></li>
              </ul>
            </div>
          </div>

          <div class="column-one-third subscribe">
            <div class="footer-section">
              <h3>get your guide to exporting</h3>
              <form>
                <label class="form-label" for="full-name-f1">enter your email address</label>
                <input class="form-control" id="full-name-f1" type="text">
                <button class="button button-red" type="submit">Submit</button>
              </form>
            </div>
          </div>

        </div>

      </div>
      {% endblock footer %}
    </footer>
    {% block footer_javascript %}
      <script src="{% static "javascripts/all.js" %}"></script>
    {% endblock footer_javascript %}
  </body>
</html>
