{% extends 'thumber/feedback.html' %}

{% block thumber_form %}
<div class="cf">
  <div class="col-3">&nbsp;</div>
  <div class="col-6">
    <div class="audit audit--white text--center" id="audit">
      <i class="icon icon-feedback--grey">
        <span class="visuallyhidden">feedback</span>
      </i>
      <h3 class="h3 font-med audit-header">{{ satisfied_wording }}</h3>
      <form action="{{ request.get_full_path }}" method="post" class="audit-form thumber-form">
        {% csrf_token %}
        {{ thumber_form.thumber_token }}
        <div class="thumber-radio-inputs">
          {{ thumber_form.satisfied }}
        </div>
        <div class="thumber-radio-buttons" style="display:none;">
          <div class="audit-button float--left text--left">
            <button class="button button-border push--bottom" data-value="True" data-scrollTo="audit">{{ yes_wording }}</button>
          </div>
          <div class="audit-button float--left text--right">
            <button class="button button-border push--bottom" data-value="False" data-scrollTo="audit">{{ no_wording }}</button>
          </div>
        </div>
        <div class="audit-text-section ">
          <fieldset>
            <div class="push--bottom">
              <textarea class="form-control form-textarea col-12" id="thumber_comment" name="comment" cols="40" rows="5" placeholder="{{ comment_placeholder }}"></textarea>
            </div>
          </fieldset>
          <div class="audit-button audit-button--send text--right float--right hard--right">
            <input class="button button-border" type="submit" value="{{ submit_wording }}" />
          </div>
        </div>
      </form>
    </div>
    <div class="audit-thank hide">
      <i class="icon icon-thankyou--grey">
        <span class="visuallyhidden">Thank you</span>
      </i>
      <h3 class="font-large font-med audit-header">{{ thanks_message }}</h3>
    </div>
    <div class="audit-error hide">
      <i class="icon icon-error--grey">
        <span class="visuallyhidden">error</span>
      </i>
      <h3 class="font-large font-med audit-header">{{ error_message}}</h3>
      <p>Please try again later, or <a href="https://contact-us.export.great.gov.uk/feedback/selling_online_overseas/" title="feedback">use the feedback form</a></p>
    </div>
  </div>
  <div class="col-3">&nbsp;</div>
</div>
{% endblock %}

{% block non_js_success %}
<div class="audit">
  <i class="icon icon-thankyou--grey">
    <span class="visuallyhidden">Thank you</span>
  </i>
  <h3 class="font-large font-med audit-header">{{ thanks_message }}</h3>
</div>
{% endblock %}