.column-one-half,
.column-one-third,
.column-two-thirds {
  float: left;
}

.column-one-half {
  width: 50%;
}

.column-one-third {
  width: 33.33333%;
}

.column-two-thirds {
  width: 66.66667%;
}


#footer {
  .footer-wrapper {
    margin: 0 auto;
  }
}

.section {
  margin: 0 auto;
}
