$image-path: '/static/images/icons/pngs/';

$backgrounds-image-ie8: (
  'bank-account' 'bank_account.png',
  'logistics' 'logistics.png',
  'users' 'registered_users.png',
  'fees' 'fees.png',
  'commission' 'commission.png'
);

$icons-ie8: (
  'users' 'registered_users.png',
  'ok' 'tick_yes.png',
  'products' 'product.png',
  'on-boarding' 'onboarding.png',
  'fees' 'fees.png',
  'next-step' 'nextsteps.png',
  'consider' 'consideration.png',
  'adviser' 'adviser_tip.png',
  'cross' 'tick_no.png',
  'menu' 'menu.png',
  'support' 'support.png',
  'logistics' 'logistics.png',
  'bank' 'bank_account.png',
  'translation' 'translation.png',
  'translation--white' 'translation-white.png',
  'countries' 'region.png',
  'countries--white' 'region-white.png',
);
