{% extends "base.html" %}

{% block content %}

  <div class="outer-container push--top soft--top stories">

    <div class="stories-header">
      <span class="heading-sub font-mid-grey">Case study</span>
      <h1 class="heading-xlarge push--bottom flush--top">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>

      <p class="heading-sub">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
    </div>
    <div class="cf">
      <div class="stories-image-section push--bottom">
        <img src="/static/images/case-story/maxwellscottbags.jpg" class="stories-img--large" alt=""/>
      </div>
      <div class="stories-quote-section push--bottom">
        <aside>
          <blockquote class="background--light-stone soft quote-left">
            <p class="">At least 50% of our profits come from exporting via e-marketplaces. <br /> If we didn’t export online, we wouldn’t have a business.</p>
            <footer class="font-lig ">
              <strong class="font-small">Trevor Ginn</strong>
              <br />
              <span>Founder | <a href="" class="link" title="">Maxx scotts</a> </span>
            </footer>
          </blockquote>
        </aside>
      </div>
    </div>
    <div class="cf font-xsmall">
      <div class="stories-main">
        <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum</p>

        <p>passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>

        <blockquote class="background--light-stone soft quote-left push--ends">
          <p class="">At least 50% of our profits come from exporting via e-marketplaces. <br /> If we didn’t export online, we wouldn’t have a business.</p>
          <footer class="font-lig push--top soft--top">
            <strong class="font-small">Trevor Ginn</strong>
            <br />
            <span>Founder | <a href="" class="link" title="">Maxx scotts</a> </span>
          </footer>
        </blockquote>

        <p>It has survived not only five centuries, but also the leap <a href="" class="link" title="">Selling Online Overseas Service</a> </p>
      </div>
    </div>

    <div class="cf push--top border-top soft--top stories-more">
      <h3 class="h3 font-med flush--top push--bottom">More case studies</h3>
      <a href="/markets/story/" class="col-6 soft--bottom" title="">
        <div class="stories-more-image">
          <img src="/static/images/case-story/freestylextreme.jpg"  alt=""/>
        </div>
        <div class="stories-more-info">
          <h4 class="font-small font-brand">lorem lorem</h4>
          <p class="font-brand">asdasd asdasd asdasda sdasd asdasdas d orem Ipsum is simply dummy text of the asdasd asdasd asdasda sdasd asdasdas d orem Ipsum is </p>
        </div>
      </a>
      <a href="/markets/story/" class="col-6 soft--bottom" title="">
        <div class="stories-more-image">
          <img src="/static/images/case-story/hellobaby.jpg" alt=""/>
        </div>
        <div class="stories-more-info">
          <h4 class="font-small font-brand">lorem lorem</h4>
          <p class="font-brand">asdasd asdasd asdasda sdasd asdasdas d orem Ipsum is simply dummy text of the asdasd asdasd asdasda sdasd asdasdas d orem Ipsum is </p>
        </div>
      </a>
    </div>
  </div>

{% endblock content %}
