{% extends "base.html" %}

{% block body_class %}details3{% endblock %}
{% load static utils %}

{% block content %}

  <div class='grid-row'>
    <h1 class='heading-xlarge column-three-quarters'>{{ market.name }}</h1>
    <p class='column-one-quarter heading-last-updated font-xxsmall'>Last updated: {{ market.last_modified|date:"d/m/Y" }}</p>
  </div>

  <div class='grid-row detail-intro'>
    <div class='column-one-half'>
      <img src='{{ market.logo.base64_logo }}' width='100' height='100' alt=''>
      <dl>
        <dt>Region:</dt>
        <dd>{{market|regions}}</dd>
        <dt>Countries served:</dt>
        <dd>{{market|countries}}</dd>
        <dt>Website:</dt>
        <dd><a href='{{market.web_address}}'>{{market.web_address}}</a></dd>
      </dl>
      <p>{{ market.description|safe }}</p>
    </div>
    <div class='column-one-half'>
      <div class='detail-ukti-terms'>
        <ul class="soft">
          <li class="list list-market--extra">
            <h4 class="font-xxsmall">Website traffic</h4>
            <p class="flush--bottom">{{ market.web_traffic }}</p>
            <p class="font-xxsmall flush--bottom flush--top">unique visitors / month</p>
          </li>
          <li class="list list-market--extra">
            <div class="font-xxsmall flush--bottom flush--top">{{ market.misc11|safe }}</div>
          </li>
          <li class="list list-market--extra">
            <div class="font-xxsmall flush--bottom flush--top">{{ market.misc12|safe }}</div>
          </li>
          <li class="list list-market--extra">
            <div class="font-xxsmall flush--bottom flush--top">{{ market.misc13|safe }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='grid-row detail-row'>
    <h3>Site</h3>
    <dl>
      <li>
        <dt>Site traffic</dt>
        <dd>{{ market.web_traffic }} unique visitors / month</dd>
      </li>
      <li>
        <dt>Platform type</dt>
        <dd>{{ market.platform_type }}</dd>
      </li>
      <li>
        <dt>Demographic profile</dt>
        <dd>{{ market.misc14|safe }}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Products</h3>
    <dl>
      <li>
        <dt>Product categories</dt>
        <dd>{% for category in market.product_categories.all %}{{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
      </li>
      <li>
        <dt>Positioning</dt>
        <dd>{{ market.get_product_type_display }}</dd>
      </li>
      <li>
        <dt>Product upload process</dt>
        <dd>{{ market.misc15|safe }}</dd>
      </li>
      <hr>
      <li class='wider breaker'>
        <dt>Customer Service &amp; Returns</dt>
        <dd>{{ market.buyers_customer_service|safe }}</dd>
      </li>
      <li>
        <dt>Customer Support</dt>
        <dd>{{ market.misc16|safe }}</dd>
      </li>
      <li class='breaker'>
        <dt>Local return address</dt>
        <dd>{{ market.misc17|safe }}</dd>
      </li>
      <li>
        <dt>Return rates</dt>
        <dd>{{ market.misc18|safe }}</dd>
      </li>
      <li>
        <dt>Marketing &amp; Merchandising</dt>
        <dd>{{ market.misc19|safe }}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>On Boarding</h3>
    <dl>
      <li>
        <dt>Local incorporation</dt>
        <dd>{{ market.misc20|safe }}</dd>
      </li>
      <li>
        <dt>Local back account</dt>
        <dd>{{ market.misc21|safe }}</dd>
      </li>
      <li>
        <dt>Exclusivity</dt>
        <dd>{{ market.misc22|safe }}</dd>
      </li>
      <li class='breaker'>
        <dt>Logistics structure</dt>
        <dd>{{ market.get_logistics_structure_display }}</dd>
      </li>
      <li>
        <dt>Transalation</dt>
        <dd>{{ market.misc23|safe }}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Payment terms</h3>
    <dl>
      <li>
        <dt>Payment time</dt>
        <dd>{{ market.misc24|safe }}</dd>
      </li>
      <li>
        <dt>Exchange rate</dt>
        <dd>{{ market.misc25|safe }}</dd>
      </li>
      <li>
        <dt>Lifetime</dt>
        <dd>{{ market.misc26|safe }}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Fees &amp; Pricing structure</h3>
    <dl>
      <li>
        <dt>Registration fee</dt>
        <dd>{{ market.registration_fees|safe }}</dd>
      </li>
      <li class='wider'>
        <dt>Commision</dt>
        <dd>{{ market.referral_fees|safe }}</dd>
      </li>
      <li class='breaker'>
        <dt>Bond required</dt>
        <dd>{{ market.misc26|safe }}</dd>
      </li>
      <li class='wider'>
        <dt>Additional fees</dt>
        <dd>{{ market.additional_fees|safe }}</dd>
      </li>
      <li class='ukti-terms breaker'>
        <dt>UKTI Terms</dt>
        <dd>{{ market.ukti_terms|safe }}</dd>
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row'>
    <h3>Legal requirements</h3>
    <dl>
      <li>
        <dt>Prohibited items</dt>
        <dd>{{ market.prohibited_items|safe }}</dd>
      </li>
      <li class='wider'>
        <dt>Local laws</dt>
        <dd>{{ market.local_laws|safe }}</dd> 
      </li>
    </dl>
  </div>

  <div class='grid-row detail-row consider-row'>
    <h3>Things you need to consider</h3>
    <p>{{ market.things_to_consider|safe }}</p>
  </div>

  <div class='grid-row next-steps'>
    <h2>Next steps</h2>
    <p>To register interest and start the process please fill out this form.</p>
    <a href='#TODO' class='button'>Register your interest</a>
  </div>

{% endblock content %}

{% block feedback %}{# deliberately blank #}{% endblock %}

{% block footer %}
  <div class="footer-wrapper">
    <div class="grid-row background--grey push--top soft">
      <div class="soft-half">
        <p class="float--left soft-half--top flush--ends push--right">Was this page helpful?</p>
        <button class="button button-border push-half--right">Yes</button>
        <button class="button button-border">No</button>
      </div>
    </div>
  </div>
{% endblock footer %}
