{% extends "base.html" %}

{% block body_class %}details3{% endblock %}
{% load static utils %}

{% block content %}
<div class="section">
  <div class="grid-row">
    <div class="column-one-whole">

      <div class='grid-row'>
        <h1 class='heading-xlarge column-three-quarters'>{{ market.name }}</h1>
        <p class='column-one-quarter heading-last-updated font-xxsmall'>Last updated: {{ market.last_modified|date:"d/m/Y" }}</p>
      </div>

      <div class='grid-row detail-intro'>
        <div class='column-one-half'>
          <img src='{{ market.logo.base64_logo }}' width='100' height='100' alt=''>
          <dl>
            <dt>Markets:</dt>
            <dd>{{ market | csl:'countries_served' }}</dd>
            <dt>Website:</dt>
            <dd><a href='{{market.web_address}}'>{{ market.web_address }}</a></dd>
          </dl>
          <p>{{ market.description }}</p>
        </div>
        <div class='column-one-half'>
          <div class='detail-ukti-terms'>
            <ul class="soft">
              <li class="list list-market--extra">
                <h4>5.2 million</h4>
                <p class="font-xxsmall flush--bottom flush--top">registered users</p>
              </li>
              <li class="list list-market--extra">
                <div class="font-xxsmall flush--bottom flush--top">
                  <h4>Logistic support</h4>
                  <ul class="list list-bullet flush--bottom">
                    {% for model in market.logistics_structure.all %}
                    <li>{{ model.name }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              <li class="list list-market--extra">
                <div class="font-xxsmall flush--bottom flush--top">
                  <h4>Receive payments to</h4>
                  <ul class="list list-bullet flush--bottom">
                    <li>{% if market.local_bank_account_needed %}Non-UK{% else %}UK{% endif %} bank account</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class='grid-row detail-row'>
        <h3>Site</h3>
        <dl>
          <li>
            <dt>Number of registered users</dt>
            <dd>{{ market.web_traffic }} million</dd>
          </li>
          <li class='wider'>
            <dt>Customer demographics</dt>
            <dd>{{ market.customer_demographics|safe }}</dd>
          </li>
        </dl>
      </div>

      <div class='grid-row detail-row'>
        <h3>Products</h3>
        <dl>
          <li>
            <dt>Seller model</dt>
            {% for model in market.seller_model.all %}
              <dd>{{ model.name }}</dd>
            {% endfor %}
          </li>
          <li>
            <dt>Product positioning</dt>
            {% for type in market.product_type.all %}
              <dd>{{ type.name }}</dd>
            {% endfor %}
          </li>
          <li>
            <dt>Well-known brands</dt>
            <dd>{{ market | csl:'famous_brands_on_marketplace' }}</dd>
          </li>
          <hr>
          <li>
            <dt>Customer support channels</dt>
            <dd>{{ market | csl:'customer_support_channels' }}</dd>
          </li>
          <li>
            <dt>Customer support hours</dt>
            <dd>{{ market | csl:'customer_support_hours' }}</dd>
          </li>
          <li class='wider'>
            <dt>Marketing and merchandising</dt>
            <dd>{{ market.marketing_merchandising | safe }}</dd>
          </li>
        </dl>
      </div>

      <div class='grid-row detail-row'>
        <h3>On Boarding</h3>
        <dl>
          <li>
            <dt>Local bank account needed</dt>
            {% if market.local_bank_account_needed %}
              <dd>&#10004; Required</dd>
            {% else %}
              <dd>&#10007; Not required</dd>
            {% endif %}
          </li>
          <li>
            <dt>Local incorporation needed</dt>
            {% if market.local_incorporation_needed %}
              <dd>&#10004; Required</dd>
            {% else %}
              <dd>&#10007; Not required</dd>
            {% endif %}
          </li>
          <li>
            <dt>Exclusivity</dt>
            {% if market.exclusivity_required %}
              <dd>&#10004; Required</dd>
            {% else %}
              <dd>&#10007; Not required</dd>
            {% endif %}
          </li>
          <li class='breaker'>
            <dt>Logistics model</dt>
            <dd>{{ market.get_logistics_structure_display }}</dd>
          </li>
          <li>
            <dt>Shipping tracking required</dt>
            {% if market.shipping_tracking_required %}
              <dd>&#10004; Required</dd>
            {% else %}
              <dd>&#10007; Not required</dd>
            {% endif %}
          </li>
          <li>
            <dt>Local return address required</dt>
            {% if market.local_return_address_required %}
              <dd>&#10004; Required</dd>
            {% else %}
              <dd>&#10007; Not required</dd>
            {% endif %}
          </li>
          <li class='breaker'>
            <dt>Product details upload process</dt>
            <dd>{{ market | csl:'product_details_upload' }}</dd>
          </li>
          <li>
            <dt>Translation</dt>
              <dd>{% if market.translation_verbal %} &#10004; {% else %} &#10007; {% endif %} Translation needed for negotiation</dd>
              <dd>{% if market.translation_application_process %} &#10004; {% else %} &#10007; {% endif %} Translation needed for application process</dd>
              <dd>{% if market.translation_product_content %} &#10004; {% else %} &#10007; {% endif %} Translation needed for product content</dd>
              <dd>{% if market.translation_seller_support %} &#10004; {% else %} &#10007; {% endif %} Translation needed for seller support</dd>
          </li>
          <li>
            <dt>Seller support type</dt>
            <dd>{{ market | csl:'seller_support_channels' }}</dd>
          </li>
          <li>
            <dt>Seller support hours</dt>
            <dd>{{ market.seller_support_hours }}</dd>
          </li>
        </dl>
      </div>

      <div class='grid-row detail-row'>
        <h3>Payment</h3>
        <dl>
          <li>
            <dt>Sale to payment duration</dt>
            <dd>{{ market.payment_terms_days }}</dd>
          </li>
          <li class='wider'>
            <dt>Currency</dt>
            <dd>{{ market | csl:'currency_of_payments' }}</dd>
          </li>
        </dl>
      </div>

      <div class='grid-row detail-row'>
        <h3>Fees and pricing</h3>
        <dl>
          <li>
            <dt>Registration</dt>
            {% if market.registration_fees %}
              <dd>&#10004; Required</dd>
            {% else %}
              <dd>&#10007; Not required</dd>
            {% endif %}
          </li>
          <li>
            <dt>Membership</dt>
            {% if market.membership_fees > 0 %}
              <dd>£{{ market.membership_fees }} {{ market.membership_fees_frequency }}</dd>
            {% else %}
              <dd>&#10007; Not required</dd>
            {% endif %}
          </li>
          <li>
            <dt>Fee per listing</dt>
            {% if market.fee_per_listing %}
              <dd>&#10004; Yes</dd>
            {% else %}
              <dd>&#10007; No</dd>
            {% endif %}
          </li>
          <li class='ukti-terms breaker'>
            <dt>UKTI Terms</dt>
            <dd>{{ market.ukti_terms|safe }}</dd>
          </li>
          <li>
            <dt>Bond</dt>
              {% if market.deposit_needed > 0 %}
                <dd>£{{ market.deposit_amount }}</dd>
              {% else %}
                <dd>&#10007; Not required</dd>
              {% endif %}
          </li>
          <li>
            <dt>Commission</dt>
            <dd>{{ market.commission }}</dd>
          </li>
        </dl>
      </div>

      <div class='grid-row detail-row'>
        <h3>Next steps</h3>
        <ul>
          <li class='column-one-third'>
            <div class='background--grey-dark push--bottom soft'>
              <p>To start the application process, fill out this form on the {{ market.name }} website.</p>
              <p class="font-xxxsmall soft--bottom">{{ market.name }} usually contact sellers within 5 business days.</p>
              <div class="text--center soft--bottom">
                <a href='#TODO' class='button button-blue'>Go to Amazon</a>
              </div>
            </div>
          </li>
          <li class='column-one-third'>
            <div class='background--grey-dark soft'>
              <p>If you have any outstanding questions and need further assitance contact UKTI.</p>
              <p class="font-xxxsmall soft--bottom">UKTI has a long waiting list, we usually get back to you within 14 days</p>
              <div class="text--center soft--bottom">
                <a href='#TODO' class='button button-blue'>Contact UKTI</a>
              </div>
            </div>
          </li>
          <li class='column-one-third'>
            <div class='background--grey-dark soft'>
              <p>Get a list of trusted aggregator companies who can do the hard work for you.</p>
              <p class="font-xxxsmall soft--bottom">Most aggregators will contact you within 2 business days.</p>
              <div class="text--center soft--bottom">
                <a href='#TODO' class='button button-blue'>Get an aggregator</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block feedback %}{# deliberately blank #}{% endblock %}

{% block footer %}
  <div class="footer-wrapper">
    <div class="grid-row background--grey push--top soft">
      <div class="soft-half">
        <p class="float--left soft-half--top flush--ends push--right">Was this page helpful?</p>
        <button class="button button-border push-half--right">Yes</button>
        <button class="button button-border">No</button>
      </div>
    </div>
  </div>
{% endblock footer %}
