{% extends "base.html" %}

{% block breadcrumbs %}
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/markets/filter/">Filter</a></li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
	<div class="section">
	  <div class="grid-row">
		<div class="column-one-whole">
          <h1 class="heading-large flush--top">Find online marketplaces overseas</h1>
          <p class="sub-heading">Please use the filters to narrow down your results</p>

          <div class="filters">
            <form id='results-form' method="get" action="{% url 'markets:list' %}" data-count-action='{% url "markets:count" %}'>
              <fieldset>
                <legend class="visuallyhidden">Please use the filters to narrow down your results</legend>
                <ul class="inline">
                  <li class="push-half--bottom cf">
                    <div class="column-one-third hard--left soft-half--right">
                      <div class="background--stone filters-container soft">
                          {% with form.countries_served as field and 'Choose country' as default and 'Where do you want to sell your products?' as label %}
                            {% include "markets/includes/selectbox.html" %}
                          {% endwith %}
                      </div>
                    </div>
                    <div class="column-two-thirds hard--left soft-half--right">
                      <div class="background--stone filters-container soft">
                        <h3 class="filters-header font-med font-small push--bottom">Which of these best describes your products?</h3>
                        <legend class="visuallyhidden">Which of these best describes your products?</legend>
                        {% with form.product_type as field %}
                        {% include "markets/includes/multiplecheckbox.html" %}
                        {% endwith %}
                      </div>
                    </div>
                  </li>
                  <li class="push-half--bottom cf">
                    <div class="column-one-third hard--left soft-half--right">
                        <div class="background--stone filters-container soft">
                          {% with form.product_categories as field and 'Choose product category' as default and 'What products do you sell?' as label  %}
                            {% include "markets/includes/selectbox.html" %}
                          {% endwith %}
                        </div>
                    </div>
                    <div class="column-two-thirds hard--left soft-half--right">
                      <div id='results-count' class="background--blue filters-container soft filters-result">
                        <h4 class="heading-xlarge flush">{{results_count}}</h4>
                        <p>Online marketplaces listed</p>
                        <button class='button button-result' type='submit'>See results</button>
                      </div>
                    </div>
                  </li>
                  <li class="push-half--bottom cf">

                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
		</div>
	  </div>
	</div>

{% endblock content %}
