{% extends "base.html" %}

{% block breadcrumbs %}
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/markets/filter/">Filter</a></li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
	<div class="section push--top soft--top">
	  <div class="grid-row">
		<div class="column-one-whole">
          <h1 class="heading-xlarge flush--top">Selling online overseas</h1>
        </div>
        <div class="results">
          <form id='results-form' method="get" action="{% url 'markets:list' %}" data-count-action='{% url "markets:count" %}'>
            <fieldset>
              <legend class="visuallyhidden">Please select countries and products</legend>
              <ul class="inline">
                <li class="push-half--bottom cf">
                  <div class="column-one-third">
                    <div id='results-count' class="soft--bottom">
                      <p class="flush results-title">Online marketplaces:</p>
                      <h4 class="heading-xxlarge font-purple flush results-count">{{results_count}}</h4>
                    </div>
                  </div>
                  <div class="column-two-thirds">
                    <div class="form-dropdown push--bottom soft--bottom">
                      <h4 class="heading-small form-dropdown-header font-med flush--top">What kind of products do you sell?</h4>
                      <label class="form-label font-small font-brand push--bottom" for="search-product">Product name (optional)</label>
                      <span id="search-product-suggestion"></span>
                      <input class="form-control form-dropdown-input column-one-whole" id="search-product" type="text" data-url="/products/api/" data-field="product_categories" autocomplete="off">
                      <ul class="form-dropdown-results"></ul>
                      <ul class="form-dropdown-tags"></ul>
                    </div>

                    <div class="form-dropdown push--bottom soft--top">
                      <h4 class="heading-small form-dropdown-header font-med flush--top">Where do you want to sell them?</h4>
                      <label class="form-label font-small font-brand push--bottom" for="search-country">Country name (optional)</label>
                      <input class="form-control form-dropdown-input column-one-whole" id="search-country" type="text" data-url="/geography/api/" data-field="countries_served" autocomplete="off">
                      <ul class="form-dropdown-results"></ul>
                      <ul class="form-dropdown-tags"></ul>
                      <ul class="form-dropdown-checkbox hide"></ul>
                    </div>
                    <button class='button button-blue button-large push--top' type='submit'>See results</button>
                  </div>
                </li>
              </ul>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

{% endblock content %}
