{% extends "base.html" %}

{% block content %}
  <div class="section">
    <div class="grid-row">
      <div class="column-five-eights home">
        <h1 class='heading-xlarge push--bottom flush--top'>Find online marketplaces</h1>

        <p class="heading-sub push--bottom">Use this service to help choose a suitable online marketplace to sell your products overseas.</p>

        <h2 class="heading-small push--bottom">Find out:</h2>

        <ul class="list list-bullet push--bottom">
          <li>which are the major online markets in overseas countries</li>
          <li>if there is a suitable marketplace to sell your products</li>
          <li>about costs and logistics</li>
          <li>how to proceed and join a marketplace</li>
          <li>special terms negotiated by the Department for International Trade</li>
        </ul>
        <a class='button button-blue button-large push--ends button-start' href='{% url 'markets:filtering' %}' title="start now">Start now</a>
      </div>

      <div class="column-three-eighths">
        <aside>
          <div class="home-info background--stone">
            <h4 class="heading-small font-med push-half--top">Essential information</h4>
            <dl class="soft--bottom">

              <dt class="soft--top">Marketplaces in database:</dt>
              <dd><strong>{{ market_count }}</strong></dd>

              <dt class="soft--top">Last updated:</dt>
              <dd><strong>{{ last_updated|date:"d M Y" }}</strong></dd>

              <dt class="soft--top">Find out more about selling online overseas:</dt>
              <dd class="soft--bottom"><a href="https://www.exportingisgreat.gov.uk" title="Guide to online export" class="link link--regular">Practical advice about <br /> e-commerce</a></dd>
            </dl>
          </div>
        </aside>
      </div>
    </div>
  </div>
{% endblock content %}
