{% extends "base.html" %}

{% load static utils %}

{% block content %}
<div class="section">
  <div class="grid-row">
    <div class="column-one-whole heading">
      <h1 class="heading-large">
        <span class="heading-secondary">Find ecommerce marketplaces overseas</span>
        <span class="heading-results">{{ markets_list.count }} option{{markets_list|pluralize}} found</span>
      </h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid-row">

      {% if markets_list %}
      <ul class="list list-market">
        {% for market in markets_list %}
          <li class="list-market--item cf">
            <div class="column-three-fifths list-left">
              <div class="push--right">
                <div class="cf">
                  <div class="column-one-quarter">
                    <img src="{{ market.logo.base64_logo }}" class="image-full">
                  </div>
                  <div class="column-three-quarters">
                    <div class="push--left">
                      <h3 class="heading-medium flush--top push--bottom">{{ market.name }}</h3>
                      <ul>
                        <li class="list-market--info">Countries: {{ market|csl:'countries_served' }}</li>
                        <li class="list-market--info">Website: <a href="{{ market.web_address }}">{{ market.web_address }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p class="soft--top hard--left">{{ market.description }}</p>
                <a class="button button-blue push-half--right" href="{% url 'markets:detail' market.id %}">Full Profile</a>
              </div>
            </div>
            <div class="column-two-fifths background--grey">
              <ul class="soft">
                <li class="list list-market--extra">
                  <h4>5.2 million</h4>
                  <p class="font-xxsmall flush--bottom flush--top">registered users</p>
                </li>
                <li class="list list-market--extra">
                  <div class="font-xxsmall flush--bottom flush--top">
                    <h4>Logistic support</h4>
                    <ul class="list list-bullet flush--bottom">
                      {% for model in market.logistics_structure.all %}
                        <li>{{ model.name }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
                <li class="list list-market--extra">
                  <div class="font-xxsmall flush--bottom flush--top">
                    <h4>Receive payments to</h4>
                    <ul class="list list-bullet flush--bottom">
                      <li>{% if market.local_bank_account_needed %}Non-UK{% else %}UK{% endif %} bank account</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No market options are available.</p>
      {% endif %}
  </div>
</div>

{% endblock content %}
