{% extends "base.html" %}

{% block title %}Shortlist | Selling online overseas{% endblock title %}

{% block head_meta_description %}Read and review the results. Compare, then select online marketplaces that are suitable for your products.{% endblock head_meta_description %}

{% load static utils %}

{% block content %}
  <div class="outer-container push--top soft--top">
    <div class="">
      <div class="cf">
          <h1 class="push--bottom h3">
            Your shortlisted marketplaces
          </h1>
          <div class="font-mid-blue float--left"><strong>{{ shortlist_count }}</strong><i class="icon icon-shortlisted float--right shortlist-icon" data-modal-button="sorting"></i></div>
      </div>

      <ul class="shortlist-list" id="scroll-top">
        {% include "markets/includes/market_list.html" %}
      </ul>
    </div>
  </div>

{% endblock content %}
