{% extends "base.html" %}

{% block content %}
<div class="form-success background--aqua">
  <div class="section">
    <div class="grid-row text--center font-white soft--top">
      <div class="column-one-whole soft--ends">
        <span class="form-success-icon"><img src="/static/images/submitted.svg" alt="application sent"></span>

        <h1 class="heading-large push-half--bottom soft--top form-success-header">Your application has been sent.</h1>
        <p class="heading-small font-med">What happens next?</p>
      </div>
      <div class="cf soft--top">
        <div class="column-one-third form-success-section"><span>1</span><p>A member of staff at the Department for International Trade wil review your application.</p></div>
        <div class="column-one-third form-success-section"><span>2</span><p>Respond to you within 5 working days. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
        <div class="column-one-third form-success-section"><span>3</span><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p></div>
      </div>
      <div class="column-one-whole soft--ends push--top">
        <a href="" class="">< Go back to details</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
