@import '../generic/mixins';

.audit {
  border-top: 3px solid $stone;
  margin-top: 20px;
  padding-top: 30px;
  position: relative;

  &-button {
    width: 42%;

    .button {
      width: 100%;
      background-color: $gradient-end;
      border: 2px solid $active-blue;
      color: $active-blue;
      @include media ($tablet) {
        width: 90%;
      }

    }

    &--send {
      @include media($mobile) {
        width: 100%;
      }

      .button {
        width: 100%;

        @include media($desktop-only) {
          width: 70%;
        }
      }
    }
  }

  &-content{
    width: 50%;
    margin: 0 auto;
  }

  .form-textarea {
    width: 100%;
  }

  .icon {
    background-size: 30px;
    display: inline-block;
    height: 30px;
    position: relative;
    top: 7px;
    width: 30px;
  }

  &-header {
    display: inline-block;
    margin-bottom: 25px;
    font-weight: bold;
  }

  .button {
    @extend %medium;
    @extend %font-large;
  }

  &--white {
    border-color: $mid-grey;
  }
}
