@import '../generic/mixins';

.audit {
  border-top: 3px solid $stone;
  margin-top: 20px;
  padding-top: 30px;
  position: relative;

  &-button {
    width: 46.2%;

    .button {
      width: 100%;
      background-color: $gradient-end;
      border: 2px solid $active-blue;
      color: $active-blue;
    }

    @media screen and (max-width: 980px) {
      width: 100%;
    }

    &--send {
      @include media($mobile) {
        width: 100%;
      }

      .button {
        width: 100%;
        line-height: 18px;
      }
    }
  }

  &-content{
    width: 50%;
    margin: 0 auto;
  }

  .form-textarea {
    width: 100%;
  }

  .icon {
    background-size: 60px;
    display: inline-block;
    height: 60px;
    width: 60px;
    position: relative;
    top: 7px;
  }

  &-header {
    display: inline-block;
    margin-bottom: 25px;
    font-weight: bold;
  }

  .button {
    @extend %medium;
    @extend %font-large;
  }

  &--white {
    border-color: $mid-grey;
  }
}
