@import '../generic/mixins';

.audit {
  position: relative;

  .button-ghost-blue {
    min-width: 170px;
  }

  &-content{
    width: 50%;
    margin: 0 auto;
  }

  .form-textarea {
    width: 100%;
  }

  .icon {
    background-size: 60px;
    display: inline-block;
    height: 60px;
    width: 60px;
    position: relative;
    top: 7px;
  }

  &-header {
    display: inline-block;
    margin-bottom: 25px;
    font-weight: bold;
  }

  .button {
    @extend %medium;
    @extend %font-large;
  }

  &--white {
    border-color: $mid-grey;
  }



  @media screen and (min-width: 641px) {

    .feedback-header {
      text-align: center;
    }
    &-form {
      text-align: center;
      margin: 0 auto;
    }

    .container {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid $stone;
    }
  }
}
