.button {
  @extend %medium;
  @include prefix((border-radius: 3px), webkit moz);
  @include prefix((box-sizing: border-box), webkit moz);
  -webkit-appearance: none;
  border: 0;
  box-shadow: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  display: -moz-inline-stack;
  font-family: $brand-font-family;
  line-height: 25px;
  position: relative;
  text-decoration: none;
  vertical-align: top;

  &:focus {
    outline: 3px solid $focus-yellow;
  }

  &:disabled {
    cursor: default;
    filter: alpha(opacity=50);
    opacity: .5;
    zoom: 1;

    &:hover {
      background-color: transparent;
      color: inherit;
    }
  }

  &-medium {
    @extend %font-large;
    padding: 16px 30px;
  }

  &-close {
    background-color: transparent;
    font-weight: 300;
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    &:before {
      @extend %font-large;
      color: $flag-red;
      content: 'X';
      font-size: 24px;
      left: -35px;
      top: -5px;
    }
  }

  &-start {
    background-image: none;
  }

  @include media ($mobile) {
    font-size: 18px;
    padding: 14px;
    text-align: center;
    width: 100%;
  }

  &-border {
    border: 2px solid;
    padding: {
      bottom: 14px;
      top: 14px;
    };
  }

  &-block {
    display: block;
  }

  &-full {
    width: 100%;
  }
}

.js-enabled {
  .button-submit {
    display: none;
  }
}

.arrow-button {
  padding: 15px 75px 15px 15px;
  text-align: left;

  &:after {
    padding-right: 15px;
    text-align: right;
  }

  @media screen and (min-width: 960px) {
    padding-left: 20px;
    &:after {
      padding-right: 20px;
    }
  }
}

@each $name, $bg-color, $visited, $hover, $color, $color-hover, $bg-image, $outline, $active, $focus-color in $button {
  .button {

    &-#{$name} {
      background-color: $bg-color;
      @if $bg-image != null {
        background-image: url($bg-image);
      }
      color: $color;
      outline: $outline;

      &:visited {
        background-color: $visited;
        color: $color-hover;
      }

      &:hover {
        background-color: $hover;
        color: $color-hover;
      }

      &:focus,
      &:active {
        background-color: $active;
        color: $focus-color;
      }
    }
  }
}
