@import '../vars';

.read-time {
  border-top: 3px solid $stone;
  display: table;
  padding-top: 5px;
  margin: 1em 0;

  dt {
    color: $mid-grey;
    display: inline;
    margin-right: 5px;
  }

  dd {
    display: inline;
  }
}
