.shortlist {
  &-items {
    height: 20px;
    width: 100%;

    &--short {
      margin-top: 5px;
      width: auto;

      @include media($tablet) {
        margin-top: 35px;
      }


      @include media($mobile) {
        margin-top: 5px;
      }
    }
  }

  &-icon {
    bottom: 0;
    height: 21px;
    left: 0;
    margin: auto 0 auto 5px;
    position: relative;
    top: -2px;
    width: 21px;

    &--large {
      height: 35px;
      width: 35px;
    }
  }

  &-notify {
    @include prefix((box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .44)), moz webkit);
    background-color: $mid-blue;
    color: $white;
    left: -23px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 275px;

    &:before {
      border: {
        bottom: 10px solid $mid-blue;
        left: 8px solid transparent;
        right: 8px solid transparent;
      }
      content: '';
      height: 0;
      left: 25px;
      position: absolute;
      top: -10px;
      width: 0;
    }

    @include media($mobile) {
      width: auto;
    }
  }

  &-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    z-index: 2;

    .icon {
      margin: auto 0;
      position: absolute;
      top: 0;
    }
  }

  &-remove {
    border-bottom: 1px solid;
    margin-top: 3px;
  }
}
