@import '../colors/colors.scss';
@import '../fonts/main.scss';

.great-footer{
    background-color: $color-footer;

    .great-footer-logo-container{
        padding:0;
    }

    nav{
    display: flex;
    justify-content: center;
    margin:auto;
    padding:0;

    ul {
      margin: 80px 0 $x-large-padding 0;
      max-width: $content-max-width;
      display: inline-flex;
      gap: $large-padding;
      flex-wrap: wrap;

      @media only screen and (max-width: $mobile-size) {
        flex-direction: column;
        margin: 115px $large-padding 52px $large-padding;
      }

      li{
        margin:0!important;
      }

      > li a {
        font-family: $main-text-font;
        font-size: $font-size-p!important;
        color: $color-alternative-text;
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
        cursor: pointer;
      }

     
    }
  }
}