@import './buttons.scss';
@import './thematic-break.scss';
@import './page-header.scss';
@import './footer.scss';
@import './mobile-menu.scss';

a:focus:active,
button:focus:active {
  background-color: initial;
}
