@import './buttons.scss';
@import './thematic-break.scss';
@import './page-header.scss';
@import './footer.scss';
@import './mobile-menu.scss';
@import './header.scss';
@import "node_modules/govuk-frontend/govuk/all";

a:focus:active,
button:focus:active {
  background-color: initial;
}
