@import "../colors/colors.scss";
@import "../fonts/typography.scss";
@import "../sizes/sizes.scss";

$hero-image: url("/selling-online-overseas/static/images/hero-image.png");
@mixin vertical-alignment {
  background: $color-main-background !important;
  height: auto;
  background-size: 0% auto;
  padding-top: $x-large-padding;
  padding-bottom: 0;
  margin: 0;
  gap: $standard-padding;

  button,
  .button {
    width: 100%;
  }

  p.sub-header {
    padding-bottom: $standard-padding * 0.5;
  }

  .inner-header {
    @media only screen and (min-width: $mobile-size) {
      min-height: 355px;
    }
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 1.5 * $standard-padding;
    flex-direction: column;
    gap: $standard-padding;

    > div:first-child {
      height: auto;
      min-width: fit-content;
      flex: 1;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .image-container {
    display: flex;
    flex: 1;
    height: 0;
    padding-top: 45%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-position-y: bottom !important;
    background-position-x: 5vw !important;
    background: $hero-image;

    @media only screen and (max-width: $mobile-size) {
      display: none;
    }
  }
}

.page-header {
  position: relative;
  background-color: $color-main-background !important;
  width: 100%;
  min-height: 355px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;

  .search-bar {
    width: 100%;
    padding: 30px;
    margin: 0;
    max-width: 1600px;

    @media only screen and (min-width: (1290px + $x-large-padding)) {
      padding: 30px 0;
    }

       @media only screen and (min-width: 1320px) and (max-width: 1600px) {
      margin-left: calc( (100vw - 1320px)/2 + 60px)
    }

         @media only screen and (min-width: 1600px) and (max-width: 2000px){
     margin-left: calc(200px - ((100vw - 1600px)/1600 * 1000) + 30px)
         }

    .search-form {
      width: 100%;
      padding: 30px;
      background-color: $color-grey-background !important;
      @media only screen and (max-width: $mobile-size) {
        padding: 15px;
      }
    }

    @media only screen and (min-width: $mobile-size) {
      margin-top: -62px;
      bottom: 0;
      position: absolute;
    }

    @media only screen and (min-width: $mobile-size) and (max-width: 980px) {
      padding: 20px;
      padding-bottom: 10px;
    }

    @media only screen and (max-width: $mobile-size) {
      padding: 0;
      margin-bottom: 15px;
      padding-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  // @media only screen and (min-width: 1290px) {
  //   margin-left: auto;
  // }

  @media only screen and (min-width: 2030px) {
    margin: auto;
    padding-left: 380px;
  }

  @media only screen and (min-width: 1280px) and (max-width: 2030px) {
    margin: auto;
    padding-left: calc((100vw - 1280px) / 2);
  }

  .inner-header {
    @media only screen and (min-width: $mobile-size) {
      min-height: 400px;
      max-width: $max-header-width;
      width: 100%;
      height: 100%;
      margin-left: $x-large-padding;
      display: inline-flex;
    }

    @media only screen and (min-width: $mobile-size) and (max-width: 980px) {
      margin-left: $large-padding;
    }

    // @media only screen and (min-width: (1290px + (2 * $x-large-padding))) {
    //   margin-left: calc((100vw - (1290 + $x-large-padding)) / 2 + 43px);
    // }

    > div:first-child {
      padding-top: 60px;
      padding-bottom: 60px;
      flex: 1;
      min-width: 560px;

      box-sizing: border-box;

      h1 {
        @media only screen and (max-width: 980px) {
          font-size: $font-size-h2;
          line-height: 40px;
        }
      }

      button {
        min-width: initial;
      }

      p {
        margin-top: $standard-padding;
        margin-bottom: $large-padding;
      }

      p.sub-header {
        color: $color-subheading-text;
        margin-bottom: 0px;

        @media only screen and (min-width: $mobile-size) {
          font-size: 24px;
          margin-bottom: $standard-padding;
        }
      }
    }

    .image-container {
      width: 100%;
      flex: 2;
      background-repeat: no-repeat !important;
      background-size: auto 100% !important;
      background: $hero-image;

      @media only screen and (min-width: $mobile-size) and (max-width: 980px) {
        margin-left: -14%;
      }

      @media only screen and (max-width: $mobile-size) {
        display: none;
      }

      &:not(.image-full-width) {
        @media only screen and (min-width: 980px) {
          background-position-y: 50% !important;
        }
      }
    }
  }

  &.stack-at-tablet-width {
    @media only screen and (max-width: 900px) {
      @include vertical-alignment;
    }
  }

  @media only screen and (max-width: $mobile-size) {
    @include vertical-alignment;
  }
}

.mobile-image-container {
  display: none;
  @media only screen and (max-width: $mobile-size) {
    display: block;
    height: 280px;
    background: $hero-image;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
