@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours';

$base-spacing-unit: 20px;
$half-spacing-unit: $base-spacing-unit / 2;

$image-path: '/static/images/';

// FONTS
$brand-font-family: 'Roboto', arial, helvetica, sans-serif;

// BRAND COLOURS
$great-primary: #1e1348;
$great-secondary: #e41f13;
$flag-red: #b00d23;
$stone: #dfd5c5;
$light-stone: #f6f4f1;
$grey: #333;
$mid-grey: #999;
$lighter-grey: #dce0df;
$light-grey: $lighter-grey;
$bright-grey: #fafafa;
$purple: #4f0b7b;
$mid-blue: #00549f;
$aqua: #007ea3;
$navy: #003666;
$turquoise: #3ed3ff;
$graphite: #292929;
$indigo: #110b29;
$lighter-grey-opacity: rgba(220, 224, 223, .5);
$transparent-background: rgba(0, 0, 0, .65);
$dark-navy: #160d37;
$dark-blue: #132965;
$bright-grey-opacity: rgba(250, 250, 250, .9);
$light-aqua: #8ae2fb;
$gradient-start: rgba(0, 0, 0, 1);
$gradient-end: rgba(0, 0, 0, 0);
$lightest-grey: #d8d8d8;

// FONTS
$brand-font-family: 'Roboto', arial, helvetica, sans-serif;
$quote-font-family: georgia, serif;

//BODY
$body-background-color: $bright-grey;
$tap-highlight-color: rgba(0, 126, 163, .5);

// HEADER
$logo-width: 300px;

$button-blue-bg-color: $mid-blue;
$button-blue-bg-color--visited: $mid-blue;
$button-blue-bg-color--hover: $navy;
$button-blue-color: $white;
$button-blue-color-hover: $white;
$button-blue-outline: 0;
$button-blue-focus-color: $white;

$button-transparent-bg-color: $link-colour;
$button-transparent-bg-color--visited: transparent;
$button-transparent-bg-color--hover: transparent;
$button-transparent-color: $link-colour;
$button-transparent-color-hover: $link-colour;
$button-transparent-outline: 0;
$button-transparent-focus-color: $white;

$button-white-bg-color: $white;
$button-white-bg-color--visited: $white;
$button-white-bg-color--hover: $white;
$button-white-color: $link-colour;
$button-white-color-hover: $link-colour;
$button-white-outline: 0;
$button-white-focus-color: $white;

$button-grey-bg-color: $grey-3;
$button-grey-bg-color--visited: $white;
$button-grey-bg-color--hover: $white;
$button-grey-color: $link-colour;
$button-grey-color-hover: $link-colour;
$button-grey-outline: 0;
$button-grey-focus-color: $white;

$button-border-bg-color: transparent;
$button-border-bg-color--visited: transparent;
$button-border-bg-color--hover: $white;
$button-border-color: $grey;
$button-border-color-hover: $aqua;
$button-border-outline: 0;
$button-border-focus-color: $white;

$button-border-blue-bg-color: transparent;
$button-border-blue-bg-color--visited: transparent;
$button-border-blue-bg-color--hover: transparent;
$button-border-blue-color: $mid-blue;
$button-border-blue-color-hover: $aqua;
$button-border-blue-outline: 0;
$button-border-blue-focus-color: $white;

$button-border-red-bg-color: transparent;
$button-border-red-bg-color--visited: transparent;
$button-border-red-bg-color--hover: transparent;
$button-border-red-color: $great-secondary;
$button-border-red-color-hover: $flag-red;
$button-border-red-outline: 0;
$button-border-red--focus-color: $white;

$button-border-white-bg-color: transparent;
$button-border-white-bg-color--visited: transparent;
$button-border-white-bg-color--hover: $white;
$button-border-white-color: $white;
$button-border-white-color-hover: $aqua;
$button-border-white-outline: 0;
$button-border-white--focus-color: $white;

$button-red-bg-color: $great-secondary;
$button-red-bg-color--visited: $flag-red;
$button-red-bg-color--hover: $flag-red;
$button-red-color: $white;
$button-red-color-hover: $white;
$button-red-outline: 0;
$button-red-focus-color: $white;


$backgrounds: (
  'grey' $grey-3,
  'grey-dark' $grey-2,
  'grey-darker' $secondary-text-colour,
  'grey-darkest' $grey,
  'blue' $link-colour,
  'stone' $stone,
  'light-stone' $light-stone,
  'great-primary' $great-primary,
  'indigo' $indigo,
  'lighter-grey' $lighter-grey,
  'aqua' $aqua,
  'dark-navy' $dark-navy,
  'great-blue' $great-primary,
  'dark-blue' $dark-blue,
  'light-blue' $mid-blue,
  'bright-grey' $bright-grey,
  'bright-grey-opacity' $bright-grey,
  'bright-grey-opacity' $bright-grey-opacity,
  'light-aqua' $light-aqua,
  'white' $white
);

$backgrounds-image: (
  'bank-account' 'icons/bank_account.svg',
  'logistics' 'icons/logistics.svg',
  'users' 'icons/registered_users.svg',
  'fees' 'icons/fees.svg',
  'commission' 'icons/commission.svg',
  'hero' 'hero/startpage_hero_desktop.jpg' 'hero/tablet/startpage_hero_tablet.jpg',
  'carousel-fx' 'carousel/carousel_fx.jpg' null 'carousel/carousel_fx_mobile.jpg',
  'carousel-hb' 'carousel/carousel_hb.jpg' null 'carousel/carousel_hb_mobile.jpg',
  'carousel-msb' 'carousel/carousel_msb.jpg' null 'carousel/carousel_msb_mobile.jpg'
);

$button: (
  'blue' $button-blue-bg-color $button-blue-bg-color--visited $button-blue-bg-color--hover $button-blue-color $button-blue-color-hover null $button-blue-outline $aqua $button-blue-focus-color,
  'transparent' $button-transparent-bg-color $button-transparent-bg-color--visited $button-transparent-bg-color--hover $button-transparent-color $button-transparent-color-hover null $button-transparent-outline $aqua $button-transparent-focus-color,
  'white' $button-white-bg-color $button-white-bg-color--visited $button-white-bg-color--hover $button-white-color $button-white-color-hover null $button-white-outline $aqua $button-white-focus-color,
  'grey' $button-grey-bg-color $button-grey-bg-color--visited $button-grey-bg-color--hover $button-grey-color $button-grey-color-hover null $button-grey-outline $aqua $button-grey-focus-color,
  'border' $button-border-bg-color $button-border-bg-color--visited $button-border-bg-color--hover $button-border-color $button-border-color-hover null $button-border-outline $aqua $button-border-focus-color,
  'border--blue' $button-border-blue-bg-color $button-border-blue-bg-color--visited $button-border-blue-bg-color--hover $button-border-blue-color $button-border-blue-color-hover null $button-border-outline $aqua $button-border-blue-focus-color,
  'border--red' $button-border-red-bg-color $button-border-red-bg-color--visited $button-border-red-bg-color--hover $button-border-red-color $button-border-red-color-hover null $button-border-red-outline $aqua $button-border-red--focus-color,
  'border--white' $button-border-white-bg-color $button-border-white-bg-color--visited $button-border-white-bg-color--hover $button-border-white-color $button-border-white-color-hover null $button-border-white-outline $aqua $button-border-white--focus-color,
  'red' $button-red-bg-color $button-red-bg-color--visited $button-red-bg-color--hover $button-red-color $button-red-color-hover null $button-red-outline $aqua $button-red-focus-color
);


//FORMS
$form-field-height: 40px;
$form-tab-color: #777;
