// Path to assets for use with file-url()
$path: '/selling-online-overseas/static/images/';

@import 'node_modules/slick-carousel/slick/slick.scss';

// bourbon grid
@import 'new_styles/neat/grid-settings';
@import 'neat';

@import 'new_styles/vars';
@import 'vars';

@import 'generic/mixins';
@import 'generic/animation';
@import 'generic/helpers';
@import 'generic/icons';
@import 'new_styles/utilities/placeholders';
@import 'new_styles/utilities/grid';
@import 'new_styles/utilities/typography';

@import 'base/background';
@import 'base/list';
@import 'base/typography';
@import 'base/headings';
@import 'base/form';
@import 'new_styles/elements/links';

@import 'components/buttons';
@import 'components/tooltip';
@import 'components/dynamic-dropdown';
@import 'components/nav-intro';
@import 'components/audit';
@import 'components/stories';
@import 'components/steps';
@import 'components/hero';
@import 'components/logo-strip';
@import 'components/carousel';
@import 'components/autocomplete';
@import 'components/toggle';
@import 'components/story-cards';
@import 'components/read-time';
@import 'components/triage';
@import 'components/modal';
@import 'components/shortlist';

@import 'pages/detail';
@import 'pages/markets';
@import 'pages/case-study';

@import 'base/header-footer-fixes'; // overrides for any broken header/footer styling
