// copied from transformation/pages/landing

@import 'transformation/config';
@import 'transformation/forms';
// EDIT transformation/pages/landing
@import 'transformation/components/breadcrumbs';
// END EDIT
@import 'transformation/components/opportunity_list';
@import 'transformation/components/search_form';
@import 'transformation/components/steps_indicator';
@import 'transformation/components/quote';
@import 'transformation/components/summary_list';
@import 'transformation/components/filter_select';
@import 'transformation/effects/carousel';
@import 'transformation/effects/tabbed_area';
@import 'pages/homepage';

$body-background-color: $white;


.card-grid,.flex-grid {
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.card-grid,.card-grid>*,.flex-grid,.flex-grid>* {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.card-grid>*,.flex-grid>* {
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
 // width: 100%
}

.card {
  min-height: auto;
}

#content {
  padding-top: 0;
}

// EDIT
section {
  padding: $spacing-3 0;
  background-color: white;
}


// END EDIT

.mobile-hidden {
  @media screen and (max-width: 767px) {
    @include access-hidden;
  }
}

.button-medium {
  font-weight: bold;
}

.benefit {
  @include items(3, $spacing-3);
  padding-top: $spacing-1;

  p {
    @include body-s;
    color: $mid-grey;
  }
}

.breadcrumbs {
  a {
    color: inherit;
  }
}

.companies {
  border-top: 1px solid $grey;
  clear: both;
  padding-top: $spacing-3;

  img {
    background-color: $mid-grey;
    display: block;
    height: 210px;
    width: 100%;
  }

  .company {
    @include items(3, $spacing-3);
  }
}

.feedback {
  display: none;
}
//error
.search-section {
  // padding-bottom: 10px;

  p {
    width: $cols-6;
  }

  .error {
    position: relative;

    select,
    [type='search'] {
      border-color: $flag-red;
      outline: $flag-red solid 1px;
    }

    .SimpleFormRestrictorError {
      color: $flag-red;
      font-weight: bold;
      margin-bottom: 5px;
      padding-left: $spacing-4;
      width: 100%;

      &:before {
        background-color: $flag-red;
        content: "";
        height: calc(100% - (#{$spacing-3} * 2));
        left: $spacing-3;
        position: absolute;
        top: $spacing-3;
        width: 3px;
      }
    }

    .term {
      margin-left: $spacing-4;
      width:  $cols-6;// calc(50% - #{$spacing-4});
    }
  }
}




.heading-large {
  margin-top: 0
}




.non-breadcrumb {
  margin-bottom: $spacing-4;
}

.quote {
  margin-left: auto;
  margin-right: auto;
  width: $cols-6;
}

.sector {
  @include body-m;
}

.Carousel {
  margin: 0 auto;
  width: $cols-6;
}

.pagination a {
  margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
  .heading-large {
    margin-top: 30px;
    line-height: 1.2;
  }

  .pagination {
    width: 75%;
    margin: 0 auto;

    a {
      margin-bottom: 0;
    }
  }
}