{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}

{% block head_title %}Selling online overseas{% endblock head_title %}

{% block head_sharing_metadata %}
    {{ block.super }}
    <meta name="description" content="{% block head_meta_description %}Selling online overseas{% endblock head_meta_description %}">
{% endblock %}

{% block head_css %}
  {{ block.super }}
    <!--[if IE 8]><link href="{% static "stylesheets/ie8.css" %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
{% endblock %}

{% block head_other %}
    <meta name="google-site-verification" content="UsYPpFjZgK_HPJX0BmyaiSEFr6VDk-8kD4NARXzhhCE" />
{% endblock %}

{% block body_header %}
    {% include 'directory_components/header_footer/domestic_header.html' %}
{% endblock %}

{% block body_footer %}
  {% include 'directory_components/header_footer/domestic_footer.html' %}
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script src="{% static 'javascripts/all.js' %}"></script>
  {% block extra_js %}
    {# needed for thumbor #}
  {% endblock %}
{% endblock %}
