@import '../../reskin-styles/sizes/sizes.scss';


.search-form {
  width: 100%;
  background-color: transparent;
  display: inline-flex;
  flex-wrap: wrap;
  gap:10px;
  max-width: $content-max-width;
  margin-bottom: 0;

  button, >div{
    flex-grow: 1;
  }

  @media only screen and (max-width: $mobile-size) {
 >div, button{
  width: 100%;
 }
}

  button{
    min-width: 258px;
  }

  .search-filters + button{
    margin-left: 10px;
  }

  label {
    margin-bottom: 0;
  }

  input {
    height: 54px;
    margin: 0;
  }

  select {
    background-color: $white;
    float: left;
    font-size: 16px;
    margin: 0;
    position: relative;
    width: 100%;
    background-color: white!important;
    background: linear-gradient(45deg,transparent 50%,#000 0),linear-gradient(135deg,#000 50%,transparent 0),linear-gradient(90deg,#fff,#fff);
    background-position: calc(100% - 23px) 1em,calc(100% - 13px) 1em;
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }

}

